// custom fonts styles ============================================ 

/*!
Do not attempt to copy, install or redistribute 
these fonts. */

// SIMPLER NAMES

// LubalinDemiIBM = Lubalin-Medium
// LubalinGraphStdBookIBM = Lubalin-Book

// HelvLightIBM = Helvetica-Light
// HelvRegularIBM = Helvetica-Regular
// HelvBoldIBM = Helvetica-Bold

@font-face {
    font-family: 'LubalinDemiIBM';
    src: url('#{$fontPath}/lubalinforibm-demi-webfont.eot'); /* IE9 Compat Modes */
    src: url('#{$fontPath}/lubalinforibm-demi-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$fontPath}/lubalinforibm-demi-webfont.woff') format('woff'), /* Modern Browsers */
         url('#{$fontPath}/lubalinforibm-demi-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('#{$fontPath}/lubalinforibm-demi-webfont.svg#LubalinDemiIBM') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LubalinGraphStdBookIBM';
    src: url('#{$fontPath}/lubalingraphstd-book-webfont.eot');
    src: url('#{$fontPath}/lubalingraphstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}/lubalingraphstd-book-webfont.woff') format('woff'),
         url('#{$fontPath}/lubalingraphstd-book-webfont.ttf') format('truetype'),
         url('#{$fontPath}/lubalingraphstd-book-webfont.svg#LubalinGraphStdBookIBM') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelvLightIBM';
    src: url('#{$fontPath}/helvneueforibm-light-webfont.eot');
    src: url('#{$fontPath}/helvneueforibm-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}/helvneueforibm-light-webfont.woff') format('woff'),
         url('#{$fontPath}/helvneueforibm-light-webfont.ttf') format('truetype'),
         url('#{$fontPath}/helvneueforibm-light-webfont.svg#HelvLightIBM') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'HelvRegularIBM';
    src: url('#{$fontPath}/helveticaneue-webfont.eot');
    src: url('#{$fontPath}/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}/helveticaneue-webfont.woff') format('woff'),
         url('#{$fontPath}/helveticaneue-webfont.ttf') format('truetype'),
         url('#{$fontPath}/helveticaneue-webfont.svg#HelvRegularIBM') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelvBoldIBM';
    src: url('#{$fontPath}/helvneueforibm-bold-webfont.eot');
    src: url('#{$fontPath}/helvneueforibm-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}/helvneueforibm-bold-webfont.woff') format('woff'),
         url('#{$fontPath}/helvneueforibm-bold-webfont.ttf') format('truetype'),
         url('#{$fontPath}/helvneueforibm-bold-webfont.svg#HelvBoldIBM') format('svg');
    font-weight: bold;
    font-style: normal;
}

// v17e latin font styles begin ============================================

html body {
	font-family: $defaultFont;
}

#ibm-top h1,
#ibm-top h2,
#ibm-top h3,
#ibm-top h4,
#ibm-top strong {
	font-family: $defaultHeaderFont;
}

#ibm-top #ibm-navigation #ibm-overview a,
#ibm-top #ibm-navigation .ibm-active {
	font-family: $defaultHeaderFont;
}

#ibm-top #ibm-content-head em, 
#ibm-top #ibm-content #ibm-leadspace-head em {
	font-family: $defaultHeaderFont;
}

#ibm-top.ibm-landing-page #ibm-leadspace-head p em span {
	font-family: $defaultHeaderFont;
}

#ibm-top #ibm-content-nav #ibm-primary-tabs a,
#ibm-top #ibm-content-nav #ibm-secondary-tabs a {
	font-family: "HelvRegularIBM",Arial,sans-serif;
}

// Bold primary buttons
#ibm-top [class*="ibm-btn-"][class*="-pri"] {
	font-family: $defaultHeaderFont;
}

#ibm-top table caption em,
#ibm-top table th {
	font-family: $defaultHeaderFont;
}

#ibm-top .ibm-pull-quote.ibm-alternate-font blockquote p,
#ibm-top .ibm-pullquote-open.ibm-alternate-font, 
#ibm-top .ibm-pullquote-close.ibm-alternate-font {
	font-family: $defaultFont;
}
