// expert locator styles begin ============================================


//Forward Thinkers adaptive overrides

.ibm-el-W300px, .ibm-el-W172px, .ibm-el-W140px {
    width: 100% !important;
}

.ibm-el-carousel-cnt {
    height: auto !important;
}


.ibm-el-coverflowV17 {
    height: auto !important;
}


.ibm-el-H12px {
    margin-bottom: 10px;
}

.ibm-el-row a.ibm-el-read-less {
    display: block;
}

@media only screen and (max-width: 800px) and (min-width: 641px) {
    .ibm-el-six2CoverImage {
        width: 100% !important;
        max-width: 80% !important;
    }
}


@media only screen and (max-width: 640px) and (min-width: 569px) {
    .ibm-el-six2CoverImage {
        max-width: 70% !important;
    }

    .ibm-el-six2CoverImage .ibm-el-hdthumbV17.Six2Col {
    margin-left: 2px !important;
    }
}

@media only screen and (max-width: 568px) and (min-width: 0) {
    .ibm-el-six2CoverImage {
        width: 240px !important;
        max-width: 100% !important;
    }

    .ibm-el-six2CoverImage .ibm-el-hdthumbV17.Six2Col {
        margin-left: 14px !important;
    }
}




//SMA overrides

@media (-webkit-min-device-pixel-ratio: 1.3),
       (-o-min-device-pixel-ratio: 2.6/2),
       (min--moz-device-pixel-ratio: 1.3),
       (min-device-pixel-ratio: 1.3),
       (min-resolution: 1.3dppx) {
 
        .actions {
            font-size: 14px;
            overflow: hidden;

            a {
                line-height: 28px;
            }

            a.retweet, a.reply, a.fav {
                padding: 0 0 0 28px;
                background: url('../i/beta/twitter-spritev2_300.png') no-repeat -32px center;
                background-size: 249px 28px;
            }

            a.retweet {
                background-position: -154px 0;

                &:hover {
                    background-position: -186px 0;
                }
            }

            a.reply {
                background-position: 8px 0;

                &:hover {
                    background-position: -24px 0;
                }
            }

            a.fav {
                background-position: -59px 0;

                &:hover {
                    background-position: -91px 0;
                }
            }
        } 


        .smaShareBubble {

            width: 170px;

            span {
                height: 32px;
                width: 34px;

                &.digg {
                   background: url(http://1.www.s81c.com/i/v17/icons/ibm_sprite_share_32x32_HOVER.png) no-repeat 0 0 transparent;
                }

                &.facebook {
                   background: url(http://1.www.s81c.com/i/v17/icons/ibm_sprite_share_32x32_HOVER.png) no-repeat 0 -420px transparent;
                }

                &.twitter {
                   background: url(http://1.www.s81c.com/i/v17/icons/ibm_sprite_share_32x32_HOVER.png) no-repeat 0 -840px transparent;
                }

                &.delicious {
                   background: url(http://1.www.s81c.com/i/v17/icons/ibm_sprite_share_32x32_HOVER.png) no-repeat 0 -210px transparent;
                }

                &.linkedin {
                   background: url(http://1.www.s81c.com/i/v17/icons/ibm_sprite_share_32x32_HOVER.png) no-repeat 0 -630px transparent;
                }
            }
             

        }  
}


.smaEmbedded.dijitContainer {
    width: 100% !important;
}