// expert locator styles begin ============================================


//Forward Thinkers adaptive overrides

.ibm-el-W300px {
    width: 100% !important;
}

.ibm-el-carousel-cnt {
    height: auto !important;
}


.ibm-el-coverflowV17 {
    height: auto !important;
}


.ibm-el-H12px {
    margin-bottom: 10px;
}



@media only screen and (max-width: 800px) and (min-width: 641px) {
    .ibm-el-six2CoverImage {
        width: 100% !important;
        max-width: 80% !important;
    }
}


@media only screen and (max-width: 640px) and (min-width: 569px) {
    .ibm-el-six2CoverImage {
        max-width: 70% !important;
    }

    .ibm-el-six2CoverImage .ibm-el-hdthumbV17.Six2Col {
    margin-left: 2px !important;
    }
}

@media only screen and (max-width: 568px) and (min-width: 0) {
    .ibm-el-six2CoverImage {
        width: 240px !important;
        max-width: 100% !important;
    }

    .ibm-el-six2CoverImage .ibm-el-hdthumbV17.Six2Col {
        margin-left: 14px !important;
    }
}




//SMA overrides


.smaEmbedded.dijitContainer {
    width: 100% !important;
}