// fonts styles ============================================ 

/*!
This CSS resource incorporates links to font software which is
the valuable copyrighted property of Monotype Imaging and/or
its suppliers. You may not attempt to copy, install, redistribute, convert,
modify or reverse engineer this font software. Please contact Monotype Imaging
with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/


// SIMPLER NAMES

// Helvetica-Light
// Helvetica-Roman
// Helvetica-Medium
// Helvetica-Bold
// Janson-Roman
// Janson-Italic
// Lubalin-Book
// Lubalin-Medium

@import url("//fast.fonts.com/t/1.css?apiType=css&projectid=4ade0897-739b-4f43-b54a-0fb60e8cfcb2");
@font-face{
font-family:"Helvetica-Light";
src:url("#{$fontPath}/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?iefix") format("eot");}
@font-face{
font-family:"Helvetica-Light";
src:url("#{$fontPath}/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?iefix");
src:url("#{$fontPath}/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),url("#{$fontPath}/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),url("#{$fontPath}/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}
@font-face{
font-family:"Helvetica-Roman";
src:url("#{$fontPath}/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?iefix") format("eot");}
@font-face{
font-family:"Helvetica-Roman";
src:url("#{$fontPath}/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?iefix");
src:url("#{$fontPath}/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"),url("#{$fontPath}/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"),url("#{$fontPath}/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}
@font-face{
font-family:"Helvetica-Medium";
src:url("#{$fontPath}/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?iefix") format("eot");}
@font-face{
font-family:"Helvetica-Medium";
src:url("#{$fontPath}/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?iefix");
src:url("#{$fontPath}/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"),url("#{$fontPath}/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"),url("#{$fontPath}/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg");
}
@font-face{
font-family:"Helvetica-Bold";
src:url("#{$fontPath}/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?iefix") format("eot");}
@font-face{
font-family:"Helvetica-Bold";
src:url("#{$fontPath}/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?iefix");
src:url("#{$fontPath}/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"),url("#{$fontPath}/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"),url("#{$fontPath}/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}
@font-face{
font-family:"Janson-Roman";
src:url("#{$fontPath}/8081ebb1-2954-49b2-a5e7-01b16e5af2c1.eot?iefix") format("eot");}
@font-face{
font-family:"Janson-Roman";
src:url("#{$fontPath}/8081ebb1-2954-49b2-a5e7-01b16e5af2c1.eot?iefix");
src:url("#{$fontPath}/1a018c91-8b9e-4a66-8972-3ae4217085f6.woff") format("woff"),url("#{$fontPath}/5c93df2f-b27e-4a1f-80b5-47204b4f0284.ttf") format("truetype"),url("#{$fontPath}/363ce73c-76a1-4239-bd54-69322566b968.svg#363ce73c-76a1-4239-bd54-69322566b968") format("svg");
}
@font-face{
font-family:"Janson-Italic";
src:url("#{$fontPath}/fd0cfd53-00d2-4f4c-94f8-f880927b634d.eot?iefix") format("eot");}
@font-face{
font-family:"Janson-Italic";
src:url("#{$fontPath}/fd0cfd53-00d2-4f4c-94f8-f880927b634d.eot?iefix");
src:url("#{$fontPath}/f15b0119-d12d-4a9c-ba3f-54ffb2165679.woff") format("woff"),url("#{$fontPath}/c635a795-1ecc-4da9-be84-7fe69737fb5c.ttf") format("truetype"),url("#{$fontPath}/35a6a1ce-797d-47f5-92d9-e4bd3cea1c60.svg#35a6a1ce-797d-47f5-92d9-e4bd3cea1c60") format("svg");
}
@font-face{
font-family:"Lubalin-Book";
src:url("#{$fontPath}/dba232c1-9c23-4a6c-aa91-659205e8e868.eot?iefix") format("eot");}
@font-face{
font-family:"Lubalin-Book";
src:url("#{$fontPath}/dba232c1-9c23-4a6c-aa91-659205e8e868.eot?iefix");
src:url("#{$fontPath}/08d26b1f-edba-4c24-871e-8f265f017896.woff") format("woff"),url("#{$fontPath}/1663715b-f83c-4958-8905-97cc579db28b.ttf") format("truetype"),url("#{$fontPath}/43653318-4d8d-4e4b-8f04-c6e8cb975558.svg#43653318-4d8d-4e4b-8f04-c6e8cb975558") format("svg");
}
@font-face{
font-family:"Lubalin-Medium";
src:url("#{$fontPath}/a2b62950-ad70-46e2-b2e9-e82ec9db5384.eot?iefix") format("eot");}
@font-face{
font-family:"Lubalin-Medium";
src:url("#{$fontPath}/a2b62950-ad70-46e2-b2e9-e82ec9db5384.eot?iefix");
src:url("#{$fontPath}/6e86dc78-6a2a-44b2-a48e-267dd190bc17.woff") format("woff"),url("#{$fontPath}/61a5852b-4a70-4369-a205-815fa0dccca3.ttf") format("truetype"),url("#{$fontPath}/5b1a4f6f-183e-4a2b-897c-02b9544ff090.svg#5b1a4f6f-183e-4a2b-897c-02b9544ff090") format("svg");
}


// v17 font styles begin ============================================

div, p, span, a, li, strong {
	font-family: $defaultFont;
}

// Masthead Fonts ======================
#ibm-mast-options a {
	font-weight:normal;
	}
#ibm-universal-nav li a {
	font-size: 1.1em;
    font-weight: 300;
	line-height: 1.1em;
	}
#ibm-common-menu h2,#ibm-common-menu h3 {
	font-weight: bold;
}
// End of Masthead Fonts =================




// Search Section ==================
#ibm-scoped-search li a {
	font-size: 0.8em !important;	
	}
#ibm-search-results p a {
	font-weight: bold;
	}
#ibm-search-results	.ibm-portrait-module-list a,
#ibm-search-results	.ibm-thumbnail-list a {
	font-weight: bold;
	}
#ibm-search-form input#q {
	font-size: 13px;
	}
#ibm-search-results	.ibm-portrait-module-list p,
#ibm-search-results	.ibm-thumbnail-list p {
	line-height: 1.4em;
}
// End of Search Section =============


// Sign in section ================
#ibm-signin {
	font-size:0.8em;
	}
#ibm-signin input.ibm-btn-signin {
	font-family:sans-serif;
	font-weight:bold;
	}
#ibm-signin .ibm-reg-link {
	font-weight:bold;
   }
// End of Sign in section =========



// Navigation Trail and Navigation=====================
#ibm-navigation-trail {
 	font-size: 0.7em !important;
 	line-height: 1em;
 	}
#ibm-content #ibm-leadspace-head ul#ibm-navigation-trail {
	font-size: 0.85em !important;
 	line-height: 1em;
	}
#ibm-navigation #ibm-primary-links #ibm-parent-link {
    font-size: 1.2em;
	}
#ibm-navigation #ibm-primary-links a:focus {
     font-weight: bold;
	}
#ibm-navigation #ibm-primary-links > li > a:active {
    font-weight: normal;  
	}
#ibm-navigation #ibm-primary-links > li > a.ibm-is-active, #ibm-navigation #ibm-primary-links > li > a.ibm-active {
  	font-weight: bold;
	}
#ibm-navigation #ibm-primary-links li ul li a {
   font-size: 0.84em;
	}
#ibm-navigation #ibm-primary-links li ul li a.ibm-is-active, #ibm-navigation #ibm-primary-links li ul li a.ibm-active {
    font-weight: bold;
 	}
#ibm-navigation #ibm-primary-links li ul li ul li a {
    font-size: 0.88em;
	}
#ibm-navigation #ibm-primary-links #ibm-overview a, #ibm-navigation #ibm-primary-links #ibm-overview a:hover, #ibm-navigation #ibm-primary-links #ibm-overview a:active {
   	font-weight: bold;
    }
#ibm-secondary-navigation h2, #ibm-secondary-navigation ul li a {
     font-size: 0.8em;
	}

// End of Navigation Trail ================


// Related content =======================
#ibm-related-content {
	font-size: 0.7em;
	}
#ibm-related-content h2 {
    font-size: 1em; 
	}
// End of Related content ==================


#ibm-menu-links a,
.ibm-landing-page #ibm-leadspace-head h1,
.ibm-landing-page #ibm-leadspace-head p,
.ibm-landing-page #ibm-leadspace-head span,
.ibm-intro em,
#ibm-content h2,
#ibm-content h3,
#ibm-content h4 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
}

#ibm-content h2{
	font-size:1.3em;
}

#ibm-content h3,
#ibm-content h4 {
	font-size:1.1em;
}

.ibm-landing-page #ibm-content .ibm-container h2,
.ibm-landing-page #ibm-content .ibm-columns .ibm-columns h2,
.ibm-landing-page #ibm-content .ibm-columns .ibm-container h2,
#ibm-content .ibm-container h2,
#ibm-content .ibm-columns .ibm-container h2{
	font-size:1.166em;
}


#ibm-content .ibm-container h3{
	font-size:1.025em;
}

#ibm-content .ibm-portrait-module-list h2,
#ibm-content .ibm-portrait-module-list h3{
	font-size:1.083em !important;
}

table.ibm-results-table h2 {
    font-size: 1em !important;
}

h2.ibm-rule, h3.ibm-rule,
h2.ibm-alternate-rule,
h3.ibm-alternate-rule,
h2.ibm-rule-alternate,
h3.ibm-rule-alternate{
   font-size: 1.166em !important;
}

div.ibm-container-body.ibm-code-sample code, 
.ibm-container-body div.ibm-code-sample, 
.ibm-container-body div.ibm-code-sample, 
.ibm-container-body pre.ibm-code-sample, 
.ibm-container-body p.ibm-code-sample code, 
.ibm-code-sample code, div.ibm-code-sample, 
div.ibm-code-sample, pre.ibm-code-sample, p.ibm-code-sample code, 
.ibm-alternate-code-sample code, div.ibm-alternate-code-sample, 
div.ibm-alternate-code-sample, pre.ibm-alternate-code-sample, 
p.ibm-alternate-code-sample code, .ibm-code-sample pre {
    font-family: monospace,sans-serif;
	font-size: 14px;
}

#ibm-mast-options{
	font-size: 0.7em;
	color: #A1A2A7;
}
#ibm-universal-nav li a {
	letter-spacing: 1px;
	font-size: 16px;
 	line-height: 16px;
}

#ibm-my-menu,
#ibm-common-menu,
#ibm-primary-links a,
#ibm-content,
#ibm-page-tools a,
#ibm-footer-module,
#ibm-footer li a,
#ibm-search-results p a,
#ibm-search-results h2,
#ibm-search-results h3,
#ibm-search-results li p {
	font-size: 0.8em;
}
#ibm-common-menu h2,#ibm-common-menu h3 {
	*font-size: 100%;
}


#ibm-search {
	font-size: 0;
}
#ibm-search-results li h2 a,
#ibm-search-results li h3 a {
	font-size: 1em;	
}

#ibm-content .ibm-video .ibm-container-body,
#ibm-content .ibm-playlist .ibm-container-body,
#ibm-content .ibm-ribbon .ibm-container-body {
	font-size: 0.90em;
}


#ibm-content .ibm-video .ibm-container-body p,
#ibm-content .ibm-media .ibm-ribbon .ibm-container-body p {
	font-style: normal;
}

#ibm-media .ibm-ribbon .ibm-container-body {
	font-size: 0.72em;
}
#ibm-content .ibm-video .ibm-ribbon h2 {
	font-size: 1.1em;	
}
#ibm-media .ibm-ribbon h2 {
	font-size: 0.8em;
}
#ibm-content .ibm-video .ibm-ribbon .ibm-container-body {
	font-size: 1em;
}
#ibm-content .ibm-video .ibm-container-body p.ibm-date,
#ibm-content .ibm-playlist .ibm-container-body p.ibm-date,
#ibm-content .ibm-ribbon .ibm-container-body p.ibm-date,
#ibm-media .ibm-ribbon .ibm-container-body p.ibm-date {
	font-size: 0.8em;
}

.ibm-thumbnail span {
	line-height: 12px;
	font-size: 0.9em;	
}
#ibm-content .ibm-video .ibm-container-body,
#ibm-content .ibm-playlist .ibm-container-body,
#ibm-content .ibm-ribbon .ibm-container-body {
	font-size: 0.90em;
}
#ibm-media .ibm-ribbon .ibm-container-body {
	font-size: 0.72em;
}
#ibm-content .ibm-video .ibm-ribbon h2 {
	font-size: 1.1em;	
}
#ibm-media .ibm-ribbon h2 {
	font-size: 0.8em;
}
#ibm-content .ibm-video .ibm-ribbon .ibm-container-body {
	font-size: 1em;
}

#ibm-content .ibm-video .ibm-ribbon .ibm-container-body p,
#ibm-content .ibm-media .ibm-ribbon .ibm-container-body p {
	font-style: normal;	
}


#ibm-content .ibm-columns .ibm-col-1-1 .ibm-media-beneath h3,
#ibm-content .ibm-columns .ibm-col-6-4 .ibm-media-beneath h3 {
	font-size: 1.2em;
}
#ibm-content .ibm-columns .ibm-col-1-1 .ibm-media-beneath p {
	font-size: 1.1em;
}
#ibm-content .ibm-columns .ibm-col-6-4 .ibm-media-beneath p {
	font-size: 1.1em;
	line-height: 1.2em;
}

#ibm-content .ibm-video .ibm-container-body p.ibm-date,
#ibm-content .ibm-playlist .ibm-container-body p.ibm-date,
#ibm-content .ibm-ribbon .ibm-container-body p.ibm-date,
#ibm-media .ibm-ribbon .ibm-container-body p.ibm-date {
	font-size: 0.8em;
}

h1 {
    font-size: 2.6em;
	clear: both;
    line-height: 1em;
    text-shadow: 0px 1px 0 #FFF;
}
h1.ibm-small {
	font-size: 1.875em;
}

.ibm-landing-page #ibm-leadspace-head.ibm-alternate h1,
#ibm-content #ibm-leadspace-head.ibm-alternate h1 {
    font-size: 2.25em;
}
.ibm-landing-page #ibm-leadspace-head.ibm-alternate h1.ibm-small,
#ibm-content #ibm-leadspace-head.ibm-alternate h1.ibm-small,
.ibm-landing-page #ibm-leadspace-head.ibm-ribbon h1.ibm-small,
.ibm-landing-page #ibm-leadspace-head.ibm-ribbon h2.ibm-small {
	font-size: 1.875em;
}
.ibm-landing-page #ibm-leadspace-head p a {
	font-size: 0.85em;
}

.ibm-landing-page #ibm-leadspace-head p em{
	font-style:	normal;
}
.ibm-landing-page #ibm-leadspace-head p em span{
	font-weight: bold;
}

#ibm-content-head p {
	font-size: 1.0em;
}

#ibm-content-head p em, #ibm-content #ibm-leadspace-head p em {
	font-style: normal;
	font-weight: bold;
	color: #666;	
	font-size: 1.1em;
}

small {
   font-size: smaller;
}

// font styles end ============================================


// Thumbnail styles ===========================================
.ibm-thumbnail span {
	font-size: 0.9em;
}
// End of Thumbnail style  ====================================


// Data table style ==========================
#ibm-content-main table.ibm-data-table caption em {
	font-weight:bold;
	font-style:normal;
}
#ibm-content-main table th.ibm-table-row {
	font-weight:normal;
}
#ibm-content-main table.ibm-data-table ul,
#ibm-content-main table.ibm-data-table ol{
font-size:1em;
}

// End of Data table style ===================



// Tabs style ================
#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a {
	font-weight: bold;
	font-size: 0.875em;
}
#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs a {
	font-size: 0.8em;
	font-weight: normal;
}
#ibm-com ul.ibm-tabs li.ibm-active,
#ibm-com ul.ibm-tabs li.ibm-highlight-tab,
#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs li.ibm-active a {
	font-weight: bold;
}

	
div.ibm-text ul.ibm-tabs {
	line-height: 1.66em;
}
div.ibm-tab-section ul li {
	line-height:1.2em;	
}
#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs {
	line-height: 1em;
}

#ibm-content-main .ibm-col-6-4 ul.ibm-tabs {
	font-size:1em !important;
}
// End of Tabs style ===========


#ibm-content-head ul#ibm-navigation-trail li {
	font-size: 0.85em;
}

#ibm-content-main p {
	font-size: 1em;
	color: #333;
}
#ibm-content-main ul,
#ibm-content-main ol {
	color: #333;
}
#ibm-content #ibm-content-main p.ibm-intro,
#ibm-content #ibm-content-main h2.ibm-intro,
#ibm-content #ibm-content-main h2.ibm-alternate,
#ibm-related-content h2.ibm-alternate {
	font-size: 1.8em;
	line-height: 1.2em;
}
#ibm-content #ibm-content-main p.ibm-intro em,
#ibm-content #ibm-content-main h2.ibm-intro,
#ibm-content #ibm-content-main h2.ibm-alternate,
#ibm-related-content h2.ibm-alternate {
	font-style: normal;
}
#ibm-related-content h2.ibm-alternate {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
}
#ibm-top p.ibm-alt-type {
	font-family: Georgia,arial,sans-serif;
	font-size: 1.1em;
}

#ibm-top h3.ibm-alt-type, #ibm-top p.ibm-alt-type a {
	font-family: Georgia,arial,sans-serif;
}

#ibm-content #ibm-content-main .ibm-columns h3.ibm-alternate {
    font-size: 1.2em;
    line-height: normal;
}


#ibm-content-main .ibm-col-4-3 p,
#ibm-content-main .ibm-col-5-4 p,
#ibm-content-main .ibm-col-6-4 p,
#ibm-content-main .ibm-col-6-5 p,
.ibm-landing-page #ibm-content-main .ibm-col-1-1 ul,
.ibm-landing-page #ibm-content-main .ibm-col-1-1 ol,
#ibm-content-main .ibm-col-4-3 ul,
#ibm-content-main .ibm-col-4-3 ol,
#ibm-content-main .ibm-col-5-4 ul,
#ibm-content-main .ibm-col-5-4 ol,
#ibm-content-main .ibm-col-6-4 ul,
#ibm-content-main .ibm-col-6-4 ol,
#ibm-content-main .ibm-col-6-5 ul,
#ibm-content-main .ibm-col-6-5 ol {
	font-size: 1.166em;
	line-height: 1.5em;
}
.ibm-landing-page #ibm-content-main .ibm-col-1-1 ul ul,
.ibm-landing-page #ibm-content-main .ibm-col-1-1 ol ol,
.ibm-landing-page #ibm-content-main .ibm-col-1-1 ol ul,
.ibm-landing-page #ibm-content-main .ibm-col-1-1 ul ol,
.ibm-landing-page #ibm-content-main .ibm-col-1-1 ul li p,
.ibm-landing-page #ibm-content-main .ibm-col-1-1 ol li p,
// reseting the font size in RMS
#ibm-content-main .ibm-columns .ibm-media .ibm-col-1-1 ul,
#ibm-content-main .ibm-columns .ibm-media .ibm-col-6-1 ul,
#ibm-content-main .ibm-columns .ibm-media .ibm-col-6-2 ul,
#ibm-content-main .ibm-columns .ibm-media .ibm-col-6-3 ul,
#ibm-content-main .ibm-columns .ibm-media .ibm-col-6-4 ul,
#ibm-content-main .ibm-columns .ibm-media .ibm-col-6-5 ul,
#ibm-content-main .ibm-columns .ibm-media .ibm-col-5-1 ul,
#ibm-content-main .ibm-columns .ibm-media .ibm-col-5-2 ul,
#ibm-content-main .ibm-columns .ibm-media .ibm-col-5-3 ul,
#ibm-content-main .ibm-columns .ibm-media .ibm-col-5-4 ul {
	font-size:1em;
	line-height:1.5em;
}

#ibm-content-main .ibm-col-4-3 ol li p,
#ibm-content-main .ibm-col-4-3 ol ol,  
#ibm-content-main .ibm-col-5-4 ol li p,
#ibm-content-main .ibm-col-5-4 ol ol,  
#ibm-content-main .ibm-col-6-4 ol li p,
#ibm-content-main .ibm-col-6-4 ol ol, 
#ibm-content-main .ibm-col-6-5 ol li p,
#ibm-content-main .ibm-col-6-5 ol ol {
    font-size: 1em;
    line-height: 1em;
}
#ibm-content-main .ibm-col-4-3 ul ul,
#ibm-content-main .ibm-col-5-4 ul ul,
#ibm-content-main .ibm-col-6-4 ul ul,
#ibm-content-main .ibm-col-6-5 ul ul {
	font-size:1em;
	line-height: 1.3em;
}
#ibm-content-main .ibm-col-4-3 ul ol, 
#ibm-content-main .ibm-col-4-3 ol ul,
#ibm-content-main .ibm-col-5-4 ul ol, 
#ibm-content-main .ibm-col-5-4 ol ul,
#ibm-content-main .ibm-col-6-4 ul ol, 
#ibm-content-main .ibm-col-6-4 ol ul,
#ibm-content-main .ibm-col-6-5 ul ol, 
#ibm-content-main .ibm-col-6-5 ol ul {
	font-size: 1em;
	line-height: 1.1em;
}

#ibm-content-main .ibm-col-4-3 ul.ibm-portrait-module-list,
#ibm-content-main .ibm-col-4-3 ul.ibm-thumbnail-list,
#ibm-content-main .ibm-col-5-4 ul.ibm-portrait-module-list,
#ibm-content-main .ibm-col-5-4 ul.ibm-thumbnail-list,
#ibm-content-main .ibm-col-6-4 ul.ibm-portrait-module-list,
#ibm-content-main .ibm-col-6-4 ul.ibm-thumbnail-list,
#ibm-content-main .ibm-col-6-5 ul.ibm-portrait-module-list,
#ibm-content-main .ibm-col-6-5 ul.ibm-thumbnail-list {
	font-size: 1em;
	line-height: 1.2em;
}

#ibm-content-main .ibm-col-6-2 ul.ibm-portrait-module-list h2 a,
#ibm-content-main .ibm-col-6-2 ul.ibm-portrait-module-list h3 a,
#ibm-content-main .ibm-col-6-2 ul.ibm-thumbnail-list h2 a,
#ibm-content-main .ibm-col-6-2 ul.ibm-thumbnail-list h3 a {
	line-height: 1.2em;
}

#ibm-content-main .ibm-col-6-5 .ibm-col-6-1 p,
#ibm-content-main .ibm-col-6-4 .ibm-col-6-1 p,
#ibm-content-main .ibm-col-6-4 .ibm-col-6-1 ul,
#ibm-content-main .ibm-col-6-1 p,
#ibm-content-main .ibm-col-6-1 h2,
#ibm-content-main .ibm-col-6-1 h3,
#ibm-content-main .ibm-col-5-1 h2,
#ibm-content-main .ibm-col-5-1 h3,
#ibm-content-main .ibm-col-4-1 h2,
#ibm-content-main .ibm-col-4-1 h3 {
	font-size: 1em !important;
	line-height: 1.3em;
}


#ibm-content-main .ibm-media .ibm-container.ibm-ribbon h2,
#ibm-content-main .ibm-media .ibm-container.ibm-video h2,
#ibm-content-main .ibm-media .ibm-container.ibm-portrait h2 {
	font-size: 1em;
	line-height: 1em;
}

#ibm-content-main .ibm-media .ibm-portrait.ibm-container.ibm-ribbon h3 {
	font-size: 1.198em;
	line-height: 1.2em;
}

#ibm-content-main .ibm-media .ibm-portrait.ibm-container.ibm-ribbon p,
#ibm-content-main .ibm-media .ibm-container.ibm-playlist .ibm-col-6-2 p,
#ibm-content-main .ibm-media .ibm-container.ibm-playlist .ibm-col-6-3 p,
#ibm-content-main .ibm-media .ibm-col-6-2 .ibm-portrait-module-list p {
	line-height: 1.2em;
	font-size: 1.11em;
}




#ibm-content-main .ibm-col-5-1 h2,
#ibm-content-main .ibm-col-5-1 h3,
#ibm-content-main .ibm-col-6-1 h2,
#ibm-content-main .ibm-col-6-1 h3 {
	color: #333;
}
#ibm-content-main .ibm-col-5-1 p,
#ibm-content-main .ibm-col-6-1 p {
	color: #666;
}

#ibm-content-main .ibm-col-5-2 p,
#ibm-content-main .ibm-col-6-2 p {
	color: #4C4C4C;
}

#ibm-content-main ul.ibm-portrait-module-list p,
#ibm-content-main ul.ibm-thumbnail-list p {
	font-size: 1em;
	line-height: 1.2em;
}

#ibm-content-main .ibm-container.ibm-playlist ul.ibm-portrait-module-list h3 a {
    font-size: 1.1em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
}

#ibm-navigation li#ibm-parent-link a {
	font-size: 0.55em;
	color: #666;
}

span.ibm-table-navigation-links a, 
.ibm-price {
	font-weight: bold !important;
}

#ibm-content-main .ibm-container .ibm-container-body ul.ibm-stock-list h3,.ibm-columns ul.ibm-stock-list h3 {
	font-weight: normal;
}
#ibm-content-main ul li p,
#ibm-content-main ol li p,

#ibm-content-main ol.ibm-article-list li {
	font-size: 1em;
}

 #ibm-content ul li.ibm-link-description p {
     font-size: 1em !important;
}
 

// button styles begin ==============================================
a.ibm-btn-pri,
input.ibm-btn-pri,
input.ibm-btn-arrow-pri,
input.ibm-btn-cancel-pri,
input.ibm-btn-cart-pri,
input.ibm-btn-customize-pri,
input.ibm-btn-download-pri,
input.ibm-btn-view-pri {
	font-weight: bold;
	font-size: 1em;
}
a.ibm-btn-sec,
input.ibm-btn-sec,
input.ibm-btn-add-sec,
input.ibm-btn-arrow-sec,
input.ibm-btn-back-sec,
input.ibm-btn-cancel-sec,
input.ibm-btn-cart-sec,
input.ibm-btn-chat-sec,
input.ibm-btn-customize-sec,
input.ibm-btn-download-sec,
input.ibm-btn-email-sec,
input.ibm-btn-pda-sec,
input.ibm-btn-phone-sec,
input.ibm-btn-refresh-sec,
input.ibm-btn-remove-sec,
input.ibm-btn-undo-sec,
input.ibm-btn-video-sec,
input.ibm-btn-view-sec,
#ibm-content-sidebar input.ibm-btn-arrow-pri,
#ibm-content-sidebar input.ibm-btn-add-sec,
#ibm-content-sidebar input.ibm-btn-arrow-sec,
#ibm-content-sidebar input.ibm-btn-back-sec,
#ibm-content-sidebar input.ibm-btn-cancel-sec,
#ibm-content-sidebar input.ibm-btn-cart-sec,
#ibm-content-sidebar input.ibm-btn-chat-sec,
#ibm-content-sidebar input.ibm-btn-customize-sec,
#ibm-content-sidebar input.ibm-btn-download-sec,
#ibm-content-sidebar input.ibm-btn-email-sec,
#ibm-content-sidebar input.ibm-btn-pda-sec,
#ibm-content-sidebar input.ibm-btn-phone-sec,
#ibm-content-sidebar input.ibm-btn-refresh-sec,
#ibm-content-sidebar input.ibm-btn-remove-sec,
#ibm-content-sidebar input.ibm-btn-undo-sec,
#ibm-content-sidebar input.ibm-btn-video-sec,
#ibm-content-sidebar input.ibm-btn-view-sec {
	font-size: 1em;
}

table div.ibm-buttons-row p {
	font-size:1em !important;
}
// button styles end ==============================================

#ibm-parent-link a,
#ibm-secondary-navigation ul {
	font-weight:normal;
}

#ibm-navigation li#ibm-parent-link a:link,
#ibm-navigation li#ibm-parent-link a:visited,
#ibm-secondary-navigation li a:link,
#ibm-secondary-navigation li a:visited {
	color:#666;
}

// Font-style for A-Z link ====================================================

div.ibm-link-list-az ul.ibm-link-list li{
	font-size:1.3em;
	font-weight:bold;
}

div.ibm-link-list-az ul.ibm-link-list span.ibm-no-anchor{
	font-size:1.012em;
}
	
.ibm-col-6-4 div.ibm-link-list-az ul.ibm-link-list a:hover{
	line-height: 0.98em;
}
.ibm-col-6-4 div.ibm-link-list-az ul.ibm-link-list li.ibm-highlight-link a:link,
.ibm-col-6-4 div.ibm-link-list-az ul.ibm-link-list li.ibm-highlight-link a:visited,
.ibm-col-6-4 div.ibm-link-list-az ul.ibm-link-list li.ibm-highlight-link a:hover{
	line-height: 0.98em;
}
// End of A-Z link ================================

// Font size for directory link list =============
#ibm-content-main ul.ibm-directory-link-list a {
    font-size: 1.1em;
}
// end of Directory link list  ================


p.ibm-ind-link a,
#ibm-related-content .ibm-container .ibm-col-6-1  p.ibm-ind-link a {
	line-height:1.065em;
}

.ibm-col-6-2 p.ibm-ind-link a,
.ibm-container p.ibm-ind-link a {
	line-height:normal;
}

#ibm-related-content ul.ibm-link-list a,
#ibm-content-sidebar p.ibm-ind-link a,
#ibm-content-sidebar ul.ibm-link-list a {
	line-height: 1.22em;
}

#ibm-content-head #ibm-navigation-trail {
    font-size: 1.0em !important;
    line-height: 1em;
}

.ibm-simple-show-hide p.ibm-show-hide-controls a{
	font-weight: normal;
	color:#333333;
}

.ibm-simple-show-hide h3 a.ibm-show-hide-link {
	font-weight:bold;
}

.ibm-form-note,.ibm-form-note a, 
.ibm-item-note,.ibm-item-note a,
.ibm-item-note-alternate,.ibm-item-note-alternate a,
.ibm-footnote p,.ibm-footnote p a {
    font-family: Georgia;
}
.ibm-twitter-list li a,
.ibm-twitter-list .ibm-item-note {
	font-family: Georgia;
	font-style: italic;
}

div#ibm-reg-number {
   	font-size: 0.8em;
}

.ibm-required {
	font-size: 1.4em;
	line-height: 10px;
}
// sub-entries in the left navigation =========
#ibm-primary-links li li {
	font-size: 0.95em;
}

// Tool tip fonts =================
.dijitTooltip { 
	font-size:0.1em;
	font-family:Arial,sans-serif;
	}
// End fo Tool Tip fonts   ========



// Expertise locator for www ===================
.ibm-expertise-header {
	font-size:0.7em;
	font-weight:bold;
}
.ibm-expertise-namerole {
	line-height: 10px;
	*line-height: 13px;
}
.ibm-expertise-expertname{
	font-weight: bold;
	font-size:0.7em;
	}
.ibm-expertise-expertrole{
	font-size:0.6em;
}
.ibm-expertise-tooltip-expertname{
	font-size:0.8em;
	font-weight: bold;
}
.ibm-expertise-tooltip-expertrole{
	font-size: 0.7em;
	line-height:11px
}
.ibm-expertise-desc{
	font-size: 0.7em;
}
.ibm-expertise-blog-title{
	font-weight: bold;
}
// End of Expertise Locator =============


// OVERLAY / DIALOG  ====================
.dijitDialogPaneContent {
	font-family:arial,sans-serif;
	font-size: 0.7em;
}
div.dijitDialog .ibm-container h2, 
div.dijitDialog .ibm-container h3, 
div.dijitDialog .ibm-container p,
div.dijitDialog .ibm-columns h2, 
div.dijitDialog .ibm-columns h3{
	font-size: 1.1em;
	line-height:18px;
}

div.dijitDialog .ibm-columns p,
div.dijitDialog .ibm-common-overlay.ibm-overlay-alt-three table.ibm-data-table{
	font-size:1.1em;
}
div.dijitDialog .ibm-head p {
	font-size:0.71em;
}
div.dijitDialog .ibm-title h1,
div.dijitDialog .ibm-title h2 {
	font-size: 2.1em;
    font-weight: normal;
    line-height: normal;
}		
div.dijitDialog .ibm-title.ibm-subtitle p em{
	font-size: 1.1em;
    font-style: normal;
    font-weight: bold;
}
div.dijitDialog ul li ul li, 
#ibm-com div.dijitDialog ul li ul.ibm-no-links li:hover {
	font-size:1em;
}

.ibm-common-overlay form.ibm-row-form label, 
.ibm-common-overlay form.ibm-row-form label span.ibm-additional-info, 
.ibm-common-overlay form .ibm-checkbox-layout label {
    font-weight: bold;
    font-size: 1.0em;
}
	
#dialog_overlay-leaving-ibm .ibm-title h1 {
    font-size: 2.3em;
    font-weight: normal;
    line-height: normal;
}	
#dialog_overlay-leaving-ibm .ibm-container p {  
    font-size: 1.1em !important;
    line-height: 18px;
}
// End of OVERLAY / DIALOG  ====================
// Validation overlay  ===============

div#ibm-overlay-top form label {
	font-weight:bold;
}

div#ibm-overlay-top form.ibm-column-form label {
	font-weight:bold;
}

div#ibm-overlay-top p {
	font-size: 1.2em;
}
	
div#ibm-overlay-top h2 {
	font-size: 1.4em;
	font-weight: normal;
}
// End of Validation overlay ===========

// dijit layout fonts ===============
.v17 .dijitMenuItem {	
	font-family:arial,sans-serif;
	font-size:0.7em;
	font-weight:bold;
}

.v17 .dijitMenuSeparatorTop, .v17 .dijitMenuSeparatorBottom {
	font-size: 1px;
}

// End of dijit layout fonts ===============


// Carousel font style  =========

.ibm-img-resize span {
	line-height: 12px;
	font-size: 0.9em;
}
// End of Carousel font style =========

ul.ibm-newsletter span.ibm-newsletter-header {
	font-weight:bold;
}

// Locale Selector ============================
#ibm-loader{
    font-size: 0.8em;
}

#ibm-country-selector #ibm-country-sort {
	font-weight: bold;
	font-size: 0.7em;
}
	
#ibm-country-selector #ibm-country-sort h2 {
   font-size: 1.2em; 	 	
}

#ibm-country-selector  #ibm-country-nav ul li a {
	font-size: 1.1em;
	font-weight:bold;
}

#ibm-country-selector  h2{
	font-size:0.9em;
}

#ibm-country-selector  ul li {
	font-size: .7em;
	font-weight:bold;
}
// End of Locale Selctor

// Form Font ==================
#ibm-content input[type="text"],
#ibm-content input[type="password"],
#ibm-content textarea {
	font-size: 0.95em;
}
.dijitSelect .dijitArrowButton .dijitArrowButtonChar {
	*font-size: 0px;
	_font-size: 11px;
	}
.dijitSelect {
	line-height: 1.1em;
}

.v17 .dijitMenuItem {
	font-size: 0.8em;
}

form.ibm-column-form label,
form.ibm-row-form label {
	font-weight: bold;
}

#ibm-content .ibm-columns .ibm-col-6-5 form p,
#ibm-content .ibm-columns .ibm-col-6-4 form p,
#ibm-content .ibm-columns .ibm-col-6-3 form p,
#ibm-content .ibm-columns .ibm-col-6-2 form p,
#ibm-content .ibm-columns .ibm-col-5-4 form p,
#ibm-content .ibm-columns .ibm-col-5-3 form p,
#ibm-content .ibm-columns .ibm-col-5-2 form p,
#ibm-content .ibm-columns .ibm-col-5-1 form p,
#ibm-content .ibm-columns .ibm-col-4-3 form p,
#ibm-content .ibm-columns .ibm-col-4-2 form p,
#ibm-content form .ibm-columns .ibm-col-4-2 p,
#ibm-content .ibm-columns .ibm-col-4-1 form p,
#ibm-content .ibm-columns .ibm-col-2-1 form p,
#ibm-content form .ibm-columns .ibm-col-2-1 p,
#ibm-content .ibm-columns .ibm-col-1-1 form p,
#ibm-content .ibm-columns .ibm-col-6-5 form ul,
#ibm-content .ibm-columns .ibm-col-6-4 form ul,
#ibm-content .ibm-columns .ibm-col-6-3 form ul,
#ibm-content .ibm-columns .ibm-col-6-2 form ul,
#ibm-content .ibm-columns .ibm-col-5-4 form ul,
#ibm-content .ibm-columns .ibm-col-5-3 form ul,
#ibm-content .ibm-columns .ibm-col-5-2 form ul,
#ibm-content .ibm-columns .ibm-col-5-1 form ul,
#ibm-content .ibm-columns .ibm-col-4-3 form ul,
#ibm-content .ibm-columns .ibm-col-4-2 form ul,
#ibm-content form .ibm-columns .ibm-col-4-2 ul,
#ibm-content .ibm-columns .ibm-col-4-1 form ul,
#ibm-content .ibm-columns .ibm-col-2-1 form ul,
#ibm-content form .ibm-columns .ibm-col-2-1 ul,
#ibm-content .ibm-columns .ibm-col-1-1 form ul,
#ibm-content .ibm-columns .ibm-col-6-5 form ol,
#ibm-content .ibm-columns .ibm-col-6-4 form ol,
#ibm-content .ibm-columns .ibm-col-6-3 form ol,
#ibm-content .ibm-columns .ibm-col-6-2 form ol,
#ibm-content .ibm-columns .ibm-col-5-4 form ol,
#ibm-content .ibm-columns .ibm-col-5-3 form ol,
#ibm-content .ibm-columns .ibm-col-5-2 form ol,
#ibm-content .ibm-columns .ibm-col-5-1 form ol,
#ibm-content .ibm-columns .ibm-col-4-3 form ol,
#ibm-content .ibm-columns .ibm-col-4-2 form ol,
#ibm-content form .ibm-columns .ibm-col-4-2 ol,
#ibm-content .ibm-columns .ibm-col-4-1 form ol,
#ibm-content .ibm-columns .ibm-col-2-1 form ol,
#ibm-content form .ibm-columns .ibm-col-2-1 ol,
#ibm-content .ibm-columns .ibm-col-1-1 form ol {
	font-size: 1em;
}

.ibm-landing-page #ibm-content .ibm-columns .ibm-col-1-1 form p.ibm-ind-error {
	font-size :1.166em;
}

form.ibm-column-form span.ibm-input-group label,
form.ibm-row-form span.ibm-input-group label {
	font-weight: normal;
	line-height: 25px;
}

form.ibm-row-form label span.ibm-additional-info,
form.ibm-column-form label span.ibm-additional-info,
#ibm-content-main form .ibm-checkbox-layout label {
	font-weight: normal;
}
// End for form font ======================


// Content side bar ======================
#ibm-content-sidebar {
	font-size: 0.9em;
}
#ibm-content-sidebar .ibm-ms-statement .ibm-container-body p {
	font-family: verdana,arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
}


#ibm-content-main a.ibm-back-em-link,
#ibm-content-main a.ibm-forward-pg-link, 
li.ibm-forward-pg-link,
li.ibm-back-em-link,
li.ibm-anchor-up-link,
li.ibm-anchor-down-em-link,
#ibm-content-main a.ibm-forward-em-link, 
#ibm-content-main a.ibm-anchor-up-link, 
#ibm-content-main a.ibm-anchor-down-em-link, 
#ibm-content-main .ibm-generic-link,
#ibm-content-sidebar a.ibm-back-em-link, 
#ibm-content-sidebar .ibm-generic-link,
#ibm-content-sidebar a.ibm-anchor-down-em-link, 
#ibm-content-sidebar a.ibm-anchor-up-link, 
#ibm-content-sidebar a.ibm-forward-em-link,
#ibm-content-main .ibm-generic-link:hover,
#ibm-content-main a.ibm-back-em-link:hover, 
#ibm-content-main a.ibm-forward-em-link:hover, 
#ibm-content-main a.ibm-anchor-up-link:hover, 
#ibm-content-main a.ibm-anchor-down-em-link:hover,
#ibm-content-sidebar .ibm-generic-link:hover, 
#ibm-content-sidebar a.ibm-back-em-link:hover, 
#ibm-content-sidebar a.ibm-anchor-down-em-link:hover, 
#ibm-content-sidebar a.ibm-anchor-up-link:hover, 
#ibm-content-sidebar a.ibm-forward-em-link:hover,
li.ibm-highlight-link {
	font-weight:bold;
	}

// End of Content side bar ===============


// Footer font=============================
#ibm-footer-module h2,
#ibm-footer-module h3 {
    font-size: 1em;
}
#ibm-footer-module ul {
    line-height: 14px;
}

#ibm-footer-module {
    font-size: 0.7em;
}
#{$ie6Selector} #ibm-footer-module a {
    line-height: 20px;
}
#ibm-footer ul {
    font-weight: normal;
    font-size: 0.85em;
}
#ibm-footer:after {
    font-size: 0;
}
// End of Footer font=============================


// Legal Text font ==================
#ibm-content-main .ibm-legal-text,
#ibm-content-main .ibm-legal {
  	font-family: "Georgia","Times","Times New Roman",serif;
    font-size: 0.85em !important;
}
.ibm-legal-text .ibm-required,
.ibm-legal .ibm-required {
	font-size: 1.4em;
}

.ibm-legal-text,
.ibm-legal {
	font-family: "Georgia","Times","Times New Roman",serif;
    font-size: 0.66em !important;
    line-height: 18px;
}
// End of Legal Text font=============================

// Superscript and subscript text font ==================

/* 
implementation of <SUP> and <SUB> element support

tested in: FF, O, GC, Safari, IE6/7/8* 
*<sup>/<sub> renders a bit differently in IE6/7/8 - more like font-size: 0.75em, however function is not affected.
 
*/

sup {

	line-height: 1;
	position: relative;
	top: -0.5em;
	font-size: 0.8em;
}

sub {

	line-height: 1;
	position: relative;
	top: 0.2em;
	font-size: 0.8em;
}

// End of Superscript and subscript text font ==================

// ibm-inset img caption font ==================
.ibm-inset-img-caption {
    font-size: 0.75em;
}

// End of the img caption font ==================
#ibm-content ul.ibm-live-assistance-list li,
#ibm-content #ibm-contact-module ul.ibm-alternate li span,
#ibm-content #ibm-contact-module ul.ibm-alternate li p span {
   font-weight: bold;
}
#ibm-content #ibm-contact-module ul.ibm-alternate li,
#ibm-content #ibm-contact-module ul.ibm-alternate li p {
   font-weight: normal;
}
// Live chat module

// End of live chat Module

// Pull quote font style ====
.ibm-pullquote-source {
  font-family: arial !important;
  font-size: 1.2em !important;
  font-style:normal;
}
.ibm-pullquote-source-alternate {
  font-family: Georgia !important;
  font-size: 1.2em !important;
  font-style:normal;
}


.ibm-pullquote-open,
.ibm-pullquote-close {
    font-family: georgia;
    font-size: 1.9em;
}
 div.ibm-pull-quote blockquote p,
div.ibm-pull-quote.ibm-inset blockquote p,
div.ibm-pull-quote.ibm-inset.ibm-alternate blockquote p {
    line-height:1.3em !important;
    font-size: 1.8em !important;
    font-style: normal;
    font-family:Georgia;
}

.ibm-pull-quote.ibm-alternate-font blockquote p,
.ibm-pull-quote.ibm-inset.ibm-alternate-font blockquote p,
.ibm-pull-quote.ibm-inset.ibm-alternate.ibm-alternate-font blockquote p,
.ibm-pullquote-open.ibm-alternate-font,
.ibm-pullquote-close.ibm-alternate-font {
	font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,Helvetica,sans-serif;
}

// end of pullquote font style ========
// Step indicator font style  =====
.ibm-landing-page ul#ibm-step-indicator li a {font-size:.9em;}
// End of of step indicator style


// ----  RSS link list styles  ----
.ibm-col-5-1 .ibm-rss-module p.ibm-ind-link a,
.ibm-col-5-2 .ibm-rss-module p.ibm-ind-link a,
.ibm-col-5-3 .ibm-rss-module p.ibm-ind-link a,
.ibm-col-6-1 .ibm-rss-module p.ibm-ind-link a,
.ibm-col-6-2 .ibm-rss-module p.ibm-ind-link a,
.ibm-col-6-3 .ibm-rss-module p.ibm-ind-link a {
	line-height:16px;
}
.ibm-col-1-1 .ibm-rss-module p.ibm-ind-link a {
	line-height:17px;
}
.ibm-rss-module .ibm-container .ibm-container-body p.ibm-ind-link a {
	font-size: .85em;
}
.ibm-rss-module #ibm-rss-container ul.ibm-rss-list li p.ibm-item-note {
	font-style: italic;
	line-height: 1.3em;
	font-size: .95em;
}
.ibm-rss-module #ibm-rss-container ul.ibm-rss-list li a {
	line-height: 15px;
	font-weight: normal;
}
// End of RSS module font styles and line height

