/* fonts styles ============================================ */

/*!
This CSS resource incorporates links to font software which is
the valuable copyrighted property of Monotype Imaging and/or
its suppliers. You may not attempt to copy, install, redistribute, convert,
modify or reverse engineer this font software. Please contact Monotype Imaging
with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/

/*
SIMPLER NAMES

Helvetica-Light
Helvetica-Roman
Helvetica-Medium
Helvetica-Bold
Janson-Roman
Janson-Italic
Lubalin-Book
Lubalin-Medium
*/
@import url("//fast.fonts.com/t/1.css?apiType=css&projectid=4ade0897-739b-4f43-b54a-0fb60e8cfcb2");
@font-face{
font-family:"Helvetica-Light";
src:url("#{$fontsPath}/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?iefix") format("eot");}
@font-face{
font-family:"Helvetica-Light";
src:url("#{$fontsPath}/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?iefix");
src:url("#{$fontsPath}/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),url("#{$fontsPath}/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),url("#{$fontsPath}/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}
@font-face{
font-family:"Helvetica-Roman";
src:url("#{$fontsPath}/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?iefix") format("eot");}
@font-face{
font-family:"Helvetica-Roman";
src:url("#{$fontsPath}/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?iefix");
src:url("#{$fontsPath}/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"),url("#{$fontsPath}/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"),url("#{$fontsPath}/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}
@font-face{
font-family:"Helvetica-Medium";
src:url("#{$fontsPath}/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?iefix") format("eot");}
@font-face{
font-family:"Helvetica-Medium";
src:url("#{$fontsPath}/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?iefix");
src:url("#{$fontsPath}/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"),url("#{$fontsPath}/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"),url("#{$fontsPath}/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg");
}
@font-face{
font-family:"Helvetica-Bold";
src:url("#{$fontsPath}/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?iefix") format("eot");}
@font-face{
font-family:"Helvetica-Bold";
src:url("#{$fontsPath}/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?iefix");
src:url("#{$fontsPath}/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"),url("#{$fontsPath}/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"),url("#{$fontsPath}/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}
@font-face{
font-family:"Janson-Roman";
src:url("#{$fontsPath}/8081ebb1-2954-49b2-a5e7-01b16e5af2c1.eot?iefix") format("eot");}
@font-face{
font-family:"Janson-Roman";
src:url("#{$fontsPath}/8081ebb1-2954-49b2-a5e7-01b16e5af2c1.eot?iefix");
src:url("#{$fontsPath}/1a018c91-8b9e-4a66-8972-3ae4217085f6.woff") format("woff"),url("#{$fontsPath}/5c93df2f-b27e-4a1f-80b5-47204b4f0284.ttf") format("truetype"),url("#{$fontsPath}/363ce73c-76a1-4239-bd54-69322566b968.svg#363ce73c-76a1-4239-bd54-69322566b968") format("svg");
}
@font-face{
font-family:"Janson-Italic";
src:url("#{$fontsPath}/fd0cfd53-00d2-4f4c-94f8-f880927b634d.eot?iefix") format("eot");}
@font-face{
font-family:"Janson-Italic";
src:url("#{$fontsPath}/fd0cfd53-00d2-4f4c-94f8-f880927b634d.eot?iefix");
src:url("#{$fontsPath}/f15b0119-d12d-4a9c-ba3f-54ffb2165679.woff") format("woff"),url("#{$fontsPath}/c635a795-1ecc-4da9-be84-7fe69737fb5c.ttf") format("truetype"),url("#{$fontsPath}/35a6a1ce-797d-47f5-92d9-e4bd3cea1c60.svg#35a6a1ce-797d-47f5-92d9-e4bd3cea1c60") format("svg");
}
@font-face{
font-family:"Lubalin-Book";
src:url("#{$fontsPath}/dba232c1-9c23-4a6c-aa91-659205e8e868.eot?iefix") format("eot");}
@font-face{
font-family:"Lubalin-Book";
src:url("#{$fontsPath}/dba232c1-9c23-4a6c-aa91-659205e8e868.eot?iefix");
src:url("#{$fontsPath}/08d26b1f-edba-4c24-871e-8f265f017896.woff") format("woff"),url("#{$fontsPath}/1663715b-f83c-4958-8905-97cc579db28b.ttf") format("truetype"),url("#{$fontsPath}/43653318-4d8d-4e4b-8f04-c6e8cb975558.svg#43653318-4d8d-4e4b-8f04-c6e8cb975558") format("svg");
}
@font-face{
font-family:"Lubalin-Medium";
src:url("#{$fontsPath}/a2b62950-ad70-46e2-b2e9-e82ec9db5384.eot?iefix") format("eot");}
@font-face{
font-family:"Lubalin-Medium";
src:url("#{$fontsPath}/a2b62950-ad70-46e2-b2e9-e82ec9db5384.eot?iefix");
src:url("#{$fontsPath}/6e86dc78-6a2a-44b2-a48e-267dd190bc17.woff") format("woff"),url("#{$fontsPath}/61a5852b-4a70-4369-a205-815fa0dccca3.ttf") format("truetype"),url("#{$fontsPath}/5b1a4f6f-183e-4a2b-897c-02b9544ff090.svg#5b1a4f6f-183e-4a2b-897c-02b9544ff090") format("svg");
}