// fonts styles ============================================ 

/*!
Do not attempt to copy, install or redistribute 
these fonts. */

// SIMPLER NAMES

// Lubalin-Medium
// Lubalin-Book

// Helvetica-Light
// Helvetica-Regular
// Helvetica-Bold

@font-face {
    font-family: 'Lubalin-Medium';
    src: url('#{$fontPath}/lubalinforibm-demi-webfont.eot');
    src: url('#{$fontPath}/lubalinforibm-demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}/lubalinforibm-demi-webfont.woff') format('woff'),
         url('#{$fontPath}/lubalinforibm-demi-webfont.ttf') format('truetype'),
         url('#{$fontPath}/lubalinforibm-demi-webfont.svg#LubalinforIBMDemi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lubalin-Book';
    src: url('#{$fontPath}/lubalingraphstd-book-webfont.eot');
    src: local('☺'),
         url('#{$fontPath}/lubalingraphstd-book-webfont.woff') format('woff'),
         url('#{$fontPath}/lubalingraphstd-book-webfont.ttf') format('truetype'),
         url('#{$fontPath}/lubalingraphstd-book-webfont.svg#ITCLubalinGraphStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Light';
    src: url('#{$fontPath}/helvneueforibm-light-webfont.eot');
    src: local('☺'),
         url('#{$fontPath}/helvneueforibm-light-webfont.woff') format('woff'),
         url('#{$fontPath}/helvneueforibm-light-webfont.ttf') format('truetype'),
         url('#{$fontPath}/helvneueforibm-light-webfont.svg#HelvLightIBM') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Regular';
    src: url('#{$fontPath}/helveticaneue-webfont.eot');
    src: local('☺'),
         url('#{$fontPath}/helveticaneue-webfont.woff') format('woff'),
         url('#{$fontPath}/helveticaneue-webfont.ttf') format('truetype'),
         url('#{$fontPath}/helveticaneue-webfont.svg#HelvRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('#{$fontPath}/helvneueforibm-bold-webfont.eot');
    src: local('☺'),
         url('#{$fontPath}/helvneueforibm-bold-webfont.woff') format('woff'),
         url('#{$fontPath}/helvneueforibm-bold-webfont.ttf') format('truetype'),
         url('#{$fontPath}/helvneueforibm-bold-webfont.svg#HelvBoldIBM') format('svg');
    font-weight: bold;
    font-style: normal;
}

// v17 font styles begin ============================================

div, p, span, a, li, strong {
	font-family: $defaultFont;
}















// Masthead Fonts ======================
#ibm-mast-options {
	font-size: 0.65em;
}

#ibm-common-menu {
	font-size: 0.8em;
	line-height: 15px;
}
#ibm-common-menu h2,
#ibm-common-menu h3 {
	font-weight: bold;
}
// End of Masthead Fonts =================


// Related content =======================
#ibm-related-content {
	font-size: 0.7em;
}
// End of Related content ==================


// Content grid font size =======================
#ibm-content .ibm-col-1-1 {
	font-size: 21px;
	line-height: 29px;
}

#ibm-content .ibm-col-4-1 {
	font-size: 14px;
	line-height: 18px;
}

#ibm-content .ibm-col-4-2,
#ibm-content .ibm-col-4-3,
#ibm-content .ibm-col-5-2,
#ibm-content .ibm-col-5-3,
#ibm-content .ibm-col-5-4,
#ibm-content .ibm-col-6-3,
#ibm-content .ibm-col-6-4,
#ibm-content .ibm-col-6-5 {
	font-size: 18px;
	line-height: 24px;
}

#ibm-content .ibm-col-5-1,
#ibm-content .ibm-col-6-1 {
	font-size: 13px;
	line-height: 15px;
}

// line-height is .7 of font-size

#ibm-content .ibm-section-title {
	font-size: $sectionFontSize;
}

#ibm-content .ibm-small {
	font-size: percentage(21 / 16);
}

#ibm-content .ibm-large {
	font-size: $sectionFontSize * 2;
}

// End of Content grid font size =======================


// Footer font=============================
#ibm-footer-module ul {
    line-height: 14px;
}

#ibm-footer-module,
#ibm-footer {
    font-size: 0.7em;
}

// End of Footer font=============================










