// icons styles begin ============================================

// run 'fontcustom compile icons' from i/v17e directory to generate new font file

.ibm-anchor-down-link:before,
.ibm-audio-link:before,
.ibm-back-link:before,
.ibm-bullet:before,
.ibm-cancel-link:before,
.ibm-chat-link:before,
.ibm-check-link:before,
.ibm-confirm-link:before,
.ibm-delicious-link:before,
.ibm-demo-link:before,
.ibm-document-link:before,
.ibm-download-link:before,
.ibm-email-link:before,
.ibm-error-link:before,
.ibm-facebook-link:before,
.ibm-forward-link:before,
.ibm-information-link:before,
.ibm-password-link:before,
.ibm-pdf-link:before,
.ibm-phone-link:before,
.ibm-rss-link:before,
.ibm-setting-link:before,
.ibm-twitter-link:before,
.ibm-upward-link:before,
.ibm-wireless-link:before,
#ibm-footer-module li:before {
	font-family: 'iconsIBM';
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	position: absolute;
	text-decoration: inherit;
}

a.ibm-anchor-down-link:before,
a.ibm-audio-link:before,
a.ibm-back-link:before,
a.ibm-bullet:before,
a.ibm-cancel-link:before,
a.ibm-chat-link:before,
a.ibm-check-link:before,
a.ibm-confirm-link:before,
a.ibm-delicious-link:before,
a.ibm-demo-link:before,
a.ibm-document-link:before,
a.ibm-download-link:before,
a.ibm-email-link:before,
a.ibm-error-link:before,
span.ibm-error-link:before,
a.ibm-facebook-link:before,
a.ibm-forward-link:before,
a.ibm-information-link:before,
a.ibm-password-link:before,
a.ibm-pdf-link:before,
a.ibm-phone-link:before,
a.ibm-rss-link:before,
a.ibm-setting-link:before,
a.ibm-twitter-link:before,
a.ibm-upward-link:before,
a.ibm-wireless-link:before {
	@include px-to-rem(margin-left,-20px);
	text-decoration: none;	
}

a.ibm-inline {
	@include px-to-rem(padding-left,20px);
}

.ibm-anchor-down-link:before { content: "\f100"; }
.ibm-audio-link:before { content: "\f101"; }
.ibm-back-link:before { content: "\f102"; }
.ibm-bullet:before,
#ibm-footer-module li:before { content: "\f103"; }
.ibm-cancel-link:before { content: "\f104"; }
.ibm-chat-link:before { content: "\f105"; }
.ibm-check-link:before { content: "\f106"; }
.ibm-confirm-link:before { content: "\f107"; }
.ibm-delicious-link:before { content: "\f108"; }
.ibm-demo-link:before { content: "\f109"; }
.ibm-document-link:before { content: "\f10a"; }
.ibm-download-link:before { content: "\f10b"; }
.ibm-email-link:before { content: "\f10c"; }
.ibm-error-link:before { content: "\f10d"; }
.ibm-facebook-link:before { content: "\f10e"; }
.ibm-forward-link:before { content: "\f10f"; }
.ibm-information-link:before { content: "\f110"; }
.ibm-password-link:before { content: "\f111"; }
.ibm-pdf-link:before { content: "\f112"; }
.ibm-phone-link:before { content: "\f113"; }
.ibm-rss-link:before { content: "\f114"; }
.ibm-setting-link:before { content: "\f115"; }
.ibm-twitter-link:before { content: "\f116"; }
.ibm-upward-link:before { content: "\f117"; }
.ibm-wireless-link:before { content: "\f118"; }
