// icons styles begin ============================================

// run 'fontcustom compile icons' from i/v17e directory to generate new font file


/*
.ibm-a-anchor					ibm-anchor-down-link
.ibm-a-arrow					?
.ibm-a-back-link				ibm-back-link
.ibm-a-external-link		 	ibm-external-link
.ibm-a-forward-bd		 		ibm-forward-em-link,ibm-generic-link
.ibm-a-top						ibm-upward-link
.ibm-bullet-check				?
.ibm-bullet-square				?may be for bullet 
.ibm-check-bold					ibm-check-link
.ibm-cta-arrow-sm				?
.ibm-cta-arrow					?
.ibm-cta-chevron-link			ibm-chevron-link
.ibm-cta-chevron				? Looks to be used for ribbon
.ibm-cta-download				?
.ibm-cta-generic				?
.ibm-demo-link					ibm-demo-link
.ibm-doc-folder					?
.ibm-doc-pdf					ibm-pdf-link
.ibm-document-link				ibm-document-link
.ibm-download-link				ibm-download-link
.ibm-download-whitepaper		?
.ibm-download					?
.ibm-email-link					ibm-email-link
.ibm-form-alert					ibm-error-link,ibm-errorLarge-link
.ibm-form-cancel				ibm-cancel-link
.ibm-form-confirm-link			ibm-confirm-link
.ibm-form-error-link			ibm-error-link
.ibm-form-reset					ibm-reset-link
.ibm-forward-link				ibm-forward-link
.ibm-help-lg					ibm-questionLarge-link
.ibm-help						ibm-question-link,ibm-help-link
.ibm-ibmer						? Not sure where this is used, not in v17 icons list
.ibm-ldr-email					ibm-email-link
.ibm-ldr-phone					ibm-phone-link
.ibm-ldr-quote					ibm-requestaquote-link
.ibm-ldr-register				?
.ibm-ldr-repcall				ibm-callme-link
.ibm-link-down					ibm-anchor-down-link
.ibm-logo-sp-na					--smarter planet logo
.ibm-media-audio				ibm-audio-link
.ibm-media-play					ibm-demoplay-link
.ibm-nav-dropdown				?If it is for sorting then corresponding icons are missing
.ibm-nav-menu					?
.ibm-nav-search					?-looks to be used for search Icon
.ibm-password-link				ibm-password-link
.ibm-popup						ibm-popup-link
.ibm-rate-star					ibm-fullstar-link 
.ibm-rss						ibm-rss-link
.ibm-setting-link				ibm-setting-link
.ibm-soc-blog					ibm-blog-link
.ibm-soc-expert					?
.ibm-soc-facebook				ibm-facebook-link
.ibm-soc-flickr					ibm-flickr-link
.ibm-soc-linkedin				ibm-linkedin-link
.ibm-soc-pinterest				?
.ibm-soc-profile				?
.ibm-soc-rssfeed				? Already we have ibm-rss		
.ibm-soc-tumbler				?
.ibm-soc-twitter				ibm-twitter-link
.ibm-soc-youtube				ibm-youtube-link
.ibm-status-alert				ibm-error-link,ibm-errorLarge-link
.ibm-status-caution				ibm-caution-link,ibm-cautionLarge-link
.ibm-tog-list					dropdown icon for alternate masthead
.ibm-tog-minus					?ibm-show-hide ibm-show-active(confirm)
.ibm-tog-plus					?ibm-show-hide-link(confirm)
.ibm-tog-tile					?
.ibm-tool-info					ibm-information-link
.ibm-tool-print					ibm-print-link
.ibm-tool-settings				ibm-setting-link
.ibm-tool-share					?
.ibm-x							ibm-cancel-link

Notes:
--ibm-information-link and ibm-help-link was shared same for v17 . you can use ibm-help-link and ibm-question-link together
--ibm-status-alert and ibm-form-error-link looks similar (common class : ibm-error-link)
--ibm-cta-generic, ibm-forward-link, ibm-a-arrow looks similar 
--ibm-back-bd is not available
--ibm-bullet-check: not sure what it is for


*/



.ibm-anchor-down-link:before,
.ibm-audio-link:before,
.ibm-back-link:before,
.ibm-bullet:before,
.ibm-cancel-link:before,
.ibm-chat-link:before,
.ibm-check-link:before,
a.ibm-chevron-link:after,
li.ibm-chevron-link a:after,
.ibm-confirm-link:before,
.ibm-delicious-link:before,
.ibm-demo-link:before,
.ibm-document-link:before,
.ibm-download-link:before,
.ibm-email-link:before,
.ibm-error-link:before,
.ibm-facebook-link:before,
.ibm-forward-link:before,
.ibm-information-link:before,
.ibm-password-link:before,
.ibm-pdf-link:before,
.ibm-phone-link:before,
.ibm-rss-link:before,
.ibm-setting-link:before,
.ibm-twitter-link:before,
.ibm-upward-link:before,
.ibm-wireless-link:before,
#ibm-masthead #ibm-common-menu .ibm-ribbon-pane li:before,
#ibm-footer-module li:before,
a.ibm-ribbon-next:before,
a.ibm-ribbon-prev:before {
	font-family: 'iconsIBM';
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	position: absolute;
	text-decoration: none;
}

a.ibm-anchor-down-link:before,
a.ibm-audio-link:before,
a.ibm-back-link:before,
a.ibm-bullet:before,
a.ibm-cancel-link:before,
a.ibm-chat-link:before,
a.ibm-check-link:before,
a.ibm-confirm-link:before,
a.ibm-delicious-link:before,
a.ibm-demo-link:before,
a.ibm-document-link:before,
a.ibm-download-link:before,
a.ibm-email-link:before,
a.ibm-error-link:before,
span.ibm-error-link:before,
a.ibm-facebook-link:before,
a.ibm-forward-link:before,
a.ibm-information-link:before,
a.ibm-password-link:before,
a.ibm-pdf-link:before,
a.ibm-phone-link:before,
a.ibm-rss-link:before,
a.ibm-setting-link:before,
a.ibm-twitter-link:before,
a.ibm-upward-link:before,
a.ibm-wireless-link:before {
	@include px-to-rem(margin-left,-25px);
	text-decoration: none;
}

a.ibm-chevron-link:after,
li.ibm-chevron-link a:after {
	text-decoration: none;
}

.ibm-anchor-down-link:before { content: "\00a0\f100\00a0"; }
.ibm-audio-link:before { content: "\00a0\f101\00a0"; }
.ibm-back-link:before { content: "\00a0\f102\00a0"; }
.ibm-bullet:before,
#ibm-masthead #ibm-common-menu .ibm-ribbon-pane li:before,
#ibm-footer-module li:before { content: "\f107"; }
.ibm-cancel-link:before { content: "\00a0\f104\00a0"; }
.ibm-chat-link:before { content: "\00a0\f105\00a0"; }
.ibm-check-link:before { content: "\00a0\f106\00a0"; }
a.ibm-chevron-link:after,
li.ibm-chevron-link a:after { content: "\00a0\f10b\00a0"; }
.ibm-confirm-link:before { content: "\00a0\f108\00a0"; }
.ibm-delicious-link:before { content: "\00a0\f109\00a0"; }
.ibm-demo-link:before { content: "\00a0\f10a\00a0"; }
.ibm-document-link:before { content: "\00a0\f10b\00a0"; }
.ibm-download-link:before { content: "\00a0\f10c\00a0"; }
.ibm-email-link:before { content: "\00a0\f10d\00a0"; }
.ibm-error-link:before { content: "\00a0\f10e\00a0"; }
.ibm-facebook-link:before { content: "\00a0\f10f\00a0"; }
.ibm-forward-link:before { content: "\00a0\f110\00a0"; }
.ibm-information-link:before { content: "\00a0\f111\00a0"; }
.ibm-password-link:before { content: "\00a0\f112\00a0"; }
.ibm-pdf-link:before { content: "\00a0\f113\00a0"; }
.ibm-phone-link:before { content: "\00a0\f114\00a0"; }
.ibm-rss-link:before { content: "\00a0\f115\00a0"; }
.ibm-setting-link:before { content: "\00a0\f116\00a0"; }
.ibm-twitter-link:before { content: "\00a0\f117\00a0"; }
.ibm-upward-link:before { content: "\00a0\f118\00a0"; }
.ibm-wireless-link:before { content: "\00a0\f119\00a0"; }

a.ibm-inline,
a.ibm-inline:before,
a.ibm-inline:after {
	margin-left: 0 !important;
	margin-right: 0 !important;
	position: relative !important;
}

.ibm-standalone-acc,
.ibm-standalone-acc:hover,
.ibm-standalone-acc:active {
	color: transparent;
	display: inline-block;
	width: 18px;
}

.ibm-standalone-acc:before {
	color: #00649D;
	margin-left: 0 !important;
	margin-right: 0 !important;
	position: relative !important;
}


























// ibm-ribbon start
a.ibm-ribbon-next,
a.ibm-ribbon-prev {
//	background: url("../i/v17e/mod/chev.png") no-repeat;
//	background-image: url("../i/v17e/mod/chev.svg"), none;	
	display: block;
	font-size: 0;
	color: transparent;
	overflow: hidden;
	width: 20px;
	height: 60px;
	position: absolute;
	cursor: pointer;
}
a.ibm-ribbon-next:before,
a.ibm-ribbon-prev:before {
	overflow: visible;
	color: #858484;
	font-size: 30px;
	letter-spacing: -5px;
	line-height: 45px;
	text-indent: 0%;
}

a.ibm-ribbon-next:before {
	content: "\00a0\f130\00a0";
}
a.ibm-ribbon-next:hover:before {
	content: "\00a0\f131\00a0";
}
a.ibm-ribbon-next:active:before,
a.ibm-ribbon-next:focus:before {
	content: "\00a0\f12f\00a0";
}
a.ibm-ribbon-prev:before {
	content: "\00a0\f12d\00a0";
}
a.ibm-ribbon-prev:hover:before {
	content: "\00a0\f12e\00a0";
}
a.ibm-ribbon-prev:active:before,
a.ibm-ribbon-prev:focus:before {
	content: "\00a0\f12c\00a0";
}



a.ibm-ribbon-next {
	background-position: 0 -120px; 
	right: -20px;
}
.ibm-portrait a.ibm-ribbon-next {
	margin-top: -65px;
}
a.ibm-ribbon-prev {
	background-position: 0 -300px;
	left: -20px;
}
.ibm-portrait a.ibm-ribbon-prev {
	margin-top: 25px;
}

// ibm-ribbon end
