// landing styles begin ============================================

// high definition styles begin ============================================
.ibm-landing-page #ibm-content-sidebar,
.ibm-landing-page #ibm-navigation,
.ibm-landing-page #ibm-media {
	display: none;
}
.ibm-landing-page #ibm-pcon {
	padding-left: 0;
	width: $landingGrid;
	padding: 0 0 10px 0;
}
.ibm-landing-page #ibm-content-head {
	margin: 0 10px;
}
.ibm-landing-page #ibm-content-body {
	padding-top: 0;
}
.ibm-landing-page #ibm-content-main {
	margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: $landingGrid;
}
.ibm-landing-page #ibm-leadspace {
	padding: 0;
	margin: 0;
}
// high definition styles end ============================================

