.ibm-landing-page #ibm-leadspace-head ul#ibm-navigation-trail,
#ibm-content #ibm-leadspace-head ul#ibm-navigation-trail,
#ibm-content-head ul#ibm-navigation-trail {
    height: 1%;
    text-shadow: none;
    padding: 10px 0 0 0;
    position: relative#{$ie9Hack};
    *position: relative;
}

#ibm-navigation-trail:after {
	@include aslett-clearing;
}

#ibm-content #ibm-leadspace-head ul#ibm-navigation-trail,
#ibm-content-head ul#ibm-navigation-trail {
	margin: 0 10px;
}

#ibm-content-head ul#ibm-navigation-trail li.ibm-first,
#ibm-content-head ul#ibm-navigation-trail li:first-child {
	padding-left: 0;
}

.ibm-landing-page #ibm-leadspace-head ul#ibm-navigation-trail li,
#ibm-content #ibm-leadspace-head ul#ibm-navigation-trail li,
#ibm-content-head ul#ibm-navigation-trail li {
    display: inline;
    float: left;
	clear: none;
    padding: 0 16px 0 2px;
}

.ibm-landing-page #ibm-leadspace-head ul#ibm-navigation-trail li a:link,
.ibm-landing-page #ibm-leadspace-head ul#ibm-navigation-trail li a:visited,
#ibm-content #ibm-leadspace-head ul#ibm-navigation-trail li a:link,
#ibm-content #ibm-leadspace-head ul#ibm-navigation-trail li a:visited,
#ibm-content-head ul#ibm-navigation-trail li a:link, 
#ibm-content-head ul#ibm-navigation-trail li a:visited {
    color: #666;
    text-decoration: none;
}

.ibm-landing-page #ibm-leadspace-head ul#ibm-navigation-trail li a:hover,
#ibm-content-head ul#ibm-navigation-trail li a:hover {
	text-decoration: underline;	
}

#ibm-content-head #ibm-navigation-trail + h1 {
	padding-top: 0;
}