// popup styles begin ============================================

.ibm-popup#ibm-top {
	min-width: 390px;
	margin-top: 34px;
}

.ibm-popup #ibm-pcon {
	background: #FFF;
 	margin-left: 10px;
 	margin-top: 0;
 	padding: 0 0 10px 20px;
 	width: auto;
}

.ibm-popup #ibm-masthead {
	border-bottom: medium none;
	min-width: 390px;
}

.ibm-popup #ibm-universal-nav #ibm-unav-links {
	float: none !important;
}

.ibm-popup #ibm-universal-nav{
	height: 32px !important;
	min-width: 390px;
	border-bottom: medium none;
	border-top: medium none;
}

.ibm-popup #ibm-universal-nav li#ibm-home a {
	background-position: 0px -100px;
}

.ibm-popup #ibm-universal-nav li#ibm-home a:hover {
	background-position: 0px -130px;
}

.ibm-popup #ibm-universal-nav li#ibm-title {
	color: #CCC;
	float: right;
	font-size: 0.85em;
	font-weight: bold;
	margin: 4px 10px 0;
	text-shadow: 0 1px 0 #000;
}

.ibm-popup #ibm-content-main {
	width: 95%;
}

.ibm-popup p.ibm-intro {
	color: #222;
}

.ibm-popup .ibm-buttons-row p {
    padding: 10px 0;
    width: 95%;
}

.ibm-popup .ibm-buttons-row{
	padding-bottom: 20px;
    padding-top: 10px;
    text-align: right;
}

.ibm-popup iframe {
	border: 2px solid #CCC;
	font-weight: normal; 
	font-size: 0.8em; 
	color: rgb(0, 0, 0);
}

.ibm-popup textarea{
    min-width: 95%;
}

.ibm-popup .ibm-buttons-row span.ibm-sep {
	padding: 5px;
}
.ibm-popup #ibm-leadspace-body,
.ibm-popup #ibm-content-sidebar,
.ibm-popup #ibm-navigation,
.ibm-popup #ibm-media,
.ibm-popup #ibm-mast-options,
.ibm-popup #ibm-menu-links,
.ibm-popup #ibm-search-module,
.ibm-popup #ibm-footer,
.ibm-popup #ibm-related-content,
.ibm-popup #ibm-footer-module,
.ibm-popup #ibm-social-tools {
	display: none;
}