// tabs styles begin ============================================

/* LEADSPACE TABS START */
#ibm-content-nav {
	position: relative;
	margin-top: -40px;
	padding-bottom: 0px;
	min-height: 40px;
    _zoom: 1; /* ie6 fix for disappearing tabs */
}

#ibm-content-nav #ibm-primary-tabs {
	height: 40px;
	overflow: hidden;
	@include background-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
}

#ibm-content-nav #ibm-secondary-tabs {
	padding: 20px 0px;
	text-align: center;
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs {
	margin: 0px auto;
	padding: 0px 20px;
    width: 940px;
}

#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs {
	margin: 0 auto;
    width: 940px;
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs li {
	height: 1%;
	float: left;
	display: block;
	opacity: .90;
	filter: alpha(opacity = 90);
	border-top: 1px solid rgba(0,0,0,0.1);
	border-right: 1px solid rgba(255,255,255,0.2);
	border-left: 1px solid rgba(255,255,255,0.2);
	margin-right: 3px;
	margin-top: 6px;
	@include background-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	@include transition(opacity 0.3s);
}

#ibm-content-nav #ibm-primary-tabs.ibm-transparency-80 ul.ibm-tabs li {
	opacity: .80;
}

#ibm-content-nav #ibm-primary-tabs.ibm-transparency-70 ul.ibm-tabs li {
	opacity: .70;
}

#ibm-content-nav #ibm-primary-tabs.ibm-transparency-80 ul.ibm-tabs li:hover,
#ibm-content-nav #ibm-primary-tabs.ibm-transparency-70 ul.ibm-tabs li:hover {
	@include transition(opacity 0.3s);
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs li.ibm-active {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.ibm-landing-page #ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs li {
	display: inline;
	height: 1%;
	float: left;
	border-right: 1px solid #E5E5E5;
	padding: 3px 15px;
    text-align: center;
	margin-bottom: 7px;
}

#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs li:first-child {
	border-left: 0px none;
	margin-left:0px;
}

#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs li:last-child {
	border-right: 0px none;
}

#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs a {
	padding: 0;
}

#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li.ibm-active a {
	padding-bottom: 1px;
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a {
	display: block;
	color: #FFF;
	padding: 10px 16px 8px;
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	text-decoration: none;
}

#ibm-content-nav #ibm-primary-tabs.ibm-small-labels ul.ibm-tabs a {
	padding: 10px 25px;
}

#ibm-content-nav #ibm-primary-tabs.ibm-medium-labels ul.ibm-tabs a {
	padding: 10px 15px;
}

#ibm-content-nav #ibm-primary-tabs.ibm-large-labels ul.ibm-tabs a {
	padding: 10px 10px;
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a {
	@include transition(background-color 0.3s);
}

/* added focus for static-tab links - Hemang P*/
#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a:hover, 
#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a:focus {
    background-color: #000;
}
 
#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a:active {
	background-color: #999;
	text-shadow: none;
} 

#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs a {
	text-decoration: none;
	color: #666;
	padding: 0px;
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs li.ibm-active a {
	background: #FFF;
	color: #000;
	text-shadow: none;
	padding-bottom: 9px;
	position: relative;
	top: 1px;
}

/* added focus for static-tab links -Hemang P*/
#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs a:hover,
#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs a:focus,
#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs li.ibm-active a {
	color: #000;
}

/* added styles for dynamic-tab lists */
#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li {
	display: block;
	color: #000;
	padding: 10px 25px;
	background-color: #DDD;
	background-color: rgba(216,216,216,0.9);
	text-shadow:0px 1px 0px #FFF;
	text-decoration: none;
	cursor:pointer;
	font-weight: bold;
	font-size: 0.9em;
}

#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li:hover, 
#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li:focus {
	background-color: #EEE;
    background-color: rgba(229,229,229,0.95);
}

#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li:active, 
#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li.ibm-active {
	background-color: #999;
	background-color: rgba(153,153,153,0.8);
	color: #000;
	text-shadow: none;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dyntabs ul.ibm-tabs li {
	text-decoration: none;
	color: #666;
	margin: 0px 15px;
}

#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li:focus {
	border-color: #D5D5D5;
	outline: thin dotted;
}

#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li.ibm-active {
	background: #FFF;
	padding-bottom: 11px;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dyntabs ul.ibm-tabs li:hover,
#ibm-content-nav #ibm-secondary-tabs.ibm-dyntabs ul.ibm-tabs li.ibm-active {
	color: #000;
}
/* LEADSPACE TABS END */


/* CONTENT TABS START */
#ibm-com div.ibm-tab-section {
	clear: both;	
	float: left;
	width: 100%;
}

#ibm-com div.ibm-tab-section {
	border-bottom: 1px solid #CCC; 
	
}

#ibm-com div.ibm-tab-section.ibm-text,
#ibm-com .ibm-container.ibm-graphic-tabs {
	border-top:0 none;
}

#ibm-com .ibm-graphic-tabs.ibm-dyntabs .ibm-container-body {
    padding-top: 5px;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text {
	margin-top: -25px;
	text-align: center;
	border-top: 0 none;
	border-bottom:0 none;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text.ibm-alternate-align {
	text-align: left;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul.ibm-tabs {
  margin-bottom:-10px;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul li.ibm-highlight-tab,
#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul.ibm-bullet-list li.ibm-highlight-link {
	font-weight:bold;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul li {
	background: none repeat 0 0 transparent;
    border-left: 0 none !important;
    border-right: 1px solid #CCC !important;
    border-top: 0 none !important;
    float: none;
    margin-left: 0;
    display: inline;
    font-weight: normal;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul.ibm-link-list,
#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul.ibm-bullet-list {
	text-align:left;
	padding-left:0px;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul.ibm-link-list li {
	line-height:1em;
}
 
#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul.ibm-link-list li,
#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul.ibm-bullet-list li {
	border-right:0px none !important;
	padding-right:0px !important;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul.ibm-bullet-list li {
	background: url("#{$imagePath}/i/v17/bullets/ibm_bullet_grey_off.png") no-repeat 0px 10px;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul.ibm-bullet-list li:hover {
	background: url("#{$imagePath}/i/v17/bullets/ibm_bullet_grey_on.png") no-repeat 0px 10px;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul.ibm-bullet-list li a {
	text-decoration:none;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul.ibm-link-list li a {
	display:block;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text .ibm-two-column ul,
#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text .ibm-three-column ul {
	padding-top:12px;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text .ibm-two-column ul.ibm-link-list li a,
#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text .ibm-three-column ul.ibm-link-list li a {
	padding-bottom:10px;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text .ibm-two-column ul.ibm-bullet-list li,
#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text .ibm-three-column ul.ibm-bullet-list li {
	display:block;
}

#{$ie7Selector} #ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul.ibm-link-list li a {
	padding-bottom:10px !important;
}

#{$ie7Selector} #ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text .ibm-two-column .ibm-column.ibm-first,
#{$ie7Selector} #ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text .ibm-two-column .ibm-column.ibm-second,
#{$ie7Selector} #ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text .ibm-three-column {
	padding-top:20px;
}

#ibm-com .ibm-dyntabs div.ibm-text ul.ibm-tabs li,
#ibm-com div.ibm-text ul.ibm-tabs li a {
	color: #666;
	display: inline;
	padding: 0;
}

#ibm-com div.ibm-text ul.ibm-tabs li a:active,
#ibm-com .ibm-dyntabs div.ibm-text ul.ibm-tabs li.ibm-active,
#ibm-com div.ibm-text ul.ibm-tabs li.ibm-highlight-tab a {
	color: #454545 !important;
}

#ibm-com .ibm-dyntabs div.ibm-text ul.ibm-tabs li:hover, 
#ibm-com div.ibm-text ul.ibm-tabs li a:hover,
#ibm-com .ibm-dyntabs div.ibm-text ul.ibm-tabs li:focus, 
#ibm-com div.ibm-text ul.ibm-tabs li a:focus { 
	color: #000 !important; 
}

#ibm-com .ibm-columns.ibm-graphic-tabs .ibm-col-1-1 {
	margin: 0px -10px;
}

#ibm-com .ibm-columns.ibm-graphic-tabs,
#ibm-com .ibm-container.ibm-graphic-tabs {
	margin: 0px 10px;
	padding-bottom: 40px;
}

#ibm-com .ibm-container.ibm-graphic-tabs ul.ibm-tabs {
	top: 2px;
}

#ibm-com .ibm-container > div.ibm-tab-section.ibm-text {
    border-top: 2px solid #CCC;
    margin-top: -2px;
    padding-top: 6px;
}

#ibm-com ul.ibm-tabs a,
#ibm-com .ibm-dyntabs ul.ibm-tabs li a {
	display: block;
	padding: 6px 12px 4px;
	color: #454545;
	text-decoration: none;
}

#ibm-com .ibm-graphic-tabs div.ibm-tab-section {
	margin-bottom: 22px;
}

#ibm-com ul.ibm-tabs {
	clear: left;
	display: block;
	padding: 0px;
	position: relative;
}

#ibm-com ul.ibm-tabs li {
	padding: 0px;
	float: left;
}

#ibm-com ul.ibm-tabs li a:hover,
#ibm-com ul.ibm-tabs li a:visited {
	text-decoration:none !important;
	color:#000;
}

#ibm-com .ibm-graphic-tabs ul.ibm-tabs li {
	background: #DEDEDE;
	@include background-gradient(bottom, #cdcdcd 3%, rgba(222, 222, 222, 0) 58%);
	margin-right:1px;
	margin-bottom: 1px;
	color: #000;
	text-shadow: 0px 1px 0px #FFF;
	display: block;
	text-decoration: none;
	cursor: pointer;
	border-left: 1px solid #E8E8E8;
    border-right:1px solid #E8E8E8;
    border-top:1px solid #E8E8E8;
}

#ibm-com .ibm-graphic-tabs  ul.ibm-tabs li.ibm-active,
#ibm-com .ibm-graphic-tabs  ul.ibm-tabs li.ibm-highlight-tab {
    background: none repeat 0 0 #FFF;
    border-left: 1px solid #CCC !important;
    border-right:1px solid #CCC !important;
    border-top:1px solid #CCC !important;
    color: #000;
}

#ibm-com .ibm-graphic-tabs  ul.ibm-tabs li.ibm-active:hover,
#ibm-com .ibm-graphic-tabs  ul.ibm-tabs li.ibm-highlight-tab:hover,
#ibm-com div.ibm-text ul.ibm-tabs li:first-child.ibm-active:hover {
	background: none repeat 0 0 #FFF;
}

#ibm-com .ibm-graphic-tabs ul.ibm-tabs li:hover {
	color: #000;
	text-decoration: none;
	background:#C6C6C6;
}

#ibm-com div.ibm-text ul.ibm-tabs li {
    border-bottom: 0 none !important;
    border-right: 1px solid #E5E5E5;
    margin-bottom: 7px;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
}

#ibm-com div.ibm-text ul.ibm-tabs.ibm-link-list li {
    border-left: 0 none;
    float: none;
    margin-bottom: 10px;
    padding-left: 0;
    text-align: left;
}

#ibm-com .ibm-graphic-tabs.ibm-combo-tabs div.ibm-tab-section.ibm-text ul.ibm-tabs li.ibm-last-tab,
#ibm-com div.ibm-text ul.ibm-tabs li.ibm-last-tab {
	border-right: 0px none !important;
}

#ibm-com div.ibm-tab-section.ibm-text {
	margin-bottom:22px;
	padding-bottom:5px;
}

#{$ie7Selector} #ibm-com div.ibm-tab-section.ibm-text {
	padding-bottom:10px;
}

#ibm-com div.ibm-text ul.ibm-tabs li:first-child,
#ibm-com .ibm-graphic-tabs ul.ibm-tabs li:first-child {
	margin-left: 0px;

}

#ibm-com div.ibm-text div.ibm-rule {
	display: none;
}

#ibm-com div.ibm-text ul.ibm-tabs {
	color: #000;
	display: block;
	padding: 6px 0px;
}

#ibm-com div.ibm-text ul.ibm-tabs li,
#ibm-com .ibm-dyntabs div.ibm-text ul.ibm-tabs li,
#ibm-com div.ibm-text ul.ibm-tabs li.ibm-last-tab {
	 padding-left: 14px;
    padding-right: 13px;
}

#ibm-com .ibm-dyntabs div.ibm-text ul.ibm-tabs li.ibm-highlighed-tab, 
#ibm-com .ibm-dyntabs.ibm-graphic-tabs ul.ibm-tabs li.ibm-active, 
#ibm-com .ibm-graphic-tabs .ibm-dyntabs ul.ibm-tabs li.ibm-active {
	height: 17px;
}

#ibm-com .ibm-dyntabs div.ibm-text ul.ibm-tabs li.ibm-highlighed-tab:focus, 
#ibm-com .ibm-dyntabs.ibm-graphic-tabs ul.ibm-tabs li.ibm-active:focus, 
#ibm-com .ibm-graphic-tabs .ibm-dyntabs ul.ibm-tabs li.ibm-active:focus {
	outline: thin dotted;
}

#ibm-com .ibm-dyntabs div.ibm-text ul.ibm-tabs li,
#ibm-com .ibm-dyntabs.ibm-graphic-tabs ul.ibm-tabs li,
#ibm-com .ibm-graphic-tabs .ibm-dyntabs ul.ibm-tabs li {
    height: 16px;
}

#ibm-com .ibm-dyntabs.ibm-graphic-tabs ul.ibm-tabs li,
#ibm-com .ibm-graphic-tabs .ibm-dyntabs ul.ibm-tabs li {
    padding: 6px 8px;
}

#ibm-com .ibm-combo-tabs div.ibm-text ul.ibm-tabs li,
#ibm-com .ibm-dyntabs div.ibm-text ul.ibm-tabs li {
	*zoom: 1;
	_zoom: 0;
}

#ibm-com div.ibm-text ul.ibm-tabs li,
#ibm-com .ibm-text ul.ibm-tabs li.ibm-active,
#ibm-com .ibm-text ul.ibm-tabs li.ibm-highlight-tab {
	border-bottom: 0px none;
}
 
#ibm-com div.ibm-text ul.ibm-tabs li.ibm-active:visited, 
#ibm-com div.ibm-text ul.ibm-tabs li.ibm-active:hover,
#ibm-com div.ibm-text ul.ibm-tabs li.ibm-highlight-tab:visited, 
#ibm-com div.ibm-text ul.ibm-tabs li.ibm-highlight-tab:hover {
	background:#FFF;
	color: #000;
}

#ibm-com div.ibm-text ul.ibm-tabs span.ibm-sep {
	display: none;
}
/* CONTENT TABS END */



/* Secondary Tabs */
#ibm-content-nav #ibm-secondary-tabs {
	background-image: linear-gradient(bottom, #F3F3F3 0px, #FFF 15xp);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F3F3F3',GradientType=0 );
	@include background-gradient(bottom, #F3F3F3 0px, #FFF 15%);
	margin-top: 1px;
	padding: 8px 20px 2px;
	*padding: 8px 20px 8px;
	border-bottom: 1px solid #EEE;
}

#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs:after {
	@include aslett-clearing;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-list-view,
#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view {
	overflow: hidden;
	padding: 20px 20px 12px;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-dynamic-subtabs ul.ibm-tabs li {
	margin-bottom: 16px;
}

#ibm-content-nav #ibm-secondary-tabs #ibm-secondary-tab-list {
	padding-bottom: 20px;
}

#ibm-content-nav #ibm-secondary-tabs #ibm-secondary-tab-list h2 {
	font-size: 0.8em;
	padding: 0px 8px;
	margin: -2px 0px 2px -7px;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-columns {
	text-align: left;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-columns ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-columns.ibm-dynamic-subtabs ul.ibm-tabs {
	padding: 0px 0px 0px 10px;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-columns.ibm-dynamic-subtabs ul.ibm-tabs li {
	background: none;
	clear: none;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-columns ul li {
	background: url("#{$imagePath}/i/v17/bullets/ibm_bullet_grey_off.png") no-repeat 0px 9px;  
	padding: 4px 0px 4px 8px;
	height: 1%;
	clear: left;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-columns ul li.ibm-active {
	background: url("#{$imagePath}/i/v17/bullets/ibm_bullet_black_on.png") no-repeat 0px 9px;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-columns ul li:hover {
	background: url("#{$imagePath}/i/v17/bullets/ibm_bullet_grey_on.png") no-repeat 0px 9px;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-columns ul li:active {
	background: url("#{$imagePath}/i/v17/bullets/ibm_bullet_green.png") no-repeat 0px 9px;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-columns ul li a {
	font-size: 0.75em;
	outline: 0;
	color: #666;
	text-decoration: none;
	display: block;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-columns ul li a:hover {
	color: #333;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-columns.ibm-dynamic-subtabs ul.ibm-tabs li a {
	white-space: nowrap;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-columns.ibm-dynamic-subtabs ul.ibm-tabs li a:hover {
	color: #000;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-columns ul li.ibm-active a,
#ibm-content-nav #ibm-secondary-tabs .ibm-columns ul li a:active {
	color: #000;
}

#ibm-content-nav #ibm-secondary-tabs .ibm-columns.ibm-dynamic-subtabs ul.ibm-tabs li a:active {
	color: #000;
	font-weight: normal;
}

#ibm-content-nav #ibm-secondary-tabs #ibm-expand-container .ibm-col-1-1 {
	position: absolute;
	bottom: 0px;
}

#ibm-content-nav #ibm-secondary-tabs #ibm-expand-container p.ibm-expand-text {
	position: relative;
	bottom: 28px;
	cursor: pointer;
	color: #00649D;
	float: right;
	font-family: Georgia;
	font-style: italic;
	font-size: 0.8em;
}

#ibm-content-nav #ibm-secondary-tabs p.ibm-expand-text:hover {
	color: #008ABF;
	text-decoration: underline;
}

#ibm-content-nav #ibm-secondary-tabs p.ibm-expand-text:active {
	text-decoration: none;
}

/* DROPDOWN OVERLAYS */
#ibm-secondary-tabs.ibm-dropdown-view #ibm-dropdown-content {
	margin-top: -4px;
}

#ibm-secondary-tabs.ibm-dropdown-view #ibm-dropdown-content input {
	cursor: pointer;
	width: 300px;
	background: url("#{$imagePath}/i/v17/icons/dropdown_sprite.png") no-repeat 100% -3px;
	border: 0px none;
	font-size: 0.8em;
	font-weight: bold;
}

#ibm-secondary-tabs.ibm-dropdown-view #ibm-dropdown-content span {
	display: block;
	float: left;
	width: 300px;
	padding: 3px 3px 5px 9px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFCFC', endColorstr='#ECECEC');
	@include background-gradient(top,  #FCFCFC,  #ECECEC);
	@include border-radius(2px);
	border: 1px solid #DDD;
	color: #000;
	text-decoration: none;	
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view #ibm-dropdown-content p.ibm-expand-text {
	cursor: pointer;
	padding-left: 20px;
	color: #00649D;
    position: relative;
    top: 7px;
	float: left;
	font-family: Georgia;
	font-style: italic;
	font-size: 0.8em;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view #ibm-expand-container {
	display: none;	
}

#ibm-secondary-tabs.ibm-dropdown-view .ibm-tab-overlay {
	display: none;
	position: absolute;
	background-color: #FFF;
	z-index: 800;
	@include background-gradient(top, #FFFFFF 30%, #CCCCCC 100%);
	@include border-radius(8px);
	@include box-shadow(0px 1px 5px #333);
	padding: 4px 1px;
	margin-left: -5px;
	margin-top: 29px;
	border: 5px solid #666;
}

#{$ie7Selector} #ibm-secondary-tabs.ibm-dropdown-view .ibm-tab-overlay {
	margin-left: -400px;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view #ibm-dropdown-content.ibm-columns .ibm-tab-overlay ul {
	width: 315px;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view #ibm-dropdown-content.ibm-columns .ibm-tab-overlay ul.ibm-multi-list {
	width: 160px;
	float: left;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view #ibm-dropdown-content.ibm-columns .ibm-tab-overlay ul li {
	padding: 0px;
	background: none;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view #ibm-dropdown-content.ibm-columns .ibm-tab-overlay ul li:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#595C64', endColorstr='#1B1B1C');
	@include background-gradient(top, #595C64,  #1B1B1C);
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view #ibm-dropdown-content.ibm-columns .ibm-tab-overlay ul li a {
	padding: 6px 10px;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view #ibm-dropdown-content.ibm-columns .ibm-tab-overlay ul li a:hover {
	color: #FFF;
}
/* DROPDOWN OVERLAYS */


