// variables ============================================


// !img / font paths
$fontPath : "//1.www.s81c.com/common/fonts";
$imagePath : "http://1.www.s81c.com";

// !fonts
$defaultFont : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelvLightIBM", Arial, sans-serif;
$defaultHeaderFont : "HelveticaNeue-Bold", "HelvBoldIBM", Arial, sans-serif;
$defaultFont-dbcs : Arial,sans-serif;
$defaultHeaderFont-dbcs : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;

// !grid
$landingGrid : 980px;
$landingSpace : 20px;

// !icons
$iconSpaceLeft : 1.4em;

// !hacks
$ie7Selector : ".dj_ie7";
$ie8Selector : ".dj_ie8";
$ie9Hack : "\0/";


// !Shadow effects ============================================

$section-shadow : 0 5px 10px -3px #DEDEDE inset;
$shadow-soft : 0 1px 3px rgba(0,0,0,.75);
$shadow-hard : 0 1px 1px rgba(0,0,0,.75);

// Dark text is against light background
$emboss-light : 0 1px 0 rgba(255,255,255,.95);
	
// Light text is against dark background
$emboss-dark : 0 -1px 0 rgba(0,0,0,.75);

// Used when white text needs to
$glow :	0 0 5px rgba(255,255,255,.75);


// !mixins ============================================

@mixin px-to-rem($style,$px) {
	#{$style}: $px;
	#{$style}: $px/(10px / 1rem);
}

@mixin text-shadow($text...) {
	text-shadow: $text;
}

@mixin border-radius($borders...) {
	-webkit-border-radius: $borders;
	-moz-border-radius: $borders;
	border-radius: $borders;
}

@mixin box-shadow($shadows...) {
	-webkit-box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	box-shadow: $shadows;
}

@mixin background-gradient($gradients...) {
	background: -webkit-linear-gradient($gradients);
	background: -moz-linear-gradient($gradients);
	background: -o-linear-gradient($gradients);
	background: -ms-linear-gradient($gradients);
	background: linear-gradient($gradients);
}

@mixin background-image-gradient($image-url, $image-position, $gradient-position, $gradient-color1, $gradient-color2) {
	background: $gradient-color2;
	background: $image-url $image-position, -webkit-linear-gradient($gradient-position, $gradient-color1, $gradient-color2);
	background: $image-url $image-position, -moz-linear-gradient($gradient-position, $gradient-color1, $gradient-color2);
	background: $image-url $image-position, -o-linear-gradient($gradient-position, $gradient-color1, $gradient-color2);
	background: $image-url $image-position, -ms-linear-gradient($gradient-position, $gradient-color1, $gradient-color2);
	background: $image-url $image-position, linear-gradient($gradient-position, $gradient-color1, $gradient-color2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$gradient-color1}', endColorstr='#{$gradient-color2}');	
}

@mixin transition($transitions...) {
	-webkit-transition: $transitions;
	-moz-transition: $transitions;
	-o-transition: $transitions;
	-ms-transition: $transitions;
	transition: $transitions;
}

@mixin aslett-clearing {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}
