// variables ============================================


// paths
$fontPath : "//1.www.s81c.com/common/fonts";
$imagePath : "http://1.www.s81c.com";

// fonts
$defaultFont : Arial,sans-serif;

// grid
$landingGrid : 980px;
$landingSpace : 20px;

// hacks
$ie6Selector : ".dj_ie6";
$ie7Selector : ".dj_ie7";
$ie9Hack : "\0/";


// mixins ============================================

@mixin border-radius($borders...) {
	-webkit-border-radius: $borders;
	-moz-border-radius: $borders;
	border-radius: $borders;
}

@mixin box-shadow($shadows...) {
	-webkit-box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	box-shadow: $shadows;
}

@mixin background-gradient($gradients...) {
	background: -webkit-linear-gradient($gradients);
	background: -moz-linear-gradient($gradients);
	background: -o-linear-gradient($gradients);
	background: linear-gradient($gradients);
}

@mixin background-image-gradient($image-url, $image-position, $gradient-position, $gradient-color1, $gradient-color2) {
	background: $gradient-color2;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$gradient-color1}', endColorstr='#{$gradient-color2}');
	background: $image-url $image-position, -webkit-linear-gradient($gradient-position, $gradient-color1, $gradient-color2);
	background: $image-url $image-position, -moz-linear-gradient($gradient-position, $gradient-color1, $gradient-color2);
	background: $image-url $image-position, -o-linear-gradient($gradient-position, $gradient-color1, $gradient-color2);
	background: $image-url $image-position, linear-gradient($gradient-position, $gradient-color1, $gradient-color2);
}

@mixin transition($transitions...) {
	-webkit-transition: $transitions;
	-moz-transition: $transitions;
	-o-transition: $transitions;
	-ms-transition: $transitions;
	transition: $transitions;
}

@mixin aslett-clearing {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}
