// URI: www.ibm.com/common/v17e/[Site]/css/ww_cci.css
// Description: [Site] v17e customization CSS file
// Author: [Name and Lotus Notes address of CSS author]
// Date: [Date of file edits] (e.g. July 30, 2013)
//
// Notes:
//   Add "ibm-adapt" class to modules that change under different viewport
//   Use ".ibm_cci-" class prefix for site specific custom code



#ibm-top #ibm-pcon {
	margin-top: 10px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.ibm_cci-background {
	background-color: #F5F5F5;
}

.ibm_cci-background .ibm-band {
	min-height: inherit;
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs li {
	border-top: 1px solid $k01;
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a {
	color: #000;
	background-color: $k10;
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a:hover, 
#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a:focus {
	background-color: $k25;	
}







h1.ibm-brand {
	font-family: $sectionHeaderFont;
}

h1.ibm-brand strong {
	font-family: $LubalinDemi;
}

a#ibm-top-level {
	display: block;
	color: #333;
	text-decoration: none;
	border-right: 1px solid #999;
	width: 80px;
	line-height: 1em;
	float: left;
	margin-right: 20px;
	margin-top: 15px;
}

.ibm-link-list.ibm-adapt-list li {
	float: left;
	margin-right: 20px;
}


.ibm-band.ibm-intro-band {
	padding-top: 0;
	background: url(../i/case-studies/measurable_results.jpg) center center;
	background-size: cover;
	@include box-shadow(0 3px 3px rgba(0,0,0,0.5));
	min-height: 350px;
	margin-bottom: 20px;
}

.ibm-band.ibm-intro-band [class*="ibm-col-"] {
	margin-top: 100px;
}


@media only screen and (min-width: 0) and (max-width: 568px) {
	.ibm-band.ibm-intro-band [class*="ibm-col-"] {
		margin-top: 25px;
	}
}


.ibm-alternate-background {
	@include text-shadow($emboss-dark);
}

.ibm-alternate-background h2 {
	color: #FFF;
}





.ibm-card {
	@include box-shadow(0 1px 3px $k20);
	background-color: #FFF;
	min-height: 200px;
	margin-bottom: 20px;
	float: left;
}

.ibm-card * {
	word-wrap: break-word;
}

.ibm-card:hover {
	@include box-shadow(0 1px 5px $k40);
}

.ibm-card:hover h2 {
	color: #168DB9;
}

#ibm-com .ibm-card .ibm-category {
	color: #999;
}

.ibm-card h2 {
	font-family: $sectionHeaderFont;
	font-weight: 300;
	font-size: 28px;
	letter-spacing: .5px;
	line-height: 1em;
}


.ibm-card img {
	margin: 10px 0px 25px;
}

#ibm-com .ibm-inner-margin .ibm-rule {
	margin: 10px -15px;
}


.ibm-card .ibm-inner-margin .ibm-featured {
	position: relative;
	margin: -15px -10px 5px;
	padding: 10px 10px 2px;
	font-weight: bold;
}

.ibm-card .ibm-featured,
.ibm-card .ibm-category {
	font-size: 14px;
}
