// URI: www.ibm.com/common/v17e/mobilefirst/css/ww_cci.css
// Description: MobileFirst v17e customization CSS file
// Author: Jefferson D Florentino/New York/IBM@IBMUS
// Date: Nov 25, 2013
//
// Notes:
//   Add "ibm-adapt" class to modules that change under different viewport
//   Use ".ibm_cci-" class prefix for site specific custom code



// crop-small and crop-large removes top and bottom margins fom card images
.ibm-card .ibm-media.crop-small img {
	margin-top: -20px;
	margin-bottom: -20px;
}

.ibm-card .ibm-media.crop-large img {
	margin-top: -40px;
	margin-bottom: -40px;
}

#ibm-top #ibm-pcon {
	margin-top: 40px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.ibm_cci-background {
	background-color: #F5F5F5;
}

.ibm_cci-background .ibm-band {
	min-height: inherit;
	padding-top: 40px;
}

.ibm_cci-divider {
	display: block;
	border-top: 1px solid #FFF;
	margin-bottom: 5px;
	width: 40px;
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs li {
	border-top: 1px solid $k01;
}

#ibm-leadspace-head.ibm-alternate-background + #ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a {
	background-color: $k75;
	min-height: 14px;
}

#ibm-leadspace-head.ibm-alternate-background + #ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a:hover, 
#ibm-leadspace-head.ibm-alternate-background + #ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a:active {
	background-color: $k95;	
}

#ibm-leadspace-head.ibm-alternate-background {
	background: #000 url(#{$imagePath}/mobilefirst/i/case-studies/lead-bg.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.no-backgroundsize #ibm-leadspace-head.ibm-alternate-background {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$imagePath}/mobilefirst/i/case-studies/lead-bg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$imagePath}/mobilefirst/i/case-studies/lead-bg.jpg', sizingMethod='scale')";
	min-height: 100%;
	min-width: 100%;
}

#ibm-leadspace-head.ibm-alternate-two #ibm-leadspace-body {
	min-height: 300px;
}

#ibm-top h1 {
	@include px-to-rem(font-size,45px);
}


#ibm-top h1.ibm-brand {
/*	font-size: 5.5rem;
	line-height: 5.5rem;
*/
	padding: 10px 0 25px;
	font-family: $sectionHeaderFont;
}

h1.ibm-brand strong {
	font-family: $LubalinDemi;
}

#ibm-top p#ibm-top-level {
	font-size: .9em;
	padding: 5px 0;
	margin-top: 15px;
}

#ibm-top p#ibm-top-level a {
	display: block;
	text-decoration: none;
	color: $w75;
	line-height: 1em;
}

#ibm-top p#ibm-top-level a:before {
	font-size: 1.2em;
	margin-left: -1.6em;
	color: $w75;
}

#ibm-top p#ibm-top-level a:hover,
#ibm-top p#ibm-top-level a:hover:before {
	color: #FFF;
}

.ibm-link-list.ibm-adapt-list li {
	float: left;
	font-size: .9em;
	margin-right: 20px;
}

.ibm-link-list.ibm-adapt-list li a:before {
	margin-left: -1.6em;
	font-size: 1.2em;
}

.ibm-link-list.ibm-top-cta {
	float: right;
	margin-top: 10px;
}

#ibm-com #ibm-top .ibm-alternate-background h2.section-header {
	color: #FFF;
	@include px-to-rem(font-size,36px);
	@include px-to-rem(line-height,43px);
    padding: 10px 0 20px;
}

/*
.ibm-band.ibm-intro-band {
	padding-top: 0;
	background: url(../i/case-studies/measurable_results.jpg) center center;
	background-size: cover;
	@include box-shadow(0 3px 3px rgba(0,0,0,0.5));
	min-height: 350px;
	margin-bottom: 20px;
}

.ibm-band.ibm-intro-band [class*="ibm-col-"] {
	margin-top: 100px;
}
*/


.ibm-alternate-background {
	@include text-shadow($emboss-dark);
}

.ibm-alternate-background h2 {
	color: #FFF;
}

#ibm-com #ibm-top .section-header.ibm_cci-small {
	@include px-to-rem(font-size,24px);
	padding-bottom: 0;
}

.ibm_cci-sort .ibm-menu-list > div {
	padding: 0;
}

.ibm_cci-sort .ibm-menu-list div:after {
	top: 12px;
}

#ibm-top .ibm_cci-sort .ibm_cci-separator {
	float: left;
	padding: 0;
	margin: 0 10px;
	line-height: 40px;
}


.ibm-card {
	@include box-shadow(0 1px 3px $k20);
	background-color: #FFF;
//	min-height: 200px;
	margin-bottom: 20px;
	float: left;
}

.ibm-card * {
	word-wrap: break-word;
}

.ibm-card:hover {
	@include box-shadow(0 1px 5px $k40);
}

.ibm-card:hover h2,
.ibm-card:hover h3 {
	color: $red-1;
}

#ibm-content .ibm-card:hover p {
	color: #666;
}

#ibm-com .ibm-card .ibm-category {
	color: #999;
	margin-top: -5px;
}

.ibm-card h2,
.ibm-card h3 {
	font-family: $sectionHeaderFont;
	font-weight: 300;
	@include px-to-rem(font-size,28px);
	line-height: 1em;
	padding-bottom: 8px !important;
}


// Card image to apply video play button
.ibm-card img {
	margin: 2px 0 0;
	display: block;
}

.ibm-card .ibm-no-margin {
	margin-left: -15px;
	margin-right: -15px;
}

.ibm-card .ibm-media {
	display: block;
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
}

.ibm-card .ibm-ind-link a.ibm-media {
	display: inline-block;
	overflow: inherit;
	margin-bottom: 0;
}

.ibm-card .ibm-media .ibm-video-play {
	background: url(#{$imagePath}/i/icons/icn-video-play.svg) no-repeat;
	bottom: 10px;
	top: auto;
	left: 15px;
	height: 24px;
	width: 33px;
}

.ibm-card .ibm-media .ibm-no-margin .ibm-video-play {
	left: 0px;
}

.no-svg .ibm-card .ibm-media .ibm-video-play {
	background-image: url(#{$imagePath}/i/icons/icn-video-play.png);
}



#ibm-top #ibm-content-main .ibm-card p.ibm-ind-link {
	padding-bottom: 5px;
	color: #999;
}


#ibm-com .ibm-inner-margin .ibm-rule {
	margin: 10px -15px;
}


.ibm-card .ibm-inner-margin .ibm-featured {
	position: relative;
	margin: -15px -10px 5px;
	padding: 10px 10px 2px;
	font-weight: bold;
}

// To force "Chat now" button to appear (Talk to team about moving this into _common)
#lpbutton.ibm-access {
	left: auto;
	width: auto;
	position: relative;
	padding: 5px 0;
}

#lpbutton a.ibm-chat-link {
	text-decoration: none;
}

#lpbutton a.ibm-chat-link:hover,
#lpbutton a.ibm-chat-link:focus {
	text-decoration: underline;
}




.ibm-connect-bar { 
	display: block; 
	position: relative;
	overflow: hidden; 
	height: 55px;
}

.ibm-connect-bar li { 
	float: left; 
	margin-right: 5px; 
	padding: 0;
}

.ibm-connect-bar li:before {
	display: none;
}

.ibm-connect-bar li a {
	display: block; 
	width: 32px; 
	height: 32px;
	text-indent: -9999px; 
	overflow: hidden; 
	text-decoration: none;
	background: url(#{$imagePath}/i/icons/ibm-soc-dest-sprite.png) no-repeat;
}

.ibm-connect-bar li em { 
	position: absolute; 
	top: 36px; 
	left: 0;
	color: #666; 
	font-size: 13px; 
	line-height: 19px; 
	opacity: 0;
	@include transition(opacity .25s ease-in-out);
}

.ibm-connect-bar li:hover em { 
	opacity: 1;
}

#{$ie7Selector} .ibm-connect-bar li em,
#{$ie8Selector} .ibm-connect-bar li em {
	display: none;
}

.ibm-connect-bar li a.ibm-connect-bar-twitter { background-position: -3px 0px; }
.ibm-connect-bar li a.ibm-connect-bar-youtube { background-position: -43px 0px; }
.ibm-connect-bar li a.ibm-connect-bar-linkedin { background-position: -83px 0px; }
.ibm-connect-bar li a.ibm-connect-bar-facebook { background-position: -123px 0px; }
.ibm-connect-bar li a.ibm-connect-bar-google { background-position: -163px 0px; }
.ibm-connect-bar li a.ibm-connect-bar-blog { background-position: -203px 0px; }
.ibm-connect-bar li a.ibm-connect-bar-pin { background-position: -243px 0px; }
.ibm-connect-bar li a.ibm-connect-bar-tumblr { background-position: -283px 0px; }

.ibm-connect-bar li a.ibm-connect-bar-twitter:hover { background-position: -3px -40px; }
.ibm-connect-bar li a.ibm-connect-bar-youtube:hover { background-position: -43px -40px; }
.ibm-connect-bar li a.ibm-connect-bar-linkedin:hover { background-position: -83px -40px; }
.ibm-connect-bar li a.ibm-connect-bar-facebook:hover { background-position: -123px -40px; }
.ibm-connect-bar li a.ibm-connect-bar-google:hover { background-position: -163px -40px; }
.ibm-connect-bar li a.ibm-connect-bar-blog:hover { background-position: -203px -40px; }
.ibm-connect-bar li a.ibm-connect-bar-pin:hover { background-position: -243px -40px; }
.ibm-connect-bar li a.ibm-connect-bar-tumblr:hover { background-position: -283px -40px; }

.ibm-connect-bar li a.ibm-connect-bar-twitter:active { background-position: -3px -80px; }
.ibm-connect-bar li a.ibm-connect-bar-youtube:active { background-position: -43px -80px; }
.ibm-connect-bar li a.ibm-connect-bar-linkedin:active { background-position: -83px -80px; }
.ibm-connect-bar li a.ibm-connect-bar-facebook:active { background-position: -123px -80px; }
.ibm-connect-bar li a.ibm-connect-bar-google:active { background-position: -163px -80px; }
.ibm-connect-bar li a.ibm-connect-bar-blog:active { background-position: -203px -80px; }
.ibm-connect-bar li a.ibm-connect-bar-pin:active { background-position: -243px -80px; }
.ibm-connect-bar li a.ibm-connect-bar-tumblr:active { background-position: -283px -80px; }

.ibm-connect-bar.ibm_cci-tab {
	display: none;
}

span.phone {
	font-size: 2.2em
}

span.phone a {
	color: #000;
	text-decoration: none;
}

@media only screen and (min-width: 0) and (max-width: 800px) {

	#ibm-leadspace-head.ibm-alternate-background {
		background-position: 55% 100%;
	}

}

@media only screen and (min-width: 0) and (max-width: 568px) {

/*
	.ibm-band.ibm-intro-band {
		min-height: 210px;
	}
	
	.ibm-band.ibm-intro-band [class*="ibm-col-"] {
		margin-top: 25px;
	}
*/
	.ibm_cci-divider {
		display: none;
	}
	
	#ibm-top h1.ibm-brand {
		padding-bottom: 15px;
	}
	
	#ibm-com #ibm-top .ibm-alternate-background h2.section-header {
		@include px-to-rem(font-size,35px);
		padding: 0 0 10px;
	}
	.ibm-link-list.ibm-top-cta {
		float: none;
	}
	
}

@media only screen and (min-width: 569px) and (max-width: 640px) {
	.ibm-card h2, 
	.ibm-card h3 {
		@include px-to-rem(font-size,24px);
		line-height: 1.2em;
	}
	
	.ibm-connect-bar.ibm_cci-tab {
		display: block;
	}
	.ibm_cci-no-tab {
		display: none;
	}

}

@media only screen and (min-width: 801px) {

	.ibm-card .ibm-featured,
	.ibm-card .ibm-category {
		@include px-to-rem(font-size,14px);
		}

}
