#ibm-leadspace-head.ibm_cc__sbi_ls {
	max-height: 200px;
}

#ibm-leadspace-head.ibm_cc__sbi_ls #ibm-leadspace-body {
	min-height: 165px !important;
}


#ibm-leadspace-head.ibm_cc__sbi_ls #ibm-leadspace-body ul.ibm_cci--ls--social {
	display: inline-block;
}

#ibm-leadspace-head.ibm_cc__sbi_ls #ibm-leadspace-body ul.ibm_cci--ls--social li {
	display: inline;
	float: left;
}

#ibm-leadspace-head.ibm_cc__sbi_ls #ibm-leadspace-body h1.ibm_cci--h1__modifier {
	padding-top: 60px !important;
}

.ibm_cci--sbi-form #ibm-search.ibm-btn-search.ibm_cci--sbi-form--search {
	text-indent: -9000px; 
	display: none;
	text-transform: capitalize;
	color: transparent;
}

.ibm-container-alt.ibm_cci--rss-subscribe p.ibm-button-link-alternate a.ibm-btn-small.ibm_cci-subscribe-button{
	margin-right: 0px;

}