#ibm-top #ibm-leadspace-head{
  background-color:#333;
  background: -webkit-linear-gradient(top, #333, #333);
  background: -moz-linear-gradient(center top , #333, #333) repeat scroll 0% 0% transparent;
  border-bottom:none;
    #ibm-leadspace-body {
      min-height:100px;
    }
}

#ibm-top h1.ibm_cci_clientTitles{
  font: normal normal 45px/40px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  vertical-align: bottom;

  img {
    padding-right:20px;
    vertical-align:middle;
  }
}

#ibm-content-nav {
//
  #ibm-primary-tabs {
    //
    ul.ibm-tabs{
    //
      a {
        font: normal bold 12px/16px "HelvRegularIBM",Arial,sans-serif;
        background-color: rgba(145, 145, 145, 1);
      }
    }
  }

}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a:hover, 
#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a:focus {
  background-color: #717171;
}
