/* LEADSPACE LOGO BLOCK (BEGIN) */

#ibm-leadspace-body #{$leadspace--logo}, #{$leadspace--search}, #{$leadspace--toggle} {
	@include leadspace--defaults;
}

#ibm-pcon #{$leadspace--logo} {
	// @include leadspace--defaults;
	width:300px;

	h1#{$leadspace__modifier} {
		@include mysprite;
		text-indent:-999rem;
		color: #fff;
		background-position: 0 0;
		width:223px;
		height:49px;
	}

}
/* LEADSPACE LOGO BLOCK H1 (END) */

/* LEADSPACE SEARCH BLOCK (BEGIN) */
#{$admin-login} {
	// @include leadspace--defaults;
	width:510px;

	form input.ibm-cc-search--field {
		width:445px;
		height:28px;
		-webkit-box-shadow: $search--field--shadow;
		-moz-box-shadow: $search--field--shadow;
		box-shadow: $search--field--shadow;
		font-size:0.8em;
		font-family:$default-font-family;
		font-weight: normal;
		// padding-left: 10px;
		color:#666;
		padding-right:30px;
		border: 1px solid #DDD;
		margin-top: 8px;
		text-indent: 10px;
	}

	form input.ibm-cc-search--icon{
		width: 16px;
		height: 16px;
		position:relative;
		top:3px;
		left:-30px;
		opacity:0.5;

		&:hover {
			opacity:1;
		}
	}
}

/* LEADSPACE SEARCH BLOCK (END) */
