
/* LOGIN PAGE FORM (BEGIN) */
#{$admin-login} {
	// width:inherit;
    form input.ibm_cci_loginField  {
    	width:330px;
    	height:40px;
    	font-size:13px;
    	font-family:$default-font-family;
    	font-weight: normal;
    	// padding-left: 10px;
    	padding-right:30px;
        margin:20px 0 0 14px;
    	text-indent: 10px;
        -webkit-box-shadow: $search--field--shadow;
        -moz-box-shadow: $search--field--shadow;
        box-shadow: $search--field--shadow;
        border: 1px solid #DDD;
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        color:#787878;        
    }
    form input.ibm_cci_loginButton{
        padding: 10px 10px;
        font-size: 17px;
        color: #fff;
        text-decoration: none;
        border: none;
        background-color: #ef4e38;
        width: 150px;
        margin-top: 40px;
        margin-left: 120px;
        font-family: "HelveticaNeue-Light" Helvetica;
        cursor: pointer;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
    }

    form input.ibm_cci_loginButton:hover, form input.ibm_cci_loginButton:focus{
        background-color: #868686;

    }
}
/* LOGIN PAGE FORM (END) */

/* ADD NEW ACCOUNT BUTTON (BEGIN) */ 
#ibm-pcon #ibm-content p.ibm_cci-addnewAcc, p.ibm_cci-submitButt, p.ibm_cci-deleteButt {
    background-color:#f04e37;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    width: 195px;
    height:40px;
    cursor:pointer;

    img {
        float:left;
        margin:11px;
    }

    a {
        line-height: 47px;
        display: inline-block;
        float:right;
        padding-right: 10px;
        text-decoration: none;
        text-shadow: none;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
        // transition: color 0.3s;
        // -webkit-transition: color 0.3s;
        // -moz-transition: color 0.3s;              
    }
     
}
#ibm-pcon #ibm-content p.ibm_cci-addnewAcc.ibm_cci-addnewAccClicked{
    background-color:#cdcdcd;
}
#ibm-pcon #ibm-content p.ibm_cci-addnewAcc:hover, p.ibm_cci-submitButt:hover{
    background-color:#cdcdcd;
}
.ibm-col-6-5.ibm_cci_marginTop {
    margin-top:20px;
    margin-right:0;
    width:790px;

    ul {
        display: inline-block;
    }
}

#ibm-pcon li.ibm_cci_addAccRadio, #ibm_cci-modalWin li.ibm_cci_addAccRadio {
    display:inline;
    // float:left;
    padding: 0 10px 0 0;
    
    label {
        font-size:12px;
        font-family:$default-font-family;
        vertical-align: initial;
        color:#666666;
        cursor:pointer;
    }
    input[type="radio"], input[type="checkbox"] {
        display: none;
    }
    input[type="radio"] + label span, input[type="checkbox"] + label span{
        display:inline-block;
        background: url("../i/spriteRadioBox.png") left top no-repeat;   
        margin-right: 8px;
        width:14px;
        height:14px;
        cursor:pointer;
        vertical-align: text-top;

    }
    input[type="checkbox"] + label span{
        background: url("../i/spriteCheckBox.png") left top no-repeat;   
        width:16px;
        height:16px;
    }

    input[type="checkbox"]:checked + label span{
        background: url("../i/spriteCheckBox.png") -16px top no-repeat;
    }

    input[type="radio"]:checked + label span{
        background: url("../i/spriteRadioBox.png") -14px top no-repeat;
    }
}
body li:before{
    content:none;
}

form.ibm_cci_classField{
    float:left;
}

#ibm-content-main .ibm-col-6-5.ibm_cci_marginTop {
    textarea.ibm_cci-textArea, textarea.ibm_cci-settingstextArea {
        border: 1px solid #c3c3c3;
        overflow:auto;
        resize:none;
        padding:10px;
        color: #333;
        font-size: 14px;
        font-family: $default-font-family;
        -webkit-box-shadow: $search--field--shadow;
        -moz-box-shadow: $search--field--shadow;
        box-shadow: $search--field--shadow;
        border: 1px solid #c3c3c3;
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;  
        width:678px;
        height:192px;
    }

    textarea.ibm_cci-settingstextArea{
        width: 758px;
        height:132px;
    }

    a.ibm_cci_closeAddAcc {
        display: inline-block;
        vertical-align: top;
        margin-left: 65px;
        margin-top: 0px;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
    }

    a.ibm_cci_closeAddAcc:hover{
        opacity: 0.4;
    }
}    


form {
    display: inline-block;

    input.ibm_cci_classField {
        width:130px;
        height:20px;
        font-size:12px;
        font-family:$default-font-family;
        font-weight: normal;
        text-indent: 5px;
        -webkit-box-shadow: $search--field--shadow;
        -moz-box-shadow: $search--field--shadow;
        box-shadow: $search--field--shadow;
        border: 1px solid #c3c3c3;
        border-radius:2px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        color:#787878; 
        margin-left: 20px;
    }
}

#ibm_cci-modalWin form { 
    margin-top: 10px;

    input.ibm_cci_classField{
        margin:0;
        width: 155px
    }
}

#ibm-pcon #ibm-content p.ibm_cci-submitButt {    
    width: 140px;
    height: 30px;
    display: inline-block;
    float:right;
    margin-right:90px;
    -webkit-margin-after: initial;
    margin-right: -moz-calc(90px);
    a {
        line-height: 35px;
        float:left;
        padding: 0 47px;
        text-align:center;
    }
}

#ibm-pcon #ibm-content p.ibm_cci-deleteButt, 
#ibm_cci-modalWin p.ibm_cci-deleteButt {    
    width: 65px;
    height: 23px;
    display: inline-block;
    float:right;
    opacity: 0.3;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    // margin-right:80px;
    margin-top: 10px;    
    a {
        line-height: 30px;
        float:left;
        padding: 0 15px;
        text-align:center;
    }
}
#ibm-pcon #ibm-content p.ibm_cci-deleteButt:hover{
    opacity:1;
}

#ibm_cci-modalWin p.ibm_cci-deleteButt {
    float: left;
    width: 115px;
    height: 23px;
    opacity: 1;
    font-size:12px;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    // margin-top: 0;

    a {
        padding: 0 40px;
    }

}

#ibm_cci-modalWin p.ibm_cci-deleteButt:hover{
    background-color: #868686;
}

#ibm_cci-modalWin p.ibm_cci-deleteButt.ibm_cci_deleteButtRightAlign{
    float: right;
}

form input.ibm_cci_classFieldButt{
        font-size: 0px;
        color: #fff;
        text-decoration: none;
        line-height: none;
        border: none;
        background:#868686 url("../i/addNewClass.png") no-repeat 3px 3px;
        background-color: #868686;
        width: 24px;
        height:24px;
        cursor: pointer;
        margin:0;
        vertical-align: bottom;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s; 
}

form input.ibm_cci_classFieldButt:hover {
    background-color: #cdcdcd;    
}

// .ibm-col-6-2.ibm_cci-classCheckbox{
//     width:310px;
//     margin-left:0;
// }

p.ibm_cci-pagination, p.ibm_cci-prevNext {
    display:inline-block;
    padding:0!important;
    margin-left: 130px;
    vertical-align: middle;

        img.ibm_cci_paginationLeftButt, img.ibm_cci_paginationRightButt{
            width: 29px;
            background: #f9f9f9 url("../i/prevNextSprite.png") left top no-repeat;
            padding: 0!important;
            cursor: pointer;
            height:29px;
            border: 0;
            outline: 0;
            overflow: hidden;
            vertical-align: bottom;
        }
        img.ibm_cci_paginationRightButt{
            background: #f9f9f9 url("../i/prevNextSprite.png") -54px top no-repeat;        
        }
        img.ibm_cci_paginationLeftButt:hover{
            background: #f9f9f9 url("../i/prevNextSprite.png") -27px top no-repeat;
        }
        img.ibm_cci_paginationRightButt:hover{
            background: #f9f9f9 url("../i/prevNextSprite.png") -83px top no-repeat;
        }
}

p.ibm_cci-prevNext{
    margin-left: 20px;
    display:inline-table;
}

.ibm-col-6-2.ibm_cci_feedsearch{
    width: 310px;
    padding: 0 0 0 10px;
    margin: 0;
    position: relative;
}

.ibm-cc-search--field{
    width: 276px;
    height: 25px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 2px 2px 8px 2px #f6f6f6 inset;
    -moz-box-shadow: 2px 2px 8px 2px #f6f6f6 inset;
    box-shadow: 2px 2px 8px 2px #f6f6f6 inset;
    font-size: 0.8em;
    font-family: Arial, "serif", sans-serif, Helvetica;
    font-weight: normal;
    color: #666;
    padding-right: 30px;
    border: 1px solid #DDD;
    text-indent: 5px
}

input.ibm-cc-search--icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 6px;
    right: 10px;
    opacity: 1;
    transition:opacity 0.3s;
    -webkit-transition: opaicity 0.3s;
}

input.ibm-cc-search--icon:hover{
    opacity:0.5;
}

.ibm-col-6-5 input.ibm_cci-settingsInput, .ibm-col-6-5 input.ibm_cci-autoTweetField  {
        width:776px;
        height:40px;
        font-size:13px;
        font-family:$default-font-family;
        font-weight: normal;
        // padding-left: 10px;
        text-indent: 10px;
        -webkit-box-shadow: $search--field--shadow;
        -moz-box-shadow: $search--field--shadow;
        box-shadow: $search--field--shadow;
        border: 1px solid #c3c3c3;
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        color:#787878;        
}

// #ibm-pcon #ibm-content .ibm-col-6-3.ibm_cci_marginTop{
//     margin-right: 0;
// }

#ibm-pcon #ibm-content .ibm-col-6-3.ibm_cci_marginTop, 
#ibm-pcon #ibm-content .ibm-col-6-2.ibm_cci_marginTop,
#ibm-pcon #ibm-content .ibm-col-6-5.ibm_cci-autoTweet {
    margin-top:20px;

    p.ibm_cci-submitButt{
        margin:0;
    }

    p.ibm_cci-submitButt.ibm_cci-draftButt{
        margin-right:10px;
        background-color: #a3a3a3;

        a {
            padding: 0 35px;
        }
    }

    p.ibm_cci-submitButt.ibm_cci-draftButt:hover{
        background-color: #ccc;
    }

    p.ibm_cci-submitButt.ibm_cci-draftButt{
        background-color: #ccc;
    }
}






































