<div class="ibm-col-1-1" data-rank="{{:rank}}" data-type="{{:type}}">
  <div class="ibm-col-6-4">
    <div class="ibm_cci--rea-block">
      <ul>
        <li>
          <p class="ibm_cci--rea-rank">{{:rank}}</p>
        </li>
        <li class="ibm_cci__padding-top">
          <div class="ibm_cci--rea-b">
            <div class="ibm_cci--rea-b-e">
              <div class="ibm_cci--rea-b" style="width:{{:reachPct}}%"></div>
            </div>
            <div class="ibm_cci--rea-b-e">
              <div class="ibm_cci--rea-b" style="width:{{:engmtPct}}%"></div>
            </div>
            <div class="ibm_cci--rea-b-e">
              <div class="ibm_cci--rea-b" style="width:{{:ampPct}}%"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="ibm_cci--rcb">
      <div class="ibm_cci-fav-ihb">
        <p class="ibm_cci--feed-icon">
          <a data-action="new-tab" href="{{:link}}">
            <img alt="user avatar icon" src="{{:icon}}"/>
          </a>
        </p>
        <a class="ibm_cci--feed-title" href="{{:link}}">{{:domain}}</a>
      </div>

      <div class="ibm_cci-sib">
        <ul class="ibm_cci-sie">
          <li>
            <a href="https://twitter.com/intent/tweet?text={{:title}}" alt="share on twitter link">
              <img src="i/ibm_social_twitter_icon_16x16.svg" type="image/svg+xml" alt="share on twitter" width="16" height="16" alt="abstract social icon twitter"/>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/login.php?next=https://www.facebook.com/sharer/sharer.php?u={{:link}}" alt="share on facebook link">
              <img src="i/ibm_social_facebook_icon_16x16.svg" type="image/svg+xml" alt="share on facebook" width="16" height="16" alt="abstract social icon facebook"/>
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/shareArticle?summary={{:title}}&mini=true&url={{:link}}" alt="share on linkedin link">
              <img src="i/ibm_social_linkedin_icon_16x16.svg" type="image/svg+xml" alt="" width="16" height="16" alt="abstract social icon linkedin"/>
            </a>
          </li>
        </ul>
      </div>
      <div class="ibm_cci--ttb">
        <h2 class="ibm_cci--tweet-title">
          <a href="{{:link}}" class="urltitleval">{{:title}}</a>
        </h2>
        <div class="ibm_cci--tweet-description">
          <div class="ibm_cci--tweet-content-text">{{:content}}</div>
          <div class="ibm_cci-media-container"></div>
        </div>
      </div>
      <div class="ibm_cci-gv-sib">
        <ul class="ibm_cci-sie">
          <li>
            <a href="https://twitter.com/intent/tweet?text={{:title}}" alt="share on twitter link">
              <img src="i/ibm_social_twitter_icon_16x16.svg" type="image/svg+xml" alt="share on twitter" width="16" height="16" alt="abstract social icon twitter"/>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/login.php?next=https://www.facebook.com/sharer/sharer.php?u={{:link}}" alt="share on facebook link">
              <img src="i/ibm_social_facebook_icon_16x16.svg" type="image/svg+xml" alt="share on facebook" width="16" height="16" alt="abstract social icon facebook"/>
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/shareArticle?summary={{:title}}&mini=true&url={{:link}}" alt="share on linkedin link">
              <img src="i/ibm_social_linkedin_icon_16x16.svg" type="image/svg+xml" alt="" width="16" height="16" alt="abstract social icon linkedin"/>
            </a>
          </li>
        </ul>
      </div>                   
    </div>
  </div>

  <div class="ibm-col-6-2">
    <ul class="ibm_cci-relatedTweetContainer">
      {{range refTweets start=0 end=9}}
      <li data-userID="{{:userId}}">
        <a href="#" alt="User Avatar" data-userID="{{:userId}}">
          <img class="selected" src="{{:userAvatar}}" alt="User avatar icon" width="25" height="25" />
        </a>
      </li>
      {{/range}} 
    </ul>


    {{range refTweets start=0 end=9}}
    <div class="ibm_cci-rel-tweet-details-container" data-userID="{{:userId}}">
      <div class="ibm_cci--lv-rc-th" data-userID="{{:userId}}">
        <h3 class="ibm_cci--lv-rc-title">
          <a href="https://twitter.com/intent/user?user_id={{:userId}}&dnt=true&count=none" alt="twitter user name">{{:username}}</a>
        </h3>
        <p class="ibm_cci--lv-rc-h"><a data-userID="{{:userId}}" href="https://twitter.com/intent/user?user_id={{:userId}}&dnt=true&count=none" alt="twitter user screen name">@
          {{:userScreenName}} </a></p>
        </div>
        <div class="ibm_cci--time-stamp" data-userID="{{:userId}}">
         <p class="ibm_cci-tts"> 
           <span></span> 
           <img src="i/ibm_twitter_timestamp_icon_12x12.png" alt="twitter timestamp" height="12" width="12"> <a href="{{:link}}" alt="twitter timestamp image">{{:published}}</a> 
         </p>  
       </div>
     </div> 

     <div style="float:left" data-userID="{{:userId}}">
      <div class="ibm_cci--lv-rc-description" data-userID="{{:userId}}">
        <p>{{:content}}</p>
      </div>
      


      <div class="ibm_cci--lv-rc-sharing" data-userID="{{:userId}}">
        <ul>
          <li> <a href="https://twitter.com/intent/tweet?in_reply_to={{:id}}&dnt=true&count=none" alt="twitter reply"> <img src="i/ibm_reply_icon.png" alt="reply to tweet" width="16" height="16"> </a> </li>
          <li> <a href="https://twitter.com/intent/retweet?tweet_id={{:id}}&dnt=true&count=none" alt="twitter retweet"> <img src="i/ibm_retweet_icon.png" alt="retweet button" width="16" height="16"> </a> </li>
          <li> <a href="https://twitter.com/intent/favorite?tweet_id={{:id}}&dnt=true&count=none" alt="twitter favorite"> <img src="i/ibm_favorite_icon.png" alt="favorite button" width="16" height="16"> </a> </li> 
        </ul>
      </div>
      
    </div>
    {{/range}}     

  </div>
</div>