<ul class="ibm_cci__ml">
	<li class="ibm_cci__ml_t">
		<p class="ibm_cci-clicked">
			<span><a href="#">All trending topics : </a></span>
		</p>
	</li>
	<li>
		<p class="ibm_cci-clicked"><span><a href="#">watson</a></span><a class="ibm_cci-close" href="#"></a></p>
	</li>
	<li>
		<p><span><a href="#">smartcloud</a></span><a href="#"></a></p>
	</li>
	<li>
		<p><span><a href="#">cloud</a></a></span><a href="#"></a></p>
	</li>
	<li>
		<p class="ibm_cci-clicked"><span><a href="#">tesla</a></span><a class="ibm_cci-close" href="#"></a></p>
	</li>
	<li>
		<p><span><a href="#">ibm puresystems</a></span><a href="#"></a></p>
	</li>
	<li>
		<p><span><a href="#">sass</a></span><a href="#"></a></p>
	</li>
	<li>
		<p class="ibm_cci-clicked"><span><a href="#">forbes</a></span><a class="ibm_cci-close" href="#"></a></p>
	</li>
	<li>
		<p><span><a href="#">nyc election</a></span><a href="#"></a></p>
	</li>
	<li>
		<p><span><a href="#">ibm watson</a></span><a href="#"></a></p>
	</li>																			
</ul>