                <div id="floater">
                    <div class="trans_bck"></div>
                    <div class="fl_content">
                        <div class="fl_inner">
                            <div class="tag_line">
                                <p>Take the next step with Watson</p>
                            </div>
                            <div class="email">
                                <p><a href="http://www.ibm.com/services/forms/signup.do?source=swgmail&amp;S_TACT=109HF02W&amp;lang=en_US" class="ibm-email-link"><span>Email</span></a></p>
                            </div>
                            <div class="tel">
                                <p><a href="tel:+1-877-426-3774" class="ibm-phone-link"><span>Call 1.800-966-9875. Priority code: 109HF03W</span></a></p>
                            </div>

                        </div>
                    </div>
                </div>