<title>IBM Watson: Ecosystem</title>

<!--Basic -->
<meta name="description" content="The IBM Watson Ecosystem program is for companies interested in embedding Watson’s capability into their offerings to create a transformative cognitive app." />
<meta content="Watson ecosystem" name="Keywords"/>

<!-- Open Graph data -->
<meta property="og:title" content="IBM Watson Ecosystem" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/ecosystem.html" />
<meta property="og:image" content="http://example.com/image.jpg" />
<meta property="og:description" content="The IBM Watson Ecosystem program is intended for companies interested in embedding Watson’s capability into their offerings to create a transformative cognitive app." />

<!—Twitter card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@IBMWatson">
<meta name="twitter:creator" content="@IBMWatson">
<meta name="twitter:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/ecosystem.html">
<meta name="twitter:title" content="IBM Watson Ecosystem”>
<meta name="twitter:description" content="The IBM Watson Ecosystem program is intended for companies interested in embedding Watson’s capability into their offerings to create a transformative cognitive app.">
<meta name="twitter:image“ content=" http://example.com/image.jpg ">

<!—canonical -->
<link href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/ecosystem.html" rel="canonical"/>
