<title>IBM Watson: About us</title>

<!--Basic -->
<meta name="description" content=" The era of cognitive computing, where computers can learn, reason and help us make better decisions, has arrived." />
<meta content="ibm watson" name="Keywords"/>

<!-- Open Graph data -->
<meta property="og:title" content="IBM Watson: About us" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/about.html" />
<meta property="og:image" content="http://example.com/image.jpg" />
<meta property="og:description" content=" IBM Watson signals a critical turning point in the evolution of information technology. The era of cognitive computing, where computers can learn, reason and help us make better decisions, has arrived." />

<!—Twitter card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@IBMWatson">
<meta name="twitter:creator" content="@IBMWatson">
<meta name="twitter:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/about.html">
<meta name="twitter:title" content=" IBM Watson: About us”>
<meta name="twitter:description" content=" IBM Watson signals a critical turning point in the evolution of information technology. The era of cognitive computing, where computers can learn, reason and help us make better decisions, has arrived.">
<meta name="twitter:image“ content=" http://example.com/image.jpg ">


<!—canonical -->
<link href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/about.html" rel="canonical"/>