<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

<!-- Please ensure appropriate meta tag values are aligned with the standards -->
<!--! PageTitle -->
<title>IBM Watson: Introducing Watson Discovery Advisor</title>

<meta name="description" content="What might you discover next?" />
<meta name="Keywords" content="Watson Discovery Advisor" />

<meta content="© Copyright IBM Corp. 2014" name="DC.Rights">
<meta content="Public" name="Security">
<meta content="T3310" scheme="IBM_SubjectTaxonomy" name="DC.Subject">
<meta content="Michael Baryla/Raleigh/IBM" name="Owner">
<meta content="en-US" scheme="rfc1766" name="DC.Language">
<meta content="US" name="IBM.Country">
<meta content="index,follow" name="Robots">
<meta content="CT004" scheme="IBM_ContentClassTaxonomy" name="DC.Type">

<!-- Open Graph data -->
<meta property="og:title" content="Introducing Watson Discovery Advisor" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/introducing-watson-discovery-advisor.html" />
<meta property="og:image" content="assets/img/og/ogimage-wda.jpg" />
<meta property="og:description" content="What might you discover next?" />


<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@IBMWatson"/>
<meta name="twitter:creator" content="@IBMWatson"/>
<meta name="twitter:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/introducing-watson-discovery-advisor.html"/>
<meta name="twitter:title" content="Introducing Watson Discovery Advisor"/>
<meta name="twitter:description" content="What might you discover next?"/>
<meta name="twitter:image" content="assets/img/og/ogimage-wda.jpg">

<link href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/introducing-watson-discovery-advisor.html" rel="canonical"/>

<!-- this line escapes the IBM mobile proxy in case a user comes to the site from an existing proxied page-->
<link rel="IBM.Mobile.redirect" href="self" />

<link href="http://purl.org/DC/elements/1.0/" rel="schema.DC">
<link href="http://www.ibm.com/favicon.ico" rel="SHORTCUT ICON">
<link rel="IBM.Mobile.redirect" href="self"/>
<link rel="icon" type="image/png" href="./assets/img/favicon.png">

<!-- CDN CSS includes -->
<link href="http://1.www.s81c.com/common/v17e/css/ww.css" rel="stylesheet" title="www" type="text/css"/>

<!-- build:css assets/css/app.min.css -->
<link href="./assets/css/main.css" rel="stylesheet" type="text/css"/>
<!-- endbuild -->