<title>IBM Watson: Our team</title>

<!--Basic -->
<meta name="description" content=" Meet a few of the team members ushering in the new era of Watson." />
<meta content="ibm watson team" name="Keywords"/>

<!-- Open Graph data -->
<meta property="og:title" content="The IBM Watson Team" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/team.html" />
<meta property="og:image" content="http://example.com/image.jpg" />
<meta property="og:description" content=" Meet a few of the team members ushering in the new era of Watson." />

<!—Twitter card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@IBMWatson">
<meta name="twitter:creator" content="@IBMWatson">
<meta name="twitter:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/team.html">
<meta name="twitter:title" content="The IBM Watson Team”>
<meta name="twitter:description" content="Meet a few of the team members ushering in the new era of Watson.">
<meta name="twitter:image“ content=" http://example.com/image.jpg ">

<!—canonical -->
<link href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/team.html" rel="canonical"/>
