<title>IBM Watson: Mobile Developer Challenge</title>

<!--Basic -->
<meta name="description" content="The 25 semifinalists for the Watson Mobile will be announced on April 28." />
<meta content="ibm watson mobile developer challenge" name="Keywords"/>

<!-- Open Graph data -->
<meta property="og:title" content="IBM Watson Mobile Developer Challenge" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/ecosystem.html" />
<meta property="og:image" content="http://example.com/image.jpg" />
<meta property="og:description" content="The 25 semifinalists for the Watson Mobile will be announced on April 28." />

<!—Twitter card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@IBMWatson">
<meta name="twitter:creator" content="@IBMWatson">
<meta name="twitter:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/ecosystem.html">
<meta name="twitter:title" content=" IBM Watson Mobile Developer Challenge”>
<meta name="twitter:description" content="The 25 semifinalists for the Watson Mobile will be announced on April 28.">
<meta name="twitter:image“ content=" http://example.com/image.jpg ">


<!—canonical -->
<link href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/challenge.html" rel="canonical"/>

