<title>IBM Watson: The Technology</title>

<!--Basic -->
<meta name="description" content="Watson is a cognitive technology that processes information more like a human than a computer." />
<meta content="Watson technology" name="Keywords"/>

<!-- Open Graph data -->
<meta property="og:title" content="IBM Watson Technology" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/tech.html" />
<meta property="og:image" content="http://example.com/image.jpg" />
<meta property="og:description" content="Watson is a cognitive technology that processes information more like a human than a computer through natural language processing, hypothesis generation and evaluation, and dynamic learning." />

<!—Twitter card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@IBMWatson">
<meta name="twitter:creator" content="@IBMWatson">
<meta name="twitter:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/tech.html">
<meta name="twitter:title" content="IBM Watson Technology">
<meta name="twitter:description" content="Watson is a cognitive technology that processes information more like a human than a computer through natural language processing, hypothesis generation and evaluation, and dynamic learning.">
<meta name="twitter:image“ content=" http://example.com/image.jpg ">

<!—canonical -->
<link href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/tech.html" rel="canonical"/>
