<title>IBM Watson: Solutions</title>

<!--Basic -->
<meta name="description" content="Discover how Watson can transform industries, including healthcare, finance, marketing and service industries." />
<meta content="Watson solutions" name="Keywords"/>

<!-- Open Graph data -->
<meta property="og:title" content="IBM Watson Solutions" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/work.html" />
<meta property="og:image" content="http://example.com/image.jpg" />
<meta property="og:description" content="Discover how Watson can transform industries, including healthcare, finance, marketing and service industries." />

<!—Twitter card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@IBMWatson">
<meta name="twitter:creator" content="@IBMWatson">
<meta name="twitter:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/work.html">
<meta name="twitter:title" content="IBM Watson Solutions">
<meta name="twitter:description" content="Discover how Watson can transform industries, including healthcare, finance, marketing and service industries.">
<meta name="twitter:image“ content=" http://example.com/image.jpg ">

<!—canonical -->
<link href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/work.html" rel="canonical"/>
