<title>IBM Watson: Partner Program</title>

<!--Basic -->
<meta name="description" content=" Developers are perfectly poised to use Watson APIs to disrupt markets, engage customers and deliver high-value insights and additional revenue to enterprises." />
<meta content="Watson api" name="Keywords"/>

<!-- Open Graph data -->
<meta property="og:title" content="IBM Watson Partner Program" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developers.html" />
<meta property="og:image" content="http://example.com/image.jpg" />
<meta property="og:description" content="Developers are perfectly poised to use Watson APIs to disrupt markets, engage customers and deliver high-value insights and additional revenue to enterprises." />

<!—Twitter card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@IBMWatson">
<meta name="twitter:creator" content="@IBMWatson">
<meta name="twitter:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developers.html">
<meta name="twitter:title" content="IBM Watson Partner Program">
<meta name="twitter:description" content=" Developers are perfectly poised to use Watson APIs to disrupt markets, engage customers and deliver high-value insights and additional revenue to enterprises.">
<meta name="twitter:image“ content=" http://example.com/image.jpg ">

<!—canonical -->
<link href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developers.html" rel="canonical"/>
