<title>IBM Watson: Our headquarters</title>

<!--Basic -->
<meta name="description" content="Learn more about 51 Astor Place, IBM Watson’s new home in the heart of Silicon Alley." />
<meta content="51 astor place" name="Keywords"/>

<!-- Open Graph data -->
<meta property="og:title" content="IBM Watson Group Headquarters" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/watson-hq.html" />
<meta property="og:image" content="http://example.com/image.jpg" />
<meta property="og:description" content="IBM Watson is moving to New York as part of IBM’s $1 billion investment in the development and commercialization of Watson technology." />

<!—Twitter card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@IBMWatson">
<meta name="twitter:creator" content="@IBMWatson">
<meta name="twitter:url" content="http://www.ibm.com/smarterplanet/us/en/ibmwatson/watson-hq.html">
<meta name="twitter:title" content=" IBM Watson Group Headquarters”>
<meta name="twitter:description" content="IBM Watson is moving to New York as part of IBM’s $1 billion investment in the development and commercialization of Watson technology.">
<meta name="twitter:image“ content=" http://example.com/image.jpg ">

<!—canonical -->
<link href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/watson-hq.html" rel="canonical"/>
