<!-- CDN JS includes -->
<script src="http://1.www.s81c.com/common/v17e/js/ww.js"></script>

<div id="ibm-metrics">
	<script src="http://www.ibm.com/common/stats/stats.js" type="text/javascript">//</script>
</div>


<!-- LP-Dynamic V16, V17: LivePerson dynamic chat include file (en_US/lpdyn-im-v16.inc) ** -->
<!--<script type="text/javascript">
	var editskill = "infomgmt-english";
</script>
<script src="//www.ibm.com/software/common-content/ssi/lp/lpdyn-common.js" type="text/javascript"></script>-->

<!-- build:js assets/js/app.min.js -->
<script src="assets/js/lib/swfobject.js"></script>
<script src="assets/js/lib/TweenMax.min.js"></script>

<script src="assets/js/lib/jquery.details.min.js"></script>
<script src="assets/js/lib/jquery.bxslider.min.js"></script>
<script src="assets/js/lib/waypoints.min.js"></script>
<script src="assets/js/global.js"></script>
<script src="assets/js/sideNav.js"></script>
<script src="assets/js/scrollManager.js"></script>
<script src="assets/js/sceneManager.js"></script>
<script src="assets/js/video.js"></script>
<script src="assets/js/slideShow.js"></script>
<script src="assets/js/slideShowWithCanvasAnimations.js"></script>
<script src="assets/js/instagram.js"></script>

<script src="assets/js/tweenModules/youtube.js"></script>
<script src="assets/js/tweenModules/dualRow.js"></script>
<script src="assets/js/tweenModules/spanRow.js"></script>
<script src="assets/js/tweenModules/sprite.js"></script>

<script src="assets/js/tracking.js"></script>

<script src="assets/js/index.js"></script>
<script src="assets/js/news.js"></script>
<script src="assets/js/team.js"></script>
<script src="assets/js/work.js"></script>
<script src="assets/js/tech.js"></script>
<script src="assets/js/form.js"></script>
<script src="assets/js/home.js"></script>
<script src="assets/js/about.js"></script>
<script src="assets/js/accordion.js"></script>
<!-- endbuild -->
