<!--sideNav-->
<nav class="sideNav" id="sideNav">
	<div class="closeBtn"></div>
	<ul class="main">
		<li><a data-evname="index" class="home-link" href="index.html">Home</a></li>
		<li><a data-evname="about" class="tech-link" href="tech.html">Watson Technology</a></li>
		<li><a data-evname="work" class="work-link" href="work.html">Watson Solutions</a></li>

		<li class="section"><a data-evname="devhome" class="developer-link" href="developers.html">Developers</a></li>
		<li><a data-evname="dev" class="wdc-link sub" href="challenge.html">- Mobile Developer Challenge</a></li>
		<li><a data-evname="deveco" class="ecosystem-link sub" href="ecosystem.html">- Watson Ecosystem</a></li>

		<li class="section"><a data-evname="abouthome" class="about-link" href="about.html">About Us</a></li>
		<li><a data-evname="home" class="hq-link sub" href="watson-hq.html">- Our Headquarters</a></li>
		<li><a data-evname="team" class="team-link sub" href="team.html">- Our Team</a></li>
		<li><a data-evname="careeer" class="career-link sub ex" href="http://www-03.ibm.com/employment/watson/">- Careers</a></li>
	</ul>
	<div class="social">
		<a data-evname="facebook" href="https://www.facebook.com/ibmwatson" class="icon icon-facebook" target="_blank"></a>
		<a data-evname="twitter" href="https://twitter.com/ibmwatson" class="icon icon-twitter" target="_blank"></a>
	</div>
	<ul class="auxLinks">
		<li><a href="http://www.ibm.com/" target="_blank">ibm.com</a></li>
		<li><a href="http://www.ibm.com/legal/us/en/" target="_blank">Terms of Use</a></li>
		<li><a href="http://www.ibm.com/privacy/us/en/" target="_blank">Privacy Policy</a></li>
	</ul>
</nav>