#ibm-top .ibm-carousel {
  &.ibm-carousel-css-transitions {    
    .ibm-ribbon-section {
      @include transition(all 0.5s);  
    }
  }

  .ibm-container-body {
    position: relative;
  }

  .ibm-ribbon-section {
    .ibm-columns {
      float: left;
      clear: none;
      width: auto;
    }
  }

}

#ibm-top .ibm-container.ibm-carousel .ibm-ribbon-section .ibm-columns {
  padding: 0 10px; 
}