#ibm-top .ibm-carousel {
  &.ibm-carousel-css-transitions {
    
    .ibm-ribbon-section {
      @include transition(all 0.5s);  
    }
  }

  .ibm-container-body {
    position: relative;
  }

  .ibm-ribbon-section {
    margin: 0 !important;

    .ibm-columns {
      float: left;
      clear: none;
      width: auto;
      padding: 0 !important;

      [class*="ibm-col-"] {
        margin: 0;
      }
    }
  }

}

