

// Shadow effects

.section-shadow {
	box-shadow: 0 5px 10px -3px #DEDEDE inset;
}

.shadow-soft {
	text-shadow: 0 1px 3px rgba(0,0,0,.75);
}

.shadow-hard {
	text-shadow: 0 1px 1px rgba(0,0,0,.75);
}

.emboss-light {
	text-shadow: 0 1px 0 rgba(255,255,255,.95);
}

.emboss-dark {
	text-shadow: 0 -1px 0 rgba(0,0,0,.75);
}

.glow{
	text-shadow: 0 0 5px rgba(255,255,255,.75);
}




// transitions effects