// responsive styles begin ============================================

@media only screen and (min-width: 0px) and (max-width: 480px) {

	// to be removed.  only for testing
	#ibm-leadspace-body p:after {
		content: "min-width: 0px | max-width: 480px"; 
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-4-1 {
		width: 165px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-4-2 {
		width: 330px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-4-3 {
		width: 495px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-5-1 {
		width: 125px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-5-2 {
		width: 250px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-5-3 {
		width: 375px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-5-4 {
		width: 500px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-6-1 {
		width: 99px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-6-2 {
		width: 198px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-6-3 {
		width: 297px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-6-4 {
		width: 396px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-6-5 {
		width: 495px;
	}

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

	// to be removed.  only for testing
	#ibm-leadspace-body p:after {
		content: "min-width: 481 | max-width: 768px";
	}
	
	.ibm-landing-page #ibm-masthead {
		min-width: 100%;
	}
	
	.ibm-landing-page #ibm-masthead .ibm-columns, 
	.ibm-landing-page #ibm-footer-module .ibm-columns {
		display: none;
	}

	.ibm-landing-page#ibm-top {
		min-width: 100%;
	}
	.ibm-landing-page #ibm-footer ul {
		width: 728px;
	}
	.ibm-landing-page #ibm-universal-nav {
		min-width: 100%;
	}
	.ibm-landing-page #ibm-universal-nav #ibm-menu-links {
		display: none;
	}
		
	.ibm-landing-page #ibm-content-head,
	.ibm-landing-page.ibm-banded #ibm-content-head {
		width: 100%;
	}
	
	.ibm-landing-page #ibm-leadspace-head #ibm-leadspace-body {
		width: 100%;
	}
	
	.ibm-landing-page #ibm-content-main > p,
	.ibm-landing-page.ibm-banded #ibm-content-main > p {
		width: auto;
	}
	
	.ibm-landing-page #ibm-content-main > .ibm-container,
	.ibm-landing-page.ibm-banded #ibm-content-main > .ibm-container {
		width: 728px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns {
		width: 728px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-1-1 {
		width: 728px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-4-1 {
		width: 165px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-4-2 {
		width: 330px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-4-3 {
		width: 495px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-5-1 {
		width: 125px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-5-2 {
		width: 250px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-5-3 {
		width: 375px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-5-4 {
		width: 500px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-6-1 {
		width: 99px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-6-2 {
		width: 198px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-6-3 {
		width: 297px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-6-4 {
		width: 396px;
	}
	
	.ibm-landing-page #ibm-content .ibm-columns .ibm-col-6-5 {
		width: 495px;
	}
	
}
