// responsive styles begin ============================================

@media only screen and (min-width: 768px) and (max-width: 980px) {
	output {
		content: "min-width: 768px | max-width: 980px"; 
	}
	
	.ibm-columns .ibm-col-4-1 {
		width: 23.0% !important;
	}
	
	.ibm-columns .ibm-col-4-2 {
		width: 48.0% !important;
	}
	
	.ibm-columns .ibm-col-4-3 {
		width: 73.0% !important;
	}
	
	.ibm-columns .ibm-col-5-1 {
		width: 18.0% !important;
	}
	
	.ibm-columns .ibm-col-5-2 {
		width: 38.0% !important;
	}
	
	.ibm-columns .ibm-col-5-3 {
		width: 58.0% !important;
	}
	
	.ibm-columns .ibm-col-5-4 {
		width: 78.0% !important;
	}
	
	.ibm-columns .ibm-col-6-1 {
		width: 14.667% !important;
	}
	
	.ibm-columns .ibm-col-6-2 {
		width: 31.333% !important;
	}
	
	.ibm-columns .ibm-col-6-3 {
		width: 48.0% !important;
	}
	
	.ibm-columns .ibm-col-6-4 {
		width: 64.667% !important;
	}
	
	.ibm-columns .ibm-col-6-5 {
		width: 81.333% !important;
	}
	
	.ibm-columns .ibm-col-6-2 .ibm-col-6-1, 
	.ibm-columns .ibm-col-6-4 .ibm-col-6-2 {
		width: 48.0% !important;
	}
	
	.ibm-grid-show-all .ibm-col-5-1 {
		width: 18.0%;
	}
	
	.ibm-grid-show-all .ibm-col-6-1:nth-child(-n+4), 
	.ibm-grid-show-all .ibm-col-4-1:nth-child(-n+2) {
		margin-bottom: 20px;
	}
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
	.ibm-columns .ibm-col-4-1 {
		width: 23.0% !important;
	}
	
	.ibm-columns .ibm-col-4-2 {
		width: 48.0% !important;
	}
	
	.ibm-columns .ibm-col-4-3 {
		width: 73.0% !important;
	}
	
	.ibm-columns .ibm-col-5-1 {
		width: 18.0% !important;
	}
	
	.ibm-columns .ibm-col-5-2 {
		width: 38.0% !important;
	}
	
	.ibm-columns .ibm-col-5-3 {
		width: 58.0% !important;
	}
	
	.ibm-columns .ibm-col-5-4 {
		width: 78.0% !important;
	}
	
	.ibm-columns .ibm-col-6-1 {
		width: 48.0% !important;
	}
	
	.ibm-columns .ibm-col-6-2 {
		width: 48.0% !important;
	}
	
	.ibm-columns .ibm-col-6-3 {
		width: 48.0% !important;
	}
	
	.ibm-columns .ibm-col-6-4 {
		width: 48.0% !important;
	}
	
	.ibm-columns .ibm-col-6-5 {
		width: 48.0% !important;
	}
	
	.ibm-columns .ibm-col-6-2.ibm-span-3 {
		width: 31.333% !important;
	}
	
	.ibm-columns .ibm-col-6-2.ibm-span-3 {
		width: 31.333% !important;
	}
}

@media only screen and (min-width: 480px) and (max-width: 640px) {
	.ibm-columns .ibm-col-4-1 {
		width: 23.0% !important;
	}
	
	.ibm-columns .ibm-col-4-2 {
		width: 48.0% !important;
	}
	
	.ibm-columns .ibm-col-4-3 {
		width: 73.0% !important;
	}
	
	.ibm-columns .ibm-col-5-1 {
		width: 18.0% !important;
	}
		
	.ibm-columns .ibm-col-5-2 {
		width: 38.0% !important;
	}
	
	.ibm-columns .ibm-col-5-3 {
		width: 58.0% !important;
	}
	
	.ibm-columns .ibm-col-5-4 {
		width: 78.0% !important;
	}
	
	.ibm-columns .ibm-col-6-1 {
		width: 48.0% !important;
	}
	
	.ibm-columns .ibm-col-6-2 {
		width: 48.0% !important;
	}
	
	.ibm-columns .ibm-col-6-3 {
		width: 48.0% !important;
	}
	
	.ibm-columns .ibm-col-6-4 {
		width: 48.0% !important;
	}
	
	.ibm-columns .ibm-col-6-5 {
		width: 48.0% !important;
	}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.ibm-columns .ibm-col-4-1, 
	.ibm-columns .ibm-col-4-2, 
	.ibm-columns .ibm-col-4-3,
	.ibm-columns .ibm-col-5-1, 
	.ibm-columns .ibm-col-5-2, 
	.ibm-columns .ibm-col-5-3, 
	.ibm-columns .ibm-col-5-4,
	.ibm-columns .ibm-col-6-1, 
	.ibm-columns .ibm-col-6-2, 
	.ibm-columns .ibm-col-6-3, 
	.ibm-columns .ibm-col-6-4, 
	.ibm-columns .ibm-col-6-5 { 
		width:98.0% !important; 
	}
	
	.ibm-columns .ibm-col-6-2.ibm-span-2 { 
		width: 48.0% !important; 
		margin-top: 0;
	}
	
	.ibm-no-mobile-chip {
		display: none;
	}
	
	.ibm-phone-call-bttn {
		display: block !important;
	}
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.ibm-columns {
		margin-top: 0;
	}
	
	#ibm-content-container .ibm-columns:first-child div:first-child {
		margin-top: 0;
	}
	
	.ibm-col-1-1,
	.ibm-col-4-1,
	.ibm-col-4-2,
	.ibm-col-4-3,
	.ibm-col-5-1,
	.ibm-col-5-2,
	.ibm-col-5-3,
	.ibm-col-5-4,
	.ibm-col-6-1,
	.ibm-col-6-2,
	.ibm-col-6-3,
	.ibm-col-6-4,
	.ibm-col-6-5 {
		margin-top: 1%;
	}
	
	.ibm-columns div:first-of-type {
		margin-top: 0;
	}

	.ibm-columns .ibm-go-full-col { 
		width: 98% !important; 
		margin-top: 0;
	}
}

@media only screen and (min-width: 0px) and (max-width: 980px) {
	.ibm-columns {
		width: 98% !important; 
		padding: 0px 1% 1% !important;
	}
	
	.ibm-columns .ibm-col-1-1 {
		width: 98.0% !important;
	}
	
	.ibm-col-1-1, 
	.ibm-col-4-1, 
	.ibm-col-4-2, 
	.ibm-col-4-3,
	.ibm-col-5-1, 
	.ibm-col-5-2, 
	.ibm-col-5-3, 
	.ibm-col-5-4,
	.ibm-col-6-1, 
	.ibm-col-6-2, 
	.ibm-col-6-3, 
	.ibm-col-6-4, 
	.ibm-col-6-5 { 
		padding-right: 1% !important;
		padding-left: 1% !important; 
	}
}

@media screen and (max-width: 400px){ 
	@-ms-viewport {
		width: device-width;
	}
}

/*
@media only screen and (min-width: 768px) and (max-width: 960px){
}

@media only screen and (min-width: 480px) and (max-width: 768px){
}

@media only screen and (min-width: 320px) and (max-width: 480px){
}

@media only screen and (min-width: 0px) and (max-width: 980px){
}
*/
