/* 
 * Font Custom: bare CSS
 */

@font-face {
  font-family: "icons-ibm-v1";
  src: url("icons-ibm-v1.eot");
  src: url("icons-ibm-v1.eot?#iefix") format("embedded-opentype"),
       url("icons-ibm-v1.woff") format("woff"),
       url("icons-ibm-v1.ttf") format("truetype"),
       url("icons-ibm-v1.svg#icons-ibm-v1") format("svg");
  font-weight: normal;
  font-style: normal;
}

.ibm-alert:before,
.ibm-anchor:before,
.ibm-arrow-sm:before,
.ibm-arrow:before,
.ibm-audio:before,
.ibm-back:before,
.ibm-caution:before,
.ibm-check:before,
.ibm-chevron:before,
.ibm-cta:before,
.ibm-document:before,
.ibm-down:before,
.ibm-download-alt:before,
.ibm-download-whitepaper:before,
.ibm-download:before,
.ibm-email:before,
.ibm-external:before,
.ibm-generic:before,
.ibm-help-lg:before,
.ibm-help:before,
.ibm-info:before,
.ibm-minus:before,
.ibm-pdf:before,
.ibm-phone:before,
.ibm-play:before,
.ibm-plus:before,
.ibm-popup:before,
.ibm-quote:before,
.ibm-register:before,
.ibm-repcall:before,
.ibm-reset:before,
.ibm-rss:before,
.ibm-share:before,
.ibm-sp-na:before,
.ibm-star:before,
.ibm-top:before,
.ibm-x:before {
  font-family: "icons-ibm-v1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.ibm-alert:before { content: "\f100"; }
.ibm-anchor:before { content: "\f101"; }
.ibm-arrow-sm:before { content: "\f102"; }
.ibm-arrow:before { content: "\f103"; }
.ibm-audio:before { content: "\f104"; }
.ibm-back:before { content: "\f105"; }
.ibm-caution:before { content: "\f106"; }
.ibm-check:before { content: "\f107"; }
.ibm-chevron:before { content: "\f108"; }
.ibm-cta:before { content: "\f109"; }
.ibm-document:before { content: "\f10a"; }
.ibm-down:before { content: "\f10b"; }
.ibm-download-alt:before { content: "\f10c"; }
.ibm-download-whitepaper:before { content: "\f10d"; }
.ibm-download:before { content: "\f10e"; }
.ibm-email:before { content: "\f10f"; }
.ibm-external:before { content: "\f110"; }
.ibm-generic:before { content: "\f111"; }
.ibm-help-lg:before { content: "\f112"; }
.ibm-help:before { content: "\f113"; }
.ibm-info:before { content: "\f114"; }
.ibm-minus:before { content: "\f115"; }
.ibm-pdf:before { content: "\f116"; }
.ibm-phone:before { content: "\f117"; }
.ibm-play:before { content: "\f118"; }
.ibm-plus:before { content: "\f119"; }
.ibm-popup:before { content: "\f11a"; }
.ibm-quote:before { content: "\f11b"; }
.ibm-register:before { content: "\f11c"; }
.ibm-repcall:before { content: "\f11d"; }
.ibm-reset:before { content: "\f11e"; }
.ibm-rss:before { content: "\f11f"; }
.ibm-share:before { content: "\f120"; }
.ibm-sp-na:before { content: "\f121"; }
.ibm-star:before { content: "\f122"; }
.ibm-top:before { content: "\f123"; }
.ibm-x:before { content: "\f124"; }
