// URI: [File location on live site]
// Description: [CSS Customization Stylesheet for "Project name"]
// Author: [Name and Lotus Notes address of CSS author]
// Date: [Date of file edits] (e.g. July 30, 2013)
//
// Notes:
//   Add "ibm-adapt" class to modules that change under different viewport
//   Use ".ibm_cci-" class prefix for site specific custom code
.ibm-landing-page #ibm-pcon {
	width: 100% !important;
	margin: 10px 0 !important;
	padding-top: 0 !important;
}

// LEADSPACE *********************************************************//
div#ibm-leadspace-head.ibm_cc__sbi_ls {
	background: $dark-blue;
	#ibm-leadspace-body {
		background:url('../i/blogbanner.png') 0 0 no-repeat;
		width: 940px;
		padding-bottom: 0px;
		min-height: 150px;

		h1.ibm_cci--h1__modifier {
			 font-family: "LubalinGraphStdBookIBM";
			 color: #fff;
			 width: 100%;
			 @include px-to-rem(font-size, 45px);
			 padding-top: 75px;
			 span {
			 	word-spacing:-12px;
			 	span {
			 		font-weight: bold;
			 	}
			 }
		} 
				
		ul.ibm_cci--ls--social li:before  { content: none;}

		ul.ibm_cci--ls--social {
			list-style-type: none;
			float: right !important;
			padding-top: 12px;
			
			li {
				display:inline-block;
				background-image: none !important;
				padding: 0px;

				a {
					width: 24px;
					height: 24px;
					margin:2px;
					display:block;					
				}

				a.sbi_smarterplanet{
					background-image: url(../i/sbsm_smarterplanet.png);
				}
				a.sbi_facebook{
					background-image: url(../i/sbsm_facebook.png);
				}
				a.sbi_twitter{
					background-image: url(../i/sbsm_twitter.png);
				}
				a.sbi_socialbusiness{
					background-image: url(../i/sbsm_socialbiz.png);
				}
				a.sbi_linkedin{
					background-image: url(../i/sbsm_linkedin.png);
				}
				a.sbi_youtube{
					background-image: url(../i/sbsm_youtube.png);
				}
			}	
		}
	}
}

a.ibm-maximize-link.ibm-inline.ibm_cci--sbi-readmore:before {
	 
		@include px-to-rem(font-size, 16px);
	
}

a:visited {
	color: #00649d;
}

// spacing bwetween leadspace and content 
#ibm-content.ibm_cci--sbi-content {
	margin-top: 10px;
}

// SBI CUSTOM NAV ****************************/////
#ibm-navigation.ibm_cci--nav {
	display:block;
	left: 0px;
	margin-left: 0px;
	font-family: "LubalinGraphStdBookIBM";
	width: 100%;
	margin-top: 0px;
	padding-top: 0px;
	 padding-bottom:0px;
	// NAV LINK LIST **********************////////
	#ibm-primary-links {
		background: #f3f3f3;
		padding-bottom: none;
		width: 100%;
		padding-bottom: 0px;
		li {
			border:2px solid $dark-blue;
			border-bottom: none;
			display: block;

			a {
				@include px-to-rem(font-size, 18px);
				color: $dark-blue;
				border-top: none;
				border-bottom: none;
				transition: background-color .3s ease-out;
				transition: color .4s ease-out;
			}

			a:hover {
				background: $dark-blue;
				text-shadow: none;
				color: #fff;
				font-weight: normal;
				margin-left:0px;
				margin-right: 0px;
			}
			a,
			a:active,
			a:hover,
			a:focus,
			a:visited
			{
				padding: 6px 14px 6px 7px;
			}
		}

		li.last
		{
			border-bottom:2px solid $dark-blue;
		}

		li.cci_active a {
			font-family: "LubalinGraphStdBookIBM";
			background-color: $dark-blue;
			color: #fff;
			font-weight:normal;
		}
	}
}

// SIBEBAR SPACING ****************************************//
.ibm-col-6-2 .ibm-container-alt.ibm_cci--sbi-sidebar {
	margin-top:20px;
}


// FEATURE POST AT TOP OF PAGE *******************************************//
.ibm-col-6-4.ibm_cci__sbi_feature_post {
	h2.ibm_cci--fpost--h2 {
		font-family: "LubalinGraphStdBookIBM";
		@include px-to-rem(font-size, 31px);
		@include px-to-rem(line-height, 32px * $smallLineHeight);
		a {
			color: #00649d;
			text-decoration: none;
		}
		a:hover {
			color: #05386b;
			text-decoration: none;
		} 
	}			
}


// SINGLE POST VIEW ******************************************************//
.ibm-col-6-4.ibm_cci__sbi_post {
	h2.ibm_cci--post--h2 {
		padding-top: 20px;
		font-family: "LubalinGraphStdBookIBM";
		@include px-to-rem(font-size, 38px);
		@include px-to-rem(line-height, 40px * $smallLineHeight);
	}

	h3.ibm_cci--post-h3 {
		padding-top:20px;
		padding-bottom:10px;
		font-family: "LubalinGraphStdBookIBM";
		@include px-to-rem(font-size, 28px);
		@include px-to-rem(line-height, 30px * $smallLineHeight);
		float: left;
		clear: both;
	}

	.ibm_cci--post-image {
		margin: 0px 0px 0px;
	}

	.ibm_cci--source {
		float: right;
		@include px-to-rem(font-size, 13px);
	}

	p {
		float: left;
	}

	ul {
		float: left;
	}
	.ibm_cci--comment-count {
		margin-top:6px;
		float: right;
	}

	.ibm_cci--post-meta {
		 li {
		 	
		 	display:inline-block;
		 	padding-left: 0px;
		 	margin-right:15px;
		 }

		 li:before {
		 	content:none;
		 }
	}

}


ul.ibm_cci--archive-list {
	@include px-to-rem(font-size, 14px);
	padding:5px 0px;


	li {
		@include px-to-rem(line-height, 15px * $smallLineHeight);
		padding: 0px 5px 0px 0px;
		a {
			text-decoration: none;
		}
		a:hover {
			color: #05386b;

		}

	}

	li:before {
		content: none;
	}

}


.ibm-col-6-4 h3.ibm_cci--post-h3--related {
	margin-top:40px;
	border-bottom: 2px solid #666;
	margin-bottom: 20px;
	font-family: "LubalinGraphStdBookIBM";
}
.ibm-col-6-4 h3.ibm_cci--post-h3--comments {
	margin-top:30px;
	margin-bottom: 0px;
	font-family: "LubalinGraphStdBookIBM";
}

.ibm-col-6-4 .ibm-tab-section ul.ibm_cci--toggle-widget-nav {
	font-family: "LubalinGraphStdBookIBM";
	font-weight: 300;	
}

.ibm-col-6-4.ibm_cci--sbi_archives--title{
	h2.ibm_cci--archive--h2 {
		font-family: "LubalinGraphStdBookIBM";
		@include px-to-rem(font-size, 31px);
		@include px-to-rem(line-height, 32px * $smallLineHeight);
		padding-bottom:20px;
	}	
}


.ibm-col-6-4.ibm_cci__sbi_post,
.ibm-col-6-4.ibm_cci--sbi--post-excerpt,
.ibm-col-6-4.ibm_cci--sbi--archive-item{
ul.ibm_cci--post-share {
		list-style-type: none;
		display: inline-block;
		float: left;
		clear: both;
		li {
			display: inline-block;
			padding:3px;
			a{
				display: inline-block;
				width: 16px;
				height: 16px;
				text-indent: -9999px !important;
				padding-left: 0px;
			}

		}	
		li:before {
			 color: #666666;
		}
		li:hover:before {
			color: #00649d;
		}

	}

}



.ibm-col-6-4.ibm_cci--sbi--post-excerpt,
.ibm-col-6-4.ibm_cci--sbi--archive-item {
	padding: 20px 0px;
	margin-bottom: 0px;
	border-top: 1px solid #cccccc;
	img {
		float: left;
	}



	span.ibm_cci--sbi--post-item--date {
		float:right;
	}

	img {
		margin: 4px 15px 10px 0px;
	}
	p {
		margin:10px 0px;
	}

	.ibm_cci--comment-count {
		margin-top:6px;
		float: right;
	}

	span.ibm_cci--post-rating {
		width:16px;
		height: 16px;
		outline: 1px solid black;
		display:inline-block;

		a {
			display:inline-block;
			text-indent:-9999px;
		}
	}

	h3 {
		a {
			color: #00649d;
		}
		a:hover {
			color: #05386b;


		}
	}

}


textarea.ibm_cci--sbi-comment{
	min-width:98%;
	max-width:98%;
	width: 98%;
	padding: 1%;
	margin-bottom: 10px;
}


.ibm-container-alt.ibm_cci--sbi-twitter-widget {
	padding-top:10px;
	position:relative;
	iframe {
		width:100%;
	}
}

.ibm_cci--rss-subscribe {
	float: left;
	width: 90%;
	color: #000;
	padding: 5% 5% 8% 5%;
	background: #f3f3f3;
	margin-bottom:15px;
	border: 1px solid #4a4a4a;
	width: 268px;


	h4 {
		font-family: "LubalinGraphStdBookIBM";
		font-weight: normal;
		margin-left: 29px;
		
	}
}

.ibm-btn-small.ibm_cci-subscribe-button {
	margin-left: 5px;
	margin-right: 12px; 
}

h3.ibm_cci--h3__modifier {
	font-family: "LubalinGraphStdBookIBM";
}



.ibm-columns .ibm-container.ibm_cci--author-ribbon {
	border-top: none !important;

	.ibm-ribbon-prev {
		margin-top:34px !important;
	}
	.ibm-ribbon-next {
		margin-top:-99px !important;
	}
}


#ibm-content .ibm-columns ul.ibm-portrait-module-list.ibm_cci--blog-list{
	h3 {
		margin-bottom: 0px;
		padding-bottom: 0px;
		margin: 0 0 4px 60px;
		@include px-to-rem(line-height, 12px * $smallLineHeight);
	}
	p{
		@include px-to-rem(font-size, 14px);
		@include px-to-rem(line-height, 15px * $smallLineHeight);
		margin-left: 60px;
	}
	li {
		margin: 10px 0px
	}
	margin-bottom:30px;
}

.ibm-container.ibm_cci--sbi-disclaimer {
	padding-top: 6px;

	p {
		@include px-to-rem(font-size, 14px);
		@include px-to-rem(line-height, 15px * $smallLineHeight);
	}

}


.ibm-col-6-2 form.ibm_cci--sbi-form{
	position:relative;
	float: left;
	width: 100%;
	max-width:100%;
	padding: 0px;
	margin-bottom: 20px;
	
	

	input.ibm_cci--sbi-form--input {
		position:relative;
		display: block;		
		padding: 9px 20px 9px 2%;
		border: none;
		margin:0px 12px 0px 0px;
		border: 2px solid $dark-blue;
		border-top: none;
		width: 270px;

		
	}
	input.ibm-btn-search.ibm_cci--sbi-form--search {
		position:absolute !important;
		z-index:3;
		top:4px;
		right:4px;
	}
}


form.ibm_cci--sbi-comment-form{
	a.ibm_cci--submit {
		float: right;
	}
}

.ibm-columns .ibm-col-6-4.ibm_cci--sbi--post-excerpt:first-child {
	border-top: none;
	margin-top: 0px;
}


.ibm_cci--toggle-widget-content {display: none;}
.ibm_cci--toggle-widget-content.selected {display: block;}
.ibm_cci--sbi--show-hide {
	h2 {
		padding-top: 8px;
		border-top: 1px solid #cccccc !important;
	}
}

.ibm_cci--sbi-youtube-playlist {
	
	.ibm-portrait .ibm-media-thumb.ibm-media-active h3 a {
		color: #000;
	}

	.ibm-columns {
		.ibm-col-6-4 {
			.ibm-container.ibm-video {
				border-top: 1px solid #cccccc !important;
			}

		}
		.ibm-col-6-2.ibm-container-hide{
			.ibm-container.ibm-playlist {
				ul.ibm-container-controls {


					li  {

						a.ibm-show-hide.ibm-active:after {
			
						}
					}
				}
			}

		}
		.ibm-col-6-2 {
			.ibm-container.ibm-playlist {
				border-top: 1px solid #cccccc !important;
				ul.ibm-container-controls {

							li {
								
								a {
									background:none;
									position:relative;
									width: 20px !important;
						height: 20px !important;
								}
								a.ibm-show-hide:after,
								a.ibm-show-hide.ibm-active:after
								 {
									background:none;
									font-family: 'iconsIBM';
									font-variant: normal;
									text-transform: none;
									display: inline-block;
									letter-spacing: 4px;
									position: absolute;
									top: 0px;
									left: -10px;
									text-decoration: none;
									font-size: 1.4em;
									
									color: #00649d;
									text-indent: 0px;
								}
								a.ibm-show-hide:hover:after{
									color:#DF3A01;
								}

								a.ibm-show-hide:after {
									content:"\00a0\f151\00a0";
								}
								
								a.ibm-show-hide.ibm-active:after {
									content:"\00a0\f152\00a0";
								}

								a.ibm-show-hide.ibm-active:hover:after {
									color: #A5DF00;
								}


							}
						}
				.ibm-container-body{
					.ibm-media-list {

						div ul {
							margin-top: 10px;
							li {
								div {
									p {
										display :none;
									}

									h3 {
										@include px-to-rem(font-size, 14px);
										@include px-to-rem(line-height, 15px * $smallLineHeight);
										font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","HelvLightIBM",Arial,sans-serif;
										
										a {
											font-weight: normal;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
}



@media only screen and (max-width: 568px) and (min-width: 0) {

	a.ibm-btn-small.ibm_cci-subscribe-button{ 
		margin: 5px 0px 5px;
	
	}

	#ibm-top #ibm-leadspace-head.ibm_cc__sbi_ls #ibm-leadspace-body {
		width: auto;
	}

	div#ibm-leadspace-head.ibm_cc__sbi_ls #ibm-leadspace-body  h1.ibm_cci--h1__modifier { 
			width: 280px;
			margin: 0 auto;
			padding-top:60px;
			padding-bottom: 20px;

		span{
				word-spacing:-8px;
				
			}
	}

	div#ibm-leadspace-head.ibm_cc__sbi_ls #ibm-leadspace-body  h1.ibm_cci--h1__modifier > span {
		white-space: nowrap;
		@include px-to-rem(font-size, 40px);

	}



	#ibm-content.ibm_cci--sbi-content {
		margin-top: 0px;
	}

	#ibm-navigation.ibm_cci--nav {
		display:none;
	}

	form.ibm_cci--sbi-form{
		display:none;
	}

	.ibm-container-alt.ibm_cci--rss-subscribe {
		margin-bottom: 20px;
		width: 248px;
		img {
			margin-left: 5px;
			margin-right: 2px;
		}
	}
	.ibm-col-1-1.ibm_cci--author-col {
		display: none;
	}

	.ibm_cci--sbi-twisty-list {
		display: none;
	}

	.ibm-col-6-4.ibm_cci--sbi--post-excerpt,
	.ibm-col-6-4.ibm_cci--sbi--archive-item {
	padding: 20px 0px;
	margin-bottom: 0px;
	border-top: 1px solid #cccccc;

	span.ibm_cci--sbi--post-item--date {
	float:left;
		
		}
	}

	.ibm_cci--sbi-youtube-playlist {
		display: none;
	}

	.ibm_cci--sbi--post-item--byline {
		display: block;
	}
	.ibm-col-6-4.ibm_cci--sbi--post-excerpt p,
	.ibm-col-6-4.ibm_cci--sbi--archive-item p{
		margin-top: 28px;
	}
	.ibm-col-6-4.ibm_cci--sbi--archive-item span.ibm_cci--sbi--post-item--date,
	.ibm-col-6-4.ibm_cci--sbi--post-excerpt span.ibm_cci--sbi--post-item--date {
		float: left;
		display:block;
	}

	

}


@media only screen and (max-width: 640px) and (min-width: 569px) {
	.ibm_cci--rss-subscribe p img {
		display:none;
	}
		#ibm-content.ibm_cci--sbi-content {
		margin-top: 0px;
	}


	div#ibm-leadspace-head.ibm_cc__sbi_ls #ibm-leadspace-body h1.ibm_cci--h1__modifier { 
		
		@include px-to-rem(font-size, 45px);
		padding-top: 40px;
		
		span{
			word-spacing:-10px;

		}		
	}
	
	.ibm_cci--rss-subscribe h4 {
		margin-left:7px;
	}
	
	a.ibm-btn-small.ibm_cci-subscribe-button{
		margin-top:10px;
		width: 93%;
	}
	.ibm-col-1-1.ibm_cci--author-col {
		display: none;
	}
	.ibm_cci--sbi-youtube-playlist {
		display: none;
	}
	.ibm_cci--rss-subscribe {
		width: 142px;
	}

	form.ibm_cci--sbi-form,
	#ibm-navigation.ibm_cci--nav {
		display: none;
	}
	.ibm_cci--sbi--post-item--byline {
		display: block;
	}
	.ibm-col-6-4.ibm_cci--sbi--post-excerpt p,
	.ibm-col-6-4.ibm_cci--sbi--archive-item p{
		margin-top: 28px;
	}
	.ibm-col-6-4.ibm_cci--sbi--archive-item span.ibm_cci--sbi--post-item--date,
	.ibm-col-6-4.ibm_cci--sbi--post-excerpt span.ibm_cci--sbi--post-item--date {
		float: left;
		display:block;
	}	

}

@media only screen and (max-width: 640px) and (min-width: 601px) {
	.ibm_cci--rss-subscribe {
		width: 142px;
	}
	.ibm-col-6-2 form.ibm_cci--sbi-form {
		width: 160px;

		input.ibm_cci--sbi-form--input  {
			width: 133px;
		}
	}
	.ibm_cci--sbi--post-item--byline {
		display: block;
	}
	.ibm-col-6-4.ibm_cci--sbi--post-excerpt p,
	.ibm-col-6-4.ibm_cci--sbi--archive-item p{
		margin-top: 28px;
	}
	.ibm-col-6-4.ibm_cci--sbi--archive-item span.ibm_cci--sbi--post-item--date,
	.ibm-col-6-4.ibm_cci--sbi--post-excerpt span.ibm_cci--sbi--post-item--date {
		float: left;
		display:block;
	}	


}

@media only screen and (max-width: 800px) and (min-width: 641px) {
	.ibm_cci--rss-subscribe p img {
		display:none;
	}

	a.ibm-btn-small.ibm_cci-subscribe-button{ 
		margin: 5px 5px;
		width: 75px;
		font-size: .6em !important;
	}


	.ibm-col-6-2 form.ibm_cci--sbi-form {
		width: 200px;

		input.ibm_cci--sbi-form--input  {
			width: 172px;
		}
	}	

	.ibm_cci--rss-subscribe {
		width: 178px;
	}


	.ibm_cci--rss-subscribe h4 {
		margin-left:7px;
	}
	#ibm-leadspace-head.ibm_cc__sbi_ls #ibm-leadspace-body h1.ibm_cci--h1__modifier { 
		padding-top:40px;
		span{
				word-spacing:-11px;
			}
	}

	.ibm-col-1-1.ibm_cci--author-col {
		display: none;
	}

	.ibm_cci--sbi-youtube-playlist .ibm-container.ibm-playlist.ibm-portrait {
		margin: 0px !important;
	}
	.ibm_cci--sbi--post-item--byline {
		display: block;
	}
	.ibm-col-6-4.ibm_cci--sbi--post-excerpt p,
	.ibm-col-6-4.ibm_cci--sbi--archive-item p
	 {
		margin-top: 28px;
	}
	.ibm-col-6-4.ibm_cci--sbi--archive-item span.ibm_cci--sbi--post-item--date
	.ibm-col-6-4.ibm_cci--sbi--post-excerpt span.ibm_cci--sbi--post-item--date {
		float: left;
		display:block;
	}

}

@media only screen and (max-width: 800px) and (min-width: 0px) {
	.ibm-col-6-4.ibm_cci--sbi--archive-item span.ibm_cci--sbi--post-item--date, 
	.ibm-col-6-4.ibm_cci--sbi--post-excerpt span.ibm_cci--sbi--post-item--date{
		float: left;
		display:block;
	}
}