<div id="ibm-secondary-tabs" class="socbiz-become-tabs">
			  <ul class="ibm-tabs">    
					<li {{#is filename 'become-a-social-business.html'}} class="active"{{/is}}><a href="become-a-social-business.html">Overview</a></li>
					<li {{#is filename 'build-a-smarter-workforce.html'}} class="active"{{/is}}><a href="build-a-smarter-workforce.html">A smarter workforce</a></li>
					<li {{#is filename 'create-exceptional-customer-experiences.html'}} class="active"{{/is}}><a href="create-exceptional-customer-experiences.html">Exceptional customer experiences</a></li>
					<li {{#is filename 'social-analytics'}} class="active"{{/is}}><a href="social-analytics.html">Social analytics</a></li>
		  </ul>
</div>
