		<div id="ibm-top" class="ibm-landing-page">
			<div id="ibm-masthead">
				<div id="ibm-mast-options">
					<ul>
						<li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a></li>
					</ul>
				</div>
				<div id="ibm-universal-nav">
					<ul id="ibm-unav-links">
						<li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>
					</ul>
					<ul id="ibm-menu-links">
						<li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
					</ul>
					<div id="ibm-search-module">
						<form id="ibm-search-form" action="http://www.ibm.com/Search/" method="get">
						<p>
							<label for="q"><span class="ibm-access">Search</span></label>
							<input type="text" maxlength="100" value="" name="q" id="q"/>
							<input type="hidden" value="17" name="v"/>
							<input type="hidden" value="utf" name="en"/>
							<input type="hidden" value="en" name="lang"/>
							<input type="hidden" value="us" name="cc"/>
							<input type="submit" id="ibm-search" class="ibm-btn-search" value="Submit"/>
							</p>
						</form>
					</div>
				</div>
			</div>
			<div id="ibm-leadspace-head">
				<div id="ibm-leadspace-body">
					<p id="ibm-sp-home"><a href="http://www.ibm.com/smarterplanet/us/en/index.html?re=sph">A <b>Smarter</b> Planet</a></p>
					<h1>Social <strong>Business</strong></h1>
					<p><em>From liking to leading.</em></p>
					<div id="ibm-contact-module">
						<div class="ibm-container">	
							<ul class="ibm-live-assistance-list">
								<li class="ibm-phone-link">U.S. &amp; Canada <span>1-877-426-3774</span><br class="none"/>Priority Code <span>109HD03W</span></li>
								<li class="ibm-access" id="lpbutton"></li>
							</ul>
						</div>
					</div>				
				</div>
			</div>
