     <div id="ibm-content-nav">
        <div id="ibm-primary-tabs" class="ibm-no-mobile">
          <h2 class="ibm-access">Primary tab navigation</h2>
          <ul class="ibm-tabs">
            <li {{#is filename 'index.html'}} class="ibm-active"{{/is}} >
              <a tabindex="0" href="index.html">Why social business</a>
            </li>
            <li {{#is filename 'trials-and-demos.html'}} class="ibm-active"{{/is}}>
              <a tabindex="-1" href="trials-and-demos.html">Trials &amp; demos</a>
            </li>
            <li {{#is filename 'become-a-social-business.html'}} class="ibm-active"{{/is}}>
              <a tabindex="-1" href="become-a-social-business.html">Become a social business</a>
            </li>
            <li {{#is filename 'customers.html'}} class="ibm-active"{{/is}}>
              <a tabindex="-1" href="customers.html">Customer stories</a>
            </li>
            <li  {{#is filename 'social-business-news.html'}} class="ibm-active"{{/is}}>
              <a tabindex="-1" href="social-business-news.html">News &amp; resources</a>
            </li >
            <li {{#is filename 'explore-solutions.html'}} class="ibm-active"{{/is}}>
              <a tabindex="-1" href="explore-solutions.html">Solutions</a>
            </li>
          </ul>
        </div>
      </div>
