<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<!-- Add meta tag to consistently detect the width on an iPad at 768px -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="schema.DC" href="http://purl.org/DC/elements/1.0/"/>
<link rel="SHORTCUT ICON" href="http://www.ibm.com/favicon.ico"/>
<meta name="DC.Rights" content="© Copyright IBM Corp. 2011"/>
<meta name="Keywords" content="asas"/>
<meta name="DC.Date" scheme="iso8601" content="2012-02-22"/>
<meta name="Source" content="v17 Template Generator, Template 17.02"/>
<meta name="Security" content="Public"/>
<meta name="Abstract" content="asdasd"/>
<meta name="IBM.Effective" scheme="W3CDTF" content="2011-11-24"/>
<meta name="DC.Subject" scheme="IBM_SubjectTaxonomy" content="asdasd"/>
<meta name="Owner" content="jan janetka"/>
<meta name="DC.Language" scheme="rfc1766" content="en-US"/>
<meta name="IBM.Country" content="US"/>

<meta name="Robots" content="index,follow"/>
<meta name="DC.Type" scheme="IBM_ContentClassTaxonomy" content="asdasd"/>
<meta name="Description" content="asdasd"/>

<title>IBM </title>

<link href="../../css/ww.css" rel="stylesheet" title="www" type="text/css" />
<!-- <link href="http://1.www.s81c.com/common/v17/css/homepage.css" rel="stylesheet" title="www" type="text/css" /> -->
<style type="text/css">
/*
  #ibm-leadspace-head {
    background: #EFEFEF;
    border-bottom: 1px solid #C0C0AE;
  }


*/
  #ibm-leadspace-body {
    width: 100%;
  }
  #ibm-leadspace-head-slide-0 {
    background: url(http://www.ibm.com/images/portal/D170216D78380Y66/06022014hp_rational_spring2014_bg.png) repeat-x 50% 0px;
  }
  #ibm-leadspace-head-slide-1 {
    background: url(http://www.ibm.com/images/portal/N255603B13061I01/06012014_genomics_bg.jpg) repeat-x 50% 0px;
  }
  #ibm-leadspace-head-slide-2 {
    background: url(http://www.ibm.com/images/portal/J150195P08439H77/06022014hp_z_webcast_bg.png) repeat-x 50% 0px;
  }

  .ibm-home-page #ibm-leadspace-head .ibm-ribbon-pane h1 img, .ibm-home-page #ibm-leadspace-head .ibm-ribbon-pane h2 img {
    padding-top: 50px;
  }
  .ibm-home-page #ibm-leadspace-head .ibm-ribbon-section .ibm-columns .ibm-col-1-1 {
    width: 998px;
    padding: 0px;
    margin: 0px auto;
    float: none;
  }

</style>
<script src="../../js/ww.js" type="text/javascript"></script>
<script src="../../js/beta/carousel.js" type="text/javascript"></script>
<script type="text/javascript">
(function($, IBM) {
  
  $(function() {
    window.carousel = new IBM.Common.Widgets.Carousel($("#ibm-leadspace-head"), {
      autoWidth: true
    });
    
  });  
})(jQuery, CHICKENFEED);

</script>
</head>
<body id="ibm-com" class="ibm-type">
<div id="ibm-top" class="ibm-home-page">

<!-- MASTHEAD_BEGIN -->
<div class="ibm-access"><a href="#ibm-content">Skip to main content</a></div>
<div id="ibm-masthead">

<div id="ibm-mast-options">
<ul>
<li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a></li>
</ul>
</div>
<div id="ibm-universal-nav">
<ul id="ibm-unav-links">
<li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>
</ul>
<ul id="ibm-menu-links">
<li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>
<div id="ibm-search-module">

<form id="ibm-search-form" action="http://www.ibm.com/Search/" method="get">
<p>
<label for="q"><span class="ibm-access">Search</span></label>
<input type="text" maxlength="100" value="" name="q" id="q"/>
<input type="hidden" value="17" name="v"/>
<input type="hidden" value="utf" name="en"/>
<input type="hidden" value="en" name="lang"/>
<input type="hidden" value="us" name="cc"/>
<input type="submit" id="ibm-search" class="ibm-btn-search" value="Submit"/>
</p>
</form>
</div>
</div>
</div>
<!-- MASTHEAD_END -->
<!-- LEADSPACE_BEGIN -->
<div class="ibm-container ibm-carousel" id="ibm-leadspace-head">
  <div id="ibm-leadspace-body">
    <div class="ibm-container-body">
      <div class="ibm-columns">
        <div class="ibm-col-1-1">
          <h1><a href="http://www.ibm.com/software/rational/announce?lnk=ushpls1"><img alt="Accelerate product &amp; software innovation" height="297" width="578" src="http://www.ibm.com/images/portal/Z340524W95537S58/06022014hp_rational_spring2014_text.png" class="ibm-no-mobile"/><img class="ibm-mobile" alt="Accelerate product &amp; software innovation" height="98" width="318" src="http://www.ibm.com/images/portal/Z340524W95537S58/06022014hp_rational_spring2014_mobile.png"/></a></h1>
          <p class="ibm-access"><em>Explore new solutions for DevOps and Continuous Engineering</em></p>
        </div>
      </div>
      <div class="ibm-columns">
        <div class="ibm-col-1-1">
          <h2 style="left: 0px;"><a href="http://www.ibm.com/services/us/gbs/thoughtleadership/genomicmedicine/?lnk=ushpls2" tabindex="0"><img alt="Prescription for personalized medicine" height="297" width="578" src="http://www.ibm.com/images/portal/Q342067Q59330P99/06012014_genomics_text.png" class="ibm-no-mobile"><img class="ibm-mobile" alt="Prescription for personalized medicine" height="98" width="318" src="http://www.ibm.com/images/portal/Q342067Q59330P99/06012014_genomics_csm.png"></a></h2>
          <p class="ibm-access"><em>Genomics meets cognitive computing. Read the new study.</em></p>
        </div>
      </div>
      <div class="ibm-columns">
        <div class="ibm-col-1-1">
          <h2><a href="http://www.ibm.com/services/us/en/c-suite/csuitestudy2013?lnk=ushpls3"><img alt="Build a customer activated supply chain" height="297" width="578" src="http://www.ibm.com/images/portal/N894076T72324W46/05272014hp_csco_text.png" class="ibm-no-mobile"/><img class="ibm-mobile" alt="Build a customer activated supply chain" height="98" width="318" src="http://www.ibm.com/images/portal/N894076T72324W46/05272014hp_csco_csm.png"/></a></h2>
          <p class="ibm-access"><em>Read CSCO insights from the Global C-suite study</em></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- LEADSPACE_END -->
<!-- LEADSPACE_BEGIN 

<div id="ibm-leadspace-head" class="ibm-alternate">
<div id="ibm-leadspace-body">
<div class="ibm-columns">
<div class="ibm-col-1-1">
<h1>jQuery Carousel Auto Scroll Example</h1>
</div>
</div>
</div>
</div>-->
<!-- LEADSPACE_END -->



<div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">
<!-- CONTENT_BODY -->
<div id="ibm-content-body">
<div id="ibm-content-main">

  <div id="ibm-news-feed">
  <div id="ibm-news-feed-inner">
  <p>@IBM:<a href="/common/twitter/ibm.xml" class="ibm-rss-link ibm-no-mobile">Twitter</a><a class="ibm-rss-link ibm-mobile" href="/news/us/en">News</a></p>
  </div>
  </div>


  <!-- PROMOTION_BEGIN -->
  <div class="ibm-container" id="ibm-promotion-module">
  <div class="ibm-container-body">
  <div class="ibm-columns">
  <!-- ibm-col-6-2 : Z725354V02338R50 -->
  <div class="ibm-col-6-2 ">
  <!-- eTree :.: Fragment (Image) :.: B302493F36942F04 [X266269I15715L76]-->
  <a href="http://www.ibm.com/smarterplanet/us/en?link=ibmhpcs1/corp/smarterplanet/menu"><img alt="What's new on a Smarter Planet? Explore ideas for how we live, work and innovate" height="98" width="318" src="/images/portal/X266269I15715L76/csm1_smarter_planet_05262014.png" class="ibm-no-mobile"/><img class="ibm-mobile" alt="What's new on a Smarter Planet? Explore ideas for how we live, work and innovate" height="98" width="318" src="/images/portal/X266269I15715L76/csm1_smarter_planet_05122014.png"/></a>
  </div>
  </div>
  <div class="ibm-columns">
  <!-- ibm-col-6-2 : Y366932P54291Q23 -->
  <div class="ibm-col-6-2 ">
  <!-- eTree :.: Fragment (Image) :.: J527612Q18333Q57 [E350100M80433C74]-->
  <a href="http://www.ibm.com/services/us/en/it-services/security-services/cost-of-data-breach/?lnk=ushpcs2"><img alt="Data breach costs on the rise Ponemon Institute looks at the real damage in dollars" height="98" width="318" src="/images/portal/E350100M80433C74/05122014hp_ponemon_mobile.png" class="ibm-no-mobile"/><img class="ibm-mobile" alt="Data breach costs on the rise Ponemon Institute looks at the real damage in dollars" height="98" width="318" src="/images/portal/E350100M80433C74/05122014hp_ponemon_mobile.png"/></a>
  </div>
  </div>
  <div class="ibm-columns">
  <!-- ibm-col-6-2 : L573732B85674Y66 -->
  <div class="ibm-col-6-2 ">
  <!-- eTree :.: Fragment (Image) :.: H911989L14230B33 [Z542041Z34638Y20]-->
  <a href="http://people4smartercities.com?cm_mmc=ibm%20website-_-internal-leadspaces-_-post-_-launch&amp;cm_mmca1=2014-05-09&amp;cm_mmca2=IBM%20Homepage&amp;lnk=ushpcs3"><img alt="Smarter cities made with everyone. Watch eight inspiring ideas for a smarter city come to life." height="98" width="318" src="/images/portal/Z542041Z34638Y20/05282014hp_p4sc_camp_csm.png"/></a>
  </div>
  </div>
  <div class="ibm-columns">
  <!-- ibm-col-6-2 : V980590L31143Q37 -->
  <div class="ibm-col-6-2 ">
  <!-- eTree :.: Fragment (Image) :.: F214062T65130Y05 [A693202Z82267B37]-->
  <a href="http://www.ibm.com/smarterplanet/us/en/madewithibm/stories/#!story/3?lnk=ushpcs4"><img alt="New customers made with data Leyou understands the needs of its customers with analytics" height="98" width="318" src="/images/portal/A693202Z82267B37/04072014hp_made_with_ibm_leyou_csm.png" class="ibm-no-mobile"/><img class="ibm-mobile" alt="New customers made with data Leyou understands the needs of its customers with analytics" height="98" width="318" src="/images/portal/A693202Z82267B37/04072014hp_made_with_ibm_leyou_csm.png"/></a>
  </div>
  </div>
  </div>
  </div>
  <!-- PROMOTION_END -->


</div>
<!-- FEATURES_BEGIN -->
<div id="ibm-content-sidebar">
<div id="ibm-contact-module">
<!--IBM Contact Module-->
</div>
%%sidebarspace%%
</div>

<!-- FEATURES_END -->
<!-- CONTENT_BODY_END -->
</div>
</div>
<!-- CONTENT_END -->
<!-- NAVIGATION_BEGIN -->

<!-- NAVIGATION_END -->
</div>
<div id="ibm-related-content">
<div id="ibm-merchandising-module">
<!--IBM Web Merchandising Module-->
</div>
</div>

<!-- FOOTER_BEGIN -->
<div id="ibm-footer-module">

</div>
<div id="ibm-footer">
<h2 class="ibm-access">Footer links</h2>
<ul>
<li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
<li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
<li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
<li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
</ul>
</div>
<!-- FOOTER_END -->
</div>

<div id="ibm-metrics">
<script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">//</script>
</div>
</body>
</html>
