
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">

<head>

  <!-- NOTE: Metatags copied from the current IBM/Voices site (Remove this note before launch) -->
  <meta http-equiv="Cache-Control" content="no-cache"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="(PICS-1.1 &quot;http://www.icra.org/ratingsv02.html&quot; l gen true r (cz 1 lz 1 nz 1 oz 1 vz 1) &quot;http://www.rsac.org/ratingsv01.html&quot; l gen true r (n 0 s 0 v 0 l 0) &quot;http://www.classify.org/safesurf/&quot; l gen true r (SS~~000 1))" http-equiv="PICS-Label">
  <link href="http://purl.org/DC/elements/1.0/" rel="schema.DC">
  <link href="http://www.ibm.com/favicon.ico" rel="SHORTCUT ICON">

    <link rel="IBM.Mobile.redirect" href="http://www.ibm.com/social/aggregator/voices/voices" />

    <meta content="v17 ECM/ibm.com - S734638V15397V06 - 06/20/2011 02:50:00 PM" name="Source" />
    <meta content="public" name="Security" />
    <meta content="IBM Corporation" name="DC.Publisher" />

    <meta name="Robots" content="index,nofollow"/>
    <META NAME="GOOGLEBOT" CONTENT="NOARCHIVE">
    <meta name="Owner" content="ethnmcrt@us.ibm.com"/>
    <meta name="DC.Subject" scheme="IBM_SubjectTaxonomy" content="IBM000"/>
    <meta name="DC.Type" scheme="IBM_ContentClassTaxonomy" content="CT002"/>
    <meta name="DC.Date" scheme="iso8601" content="2013-06-14"/>
    <meta name="DC.Rights" content="© Copyright IBM Corp. 2013"/>

    <meta name="DC.Language" scheme="rfc1766" content="en-US"/>
    <meta name="IBM.Country" content="us"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <meta name="__RMSBETA" value="newYT">

    <meta name="Description" content="IBM Voices - What our company is saying right now."/>
    <title>IBM Voices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <meta property="og:title" content="IBM Voices" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www-304.ibm.com/social/aggregator/voices/voices" />
    <meta property="og:image" content="https://www-304.ibm.com/social/aggregator/static/external/86/misc/voices_share.png" />
    <meta property="og:site_name" content="IBM Voices" />
    <meta property="fb:admins" content="1156380084" />
    <meta property="og:description" content="IBM Voices - the most valuable social content shared, created and discussed by IBMers."/>


    <html itemscope itemtype="http://schema.org/Product">
    <meta itemprop="name" content="IBM Voices">
    <meta itemprop="description" content="IBM Voices - the most valuable social content shared, created and discussed by IBMers">
    <meta itemprop="image" content="https://www-304.ibm.com/social/aggregator/static/external/86/misc/Voices-shareimage.png">

    <!-- META -->

    <link rel="apple-touch-icon" href="https://www-304.ibm.com/social/aggregator/static/external/86/misc/apple.jpg" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://www-304.ibm.com/social/aggregator/static/external/86/misc/apple1.jpg" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://www-304.ibm.com/social/aggregator/static/external/86/misc/apple2.jpg" />
    <link rel="image_src" href="https://www-304.ibm.com/social/aggregator/static/external/86/misc/imgsrc.jpg">

    <link href='https://fonts.googleapis.com/css?family=Gentium+Basic' rel='stylesheet' type='text/css'>
    <link rel="SHORTCUT ICON" href="https://www-304.ibm.com/social/aggregator/static/external/86/misc/favicon.ico">
    <!-- Please ensure appropriate meta tag values are aligned with the standards -->

<!-- FOR LOCAL TESTING (START) -->
<!--     <link href="../../css/ww.css" rel="stylesheet" title="www" type="text/css" /> -->
    <link href="http://205.186.160.10/v17e/css/ww.css" rel="stylesheet" title="www" type="text/css" />
    <link href="css/ww_cci.css" rel="stylesheet" type="text/css" />

<!--     <script src="../../js/ww.js" type="text/javascript"></script> -->
    <script src="http://205.186.160.10/v17e/js/ww.js" type="text/javascript"></script>
    <script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="js/jsviews.min.js" type="text/javascript"></script>
    <script src="js/ww_cc_jsrender.js" type="text/javascript"></script>
<!-- FOR LOCAL TESTING (END) -->

<!-- FOR ESL002 TESTING (START) -->
  <!-- CSS (START) -->
   <!--  <link href="https://esl002.somerslab.ibm.com/SMA/SMAStatic/voices-jsRender/css/ww.css" rel="stylesheet" title="www" type="text/css" />
    <link href="https://esl002.somerslab.ibm.com/SMA/SMAStatic/voices-jsRender/css/ww_cci.css" rel="stylesheet" type="text/css" /> -->
  <!-- CSS (END) -->

  <!-- JS (START) -->
    <!-- <script src="https://esl002.somerslab.ibm.com/SMA/SMAStatic/voices-jsRender/js/ww.js" type="text/javascript"></script>
    <script src="https://esl002.somerslab.ibm.com/SMA/SMAStatic/voices-jsRender/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="https://esl002.somerslab.ibm.com/SMA/SMAStatic/voices-jsRender/js/jsviews.min.js" type="text/javascript"></script>
    <script src="https://esl002.somerslab.ibm.com/SMA/SMAStatic/voices-jsRender/js/ww_cc_jsrender.min.js" type="text/javascript"></script> -->
  <!-- JS (END) -->
<!-- FOR ESL002 TESTING (END) -->

  <!-- for popup window -->
    <script type="text/javascript">
      var openPopup = function(href){
          console.log(href);
          event.preventDefault();
          var windowOptions = 'scrollbars=yes,resizable=yes,toolbar=no,location=yes',
            width = 600,
            height = 520,
            winHeight = screen.height,
            winWidth = screen.width;

          var left = Math.round((winWidth / 2) - (width / 2));
          var top = 0;
          if (winHeight > height) {
            top = Math.round((winHeight / 2) - (height / 2));
          }

          window.open(href, 'intent', windowOptions + ',width=' + width +
              ',height=' + height + ',left=' + left + ',top=' + top);

           if (window.focus) {this.window.focus()}
              return false;
      };

      // document.addEventListener("touchstart", function(event){
      //   console.log(event);
      // }, true);

  </script>

</head>
<body id="ibm-com" class="ibm-type" >

  <!-- JSRender TT template (START) -->
  <script id="tt_template" type="text/x-jsrender">
   {{props t_list}}
   <li class="ibm_cci__ml-li">
    <p>
      <a href="javascript:void(0)" class="ibm_cci-voices-tt-text" name="{{:prop}}" alt="Trending Keyword: {{:prop}}"> {{:prop.trim()}} </a>
      <a class="ibm_cci-voices-tt-close-container" href="javascript:void(0)" name="{{:prop}}" alt="add/close trending keyword"></a>
    </p>
  </li>
  {{/props}}
</script>
<!-- JSRender TT template (END)  -->

<!-- JSRender ST template (START) -->
<script id="st_template" type="text/x-jsrender">
  {{props t_list}}
  <li class="ibm_cci__ml-li ibm_cci-tsearch-js">
    <p class="ibm_cci-clicked">
      <a href="javascript:void(0)" name="{{:prop}}" class="ibm_cci-voices-tt-text ibm_cci-voices-search-term" alt="Trending Search Keyword: {{:prop}}"> {{:prop.trim()}} </a>
      <a class="ibm_cci-voices-tt-close-container ibm_cci-close-black" href="javascript:void(0)" name="{{:prop}}" alt="add/close trending search keyword"></a> </p>
    </li>
    {{/props}}
  </script>
  <!-- JSRender ST template (END)  -->

  <!-- JSRender Unresolved template (START) -->
  <script id="unro_template" type="text/x-jsrender">
    <div class="ibm-col-1-1 ibm-card masonry-brick" data-rank="{{:rank}}" data-type="{{:type}}">
      <div class="ibm_cci--lv-unro-b">
        <div class="ibm_cci--rea-block">
          <ul>
            <li>
              {{if rank.toString().length > 2}}
              <p class="ibm_cci--rea-rank ibm_cci-reducedFont">{{:rank)}}</p>
{{else}}
<p class="ibm_cci--rea-rank">{{:rank)}}</p>
{{/if}}
</li>
<li class="ibm_cci__padding-top">
  <div class="ibm_cci--rea-b">
    <div class="ibm_cci--rea-b-e">
      <div class="ibm_cci--rea-b" style="width:{{:reachPct}}%"></div>
    </div>
    <div class="ibm_cci--rea-b-e">
      <div class="ibm_cci--rea-b" style="width:{{:engmtPct}}%"></div>
    </div>
    <div class="ibm_cci--rea-b-e">
      <div class="ibm_cci--rea-b" style="width:{{:ampPct}}%"></div>
    </div>
  </div>
</li>
</ul>
</div>
<div class="ibm_cci--unr-cb">
  <div class="ibm_cci--lv-rc-th ibm_cci--gv-rc-th"> <img class="ibm_cci--lv-rc-avatar" src="{{:userAvatar}}" width="25" height="25">
    <h3 class="ibm_cci--lv-r-wct">
     <a href="https://twitter.com/intent/user?user_id={{:userId}}&dnt=true&count=none" onclick="window.open(this.href, '_blank'); return false;" alt="twitter user name {{:username}}">{{:username}}</a>
     </h3>
    <p class="ibm_cci--lv-r-wch">
      <a href="https://twitter.com/intent/user?user_id={{:userId}}&dnt=true&count=none" onclick="window.open(this.href, '_blank'); return false;" alt="twitter user screen name {{:userScreenName}}">@{{:userScreenName}}</a>
    </p>
  </div>
  <div class="ibm_cci--time-stamp">
    <p class="ibm_cci-tts"> <span></span>
      <img src="i/ibm_twitter_timestamp_icon_12x12.png" alt="twitter timestamp" height="12" width="12">
        <a href="{{:link}}" alt="twitter timestamp image" onclick="window.open(this.href, '_blank'); return false;">{{:published}}</a>
    </p>
  </div>
  <div class="ibm_cci--ttb">
    <h2 class="ibm_cci--tweet-title"> {{:content}} </h2>
  </div>
  <div class="ibm_cci--lv-rc-sharing">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?in_reply_to={{:id}}&dnt=true&count=none" alt="twitter reply" onclick="return openPopup(this.href)">
          <img src="i/ibm_reply_icon.png" alt="reply to tweet" width="16" height="16"> </a>
        </li>
      <li>
        <a href="https://twitter.com/intent/retweet?tweet_id={{:id}}&dnt=true&count=none" alt="twitter retweet" onclick="return openPopup(this.href)">
          <img src="i/ibm_retweet_icon.png" alt="retweet button" width="16" height="16"></a>
      </li>
      <li>
        <a href="https://twitter.com/intent/favorite?tweet_id={{:id}}&dnt=true&count=none" alt="twitter favorite" onclick="return openPopup(this.href)">
          <img src="i/ibm_favorite_icon.png" alt="favorite button" width="16" height="16"> </a>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
</script>
<!-- JSRender Unresolved template (END) -->

<!-- JSRender Resolved template (START) -->
<script id="reso_template" type="text/x-jsrender">
  <div class="ibm-col-1-1 ibm-card masonry-brick" data-rank="{{:rank}}" data-type="{{:type}}">
    <div class="ibm-col-6-4">
      <div class="ibm_cci--rea-block">
        <ul>
          <li>
            {{if rank.toString().length > 2}}
            <p class="ibm_cci--rea-rank ibm_cci-reducedFont">{{:rank)}}</p>
{{else}}
<p class="ibm_cci--rea-rank">{{:rank)}}</p>
{{/if}}
</li>
<li class="ibm_cci__padding-top">
  <div class="ibm_cci--rea-b">
    <div class="ibm_cci--rea-b-e">
      <div class="ibm_cci--rea-b" style="width:{{:reachPct}}%"></div>
    </div>
    <div class="ibm_cci--rea-b-e">
      <div class="ibm_cci--rea-b" style="width:{{:engmtPct}}%"></div>
    </div>
    <div class="ibm_cci--rea-b-e">
      <div class="ibm_cci--rea-b" style="width:{{:ampPct}}%"></div>
    </div>
  </div>
</li>
</ul>
</div>
<div class="ibm_cci--rcb">
  <div class="ibm_cci-fav-ihb">
    <p class="ibm_cci--feed-icon">
      <a href="{{:link}}" alt="feed icon {{:domain}}" onclick="window.open(this.href, '_blank'); return false;">
        {{if icon == null}}
          <img alt="user avatar icon {{:domain}}" src="{{:icon}}" style="display:none;"/>
        {{else}}
          <img alt="user avatar icon {{:domain}}" src="{{:icon}}"/>
        {{/if}}
      </a>
    </p>
    <a class="ibm_cci--feed-title" href="{{:link}}" alt="link to {{:domain}}" onclick="window.open(this.href, '_blank'); return false;">{{:domain}}</a>
  </div>

  <div class="ibm_cci-sib">
    <ul class="ibm_cci-sie">
      <li>
        <a href="https://twitter.com/intent/tweet?text={{:title}}" alt="share on twitter link" onclick="return openPopup(this.href)">
          <img src="i/ibm_social_twitter_icon_16x16.svg" type="image/svg+xml" alt="{{:rank}} share on twitter" width="16" height="16"/>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/login.php?next=https://www.facebook.com/sharer/sharer.php?u={{:link}}" alt="share on facebook link" onclick="return openPopup(this.href)">
          <img src="i/ibm_social_facebook_icon_16x16.svg" type="image/svg+xml" alt="{{:rank}} share on facebook" width="16" height="16"/>
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/shareArticle?summary={{:title}}&mini=true&url={{:link}}" alt="share on linkedin link" onclick="return openPopup(this.href)">
          <img src="i/ibm_social_linkedin_icon_16x16.svg" type="image/svg+xml" alt="{{:rank}} share on linkedin" width="16" height="16"/>
        </a>
      </li>
    </ul>
  </div>
  <div class="ibm_cci--ttb">
    <h2 class="ibm_cci--tweet-title">
      <a href="{{:link}}" alt="tweet title: {{:title}}" onclick="window.open(this.href, '_blank'); return false;">{{:title}}</a>
    </h2>
    <div class="ibm_cci--tweet-description">
      <div class="ibm_cci--tweet-content-text">{{:~truncateDesc(content)}}
        <span class="ibm_cci--tweet-description-readmore"><a href="{{:link}}" alt="read more link" onclick="window.open(this.href, '_blank'); return false;">&hellip;Read More</a></span>
      </div>
      <div class="ibm_cci-media-container">
        {{if altMediaURL && altMediaURL.length > -1 }}

      <div class="ibm-video">
        <div class="ibm-video-container">
          <a href="{{:mediaURL}}" alt="video media image">
            <object width="270" height="293">
            <param name="movie"
                   value="{{:mediaURL}}"></param>
            <param name="allowScriptAccess" value="always"></param>
            <embed src="{{:mediaURL}}"
                   type="application/x-shockwave-flash"
                   playsinline="1"
                   allowscriptaccess="always"
                   width="270" height="293"></embed>
          </object>
            </a>
        </div>
      </div>

          {{else mediaURL}}
          <img width="270" class="ibm_cci--tweet-image" alt="abstract media image" src="{{:mediaURL}}" onerror="this.style.display='none';" />

          {{/if}}
        </div>
      </div>
    </div>
    <div class="ibm_cci-gv-sib">
      <ul class="ibm_cci-sie">
        <li>
          <a href="https://twitter.com/intent/tweet?text={{:title}}" alt="share on twitter link" onclick="return openPopup(this.href)">
            <img src="i/ibm_social_twitter_icon_16x16.svg" type="image/svg+xml" alt="{{:rank}} share on twitter" width="16" height="16" />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/login.php?next=https://www.facebook.com/sharer/sharer.php?u={{:link}}" alt="share on facebook link" onclick="return openPopup(this.href)">
            <img src="i/ibm_social_facebook_icon_16x16.svg" type="image/svg+xml" alt="{{:rank}} share on facebook" width="16" height="16"/>
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/shareArticle?summary={{:title}}&mini=true&url={{:link}}" alt="{{:rank}} share on linkedin link" onclick="return openPopup(this.href)">
            <img src="i/ibm_social_linkedin_icon_16x16.svg" type="image/svg+xml" alt="{{:rank}} share on linkedin" width="16" height="16"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="ibm-col-6-2">
  <ul class="ibm_cci-relatedTweetContainer">
    {{range refTweets start=0 end=9}}
    <li data-userID="{{:userId}}">
      <a href="javascript:void(0);" alt="user avatar {{:userScreenName}}" data-userID="{{:userId}}">
        {{if #getIndex() == 0}}
        <img class="selected" src="{{:userAvatar}}" alt="user avatar {{:userScreenName}} icon" width="25" height="25" />
        {{else}}
        <img src="{{:userAvatar}}" alt="user avatar {{:userScreenName}} icon" width="25" height="25" />
        {{/if}}
      </a>
    </li>
    {{/range}}
  </ul>
  {{range refTweets start=0 end=9}}
  {{if #getIndex() == 0}}
  <div class="ibm_cci-rel-tweet-details-container" data-userID="{{:userId}}">
    <div class="ibm_cci--lv-rc-th" data-userID="{{:userId}}">
      <h3 class="ibm_cci--lv-rc-title">
        <a href="https://twitter.com/intent/user?user_id={{:userId}}&dnt=true&count=none" alt="twitter user name {{:username}}" onclick="return openPopup(this.href)">{{:username}}</a>
      </h3>
      <p class="ibm_cci--lv-rc-h">
        <a data-userID="{{:userId}}" href="https://twitter.com/intent/user?user_id={{:userId}}&dnt=true&count=none" alt="twitter user screen name {{:userScreenName}}" onclick="return openPopup(this.href)">@{{:userScreenName}}</a>
      </p>
      </div>
      <div class="ibm_cci--time-stamp" data-userID="{{:userId}}">
       <p class="ibm_cci-tts">
         <span></span>
         <img src="i/ibm_twitter_timestamp_icon_12x12.png" alt="twitter timestamp" height="12" width="12"> <a href="{{:link}}" onclick="window.open(this.href, '_blank'); return false;" alt="twitter timestamp image">{{:published}}</a>
       </p>
     </div>
   </div>

   <div style="float:left" data-userID="{{:userId}}">
    <div class="ibm_cci--lv-rc-description" data-userID="{{:userId}}">
      <p>{{:content}}</p>
    </div>

    <div class="ibm_cci--lv-rc-sharing" data-userID="{{:userId}}">
      <ul>
        <li> <a href="https://twitter.com/intent/tweet?in_reply_to={{:id}}&dnt=true&count=none" alt="twitter reply" onclick="return openPopup(this.href)"> <img src="i/ibm_reply_icon.png" alt="reply to tweet" width="16" height="16"> </a> </li>
        <li> <a href="https://twitter.com/intent/retweet?tweet_id={{:id}}&dnt=true&count=none" alt="twitter retweet" onclick="return openPopup(this.href)"> <img src="i/ibm_retweet_icon.png" alt="retweet button" width="16" height="16"> </a> </li>
        <li> <a href="https://twitter.com/intent/favorite?tweet_id={{:id}}&dnt=true&count=none" alt="twitter favorite" onclick="return openPopup(this.href)"> <img src="i/ibm_favorite_icon.png" alt="favorite button" width="16" height="16"> </a> </li>
      </ul>
    </div>

  </div>

  {{else}}

  <div class="ibm_cci-rel-tweet-details-container" data-userID="{{:userId}}" style="display: none;">
    <div class="ibm_cci--lv-rc-th" data-userID="{{:userId}}">
      <h3 class="ibm_cci--lv-rc-title">
        <a href="https://twitter.com/intent/user?user_id={{:userId}}&dnt=true&count=none" alt="twitter user name {{:username}}" onclick="return openPopup(this.href)">{{:username}}</a>
      </h3>
      <p class="ibm_cci--lv-rc-h"><a data-userID="{{:userId}}" href="https://twitter.com/intent/user?user_id={{:userId}}&dnt=true&count=none" alt="twitter user screen name {{:userScreenName}}" onclick="return openPopup(this.href)">@
        {{:userScreenName}}</a></p>
      </div>
      <div class="ibm_cci--time-stamp" data-userID="{{:userId}}">
       <p class="ibm_cci-tts">
         <span></span>
         <img src="i/ibm_twitter_timestamp_icon_12x12.png" alt="twitter timestamp" height="12" width="12"> <a href="{{:link}}" alt="twitter timestamp image">{{:published}}</a>
       </p>
     </div>
   </div>

   <div style="float:left; display:none;" data-userID="{{:userId}}">

    <div class="ibm_cci--lv-rc-description" data-userID="{{:userId}}">
      <p>{{:content}}</p>
    </div>

    <div class="ibm_cci--lv-rc-sharing" data-userID="{{:userId}}">
      <ul>
        <li> <a href="https://twitter.com/intent/tweet?in_reply_to={{:id}}&dnt=true&count=none" alt="twitter reply" onclick="return openPopup(this.href)"> <img src="i/ibm_reply_icon.png" alt="reply to tweet" width="16" height="16"> </a>
        </li>
        <li> <a href="https://twitter.com/intent/retweet?tweet_id={{:id}}&dnt=true&count=none" alt="twitter retweet" onclick="return openPopup(this.href)"> <img src="i/ibm_retweet_icon.png" alt="retweet button" width="16" height="16"> </a>
        </li>
        <li> <a href="https://twitter.com/intent/favorite?tweet_id={{:id}}&dnt=true&count=none" alt="twitter favorite" onclick="return openPopup(this.href)"> <img src="i/ibm_favorite_icon.png" alt="favorite button" width="16" height="16"> </a>
        </li>
      </ul>
    </div>

  </div>
  {{/if}}
  {{/range}}

</div>
</div>
</script>
<!-- JSRender Resolved template (END) -->


<!--
  // START OF THE MAIN DIV
-->

<div id="ibm-top" class="ibm-landing-page">
  <!-- MASTHEAD_BEGIN -->
  <div id="ibm-masthead">
    <div id="ibm-mast-options">
      <ul>
        <li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a></li>
      </ul>
    </div>
    <div id="ibm-universal-nav">
      <ul id="ibm-unav-links">
        <li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>
      </ul>
      <ul id="ibm-menu-links">
        <li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
      </ul>
      <div id="ibm-search-module">
        <form method="get" action="http://www.ibm.com/Search/" id="ibm-search-form">
          <p>
            <label for="q"> <span class="ibm-access">Search</span> </label>
            <input id="q" value="" maxlength="100" name="q" type="text"/>
            <input name="v" type="hidden" value="17"/>
            <input type="hidden" name="en" value="utf"/>
            <input name="lang" type="hidden" value="en"/>
            <input name="cc" type="hidden" value="us"/>
            <input value="Submit" class="ibm-btn-search" id="ibm-search" type="submit"/>
          </p>
        </form>
      </div>
    </div>
  </div>
  <!-- MASTHEAD_END -->

  <!-- LEADSPACE_BEGIN -->
  <div id="ibm-leadspace-head" class="ibm_cc__voices_ls">
    <div id="ibm-leadspace-body">
      <div class="ibm_cci--ls--logo">
        <h1 class="ibm_cci--h1__modifyer"> <a href="index-jsRender.html">IBM Voices</a> </h1>
        <p class="ibm_cci-about"> <a href="//www-304.ibm.com/social/aggregator/voices/voices/about" target="_self" alt="link to voices about us page" class="ibm_cci_aboutlink"> About us </a> </p>
      </div>
      <div class="ibm_cci--ls--search" role="search">
        <form action="javascript:void(0);">
          <!-- <label for="ibm-custom-search-field" class="ibm-custom-hide-label" tabindex="1">Search</label> -->
          <input name="ibm-cc-search--field" id="ibm-cc-search--field" tabindex="1" alt="search field" type="text" class="ibm-cc-search--field defaultcolor" value="" />
          <input type="image" src='i/ibm_search_icon.png' tabindex="2" alt="search icon" class="ibm-cc-search--icon" name="search button" value="search" />
        </form>
        <p></p>
      </div>
      <div class="ibm_cci--ls--toggle" id="ibm_cci--toggle-js">
        <ul class="ibm_cci--ls--toggle--ul">
          <li class="ibm_cci--ls--toggle--li--grid-icon"> <a class="selected" id="grid" data-id="grid" href="javascript:void(0);">Grid View</a> </li>
          <li class="ibm_cci--ls--toggle--li--list-icon"> <a data-id="list" href="javascript:void(0);" id="list">List View</a> </li>
        </ul>
      </div>

      <!-- For testing media query. Delete once testing is complete-->
      <p style="padding-left:20px"></p>
      <!-- For testing media query. Delete once testing is complete -->

      <!-- TRENDING TOPICS (START) -->

      <div class="ibm_cci--sk ibm_cci--sk__mt">
        <ul class="ibm_cci__ml" id="ibm_cci__ml">
          <li class="ibm_cci__ml_t">
            <!-- add class="ibm_cci-clicked" on click in <p> and  -->
            <p id="ibm_cci__ml_t-js" class="ibm_cci-clicked">
              <a href="#" name="all" class="ibm_cci-voices-tt-text">All trending topics: </a>
            </p>
          </li>

          <!-- Append the Trending List over here using jsRender -->

        </ul>
      </div>

      <!-- TRENDING TOPICS (END) -->

      <div class="ibm_cci--sr">
        <p class="ibm_cci-toggleDisplay">Results found: </p>
      </div>
    </div>
  </div>
  <!-- LEADSPACE_END -->

  <!-- CONTENT_NAV_BEGIN -->
  <!-- CONTENT_NAV_END -->

  <div id="ibm-pcon" class="ibm_cci__ibm-pcon">
    <!-- CONTENT_BEGIN -->
    <div id="ibm-content" class="ibm_cci__ibm-content">
      <!-- TITLE_BEGIN -->

      <!-- <div id="ibm-content-head"></div> -->

      <!-- TITLE_END -->
      <!-- CONTENT_BODY -->
      <div id="ibm-content-body">
        <div id="ibm-content-main">

          <!-- IBM VOICES SEARCH RESULTS DIV (BEGIN)  -->
          <div class="ibm-band ibm_cci__ibm-band"> </div>
          <!-- IBM VOICES SEARCH RESULTS DIV (END) -->

          <!-- VOICES LIST/GRID VIEW (START) -->
          <div id="ibm_cci-widget-js" class="ibm-columns ibm-sortable ibm_cci-gv__modifier">

            <!-- JSRENDER TEMPLATE INJECTED HERE -->

          </div>
          <!-- VOICES LIST/GRID VIEW (END) -->

        </div>
        <!-- CONTENT_BODY_END -->
      </div>
    </div>

    <!-- CONTENT_END -->
    <!-- NAVIGATION_BEGIN -->
    <!-- <div id="ibm-navigation"></div> -->
    <!-- NAVIGATION_END -->
  </div>
  <!--IBM Web Merchandising Module-->
  <!-- <div id="ibm-related-content">
    <div id="ibm-merchandising-module">
    </div>
  </div>  -->
  <!-- FOOTER_BEGIN -->
  <div id="ibm-footer-module"></div>
  <div id="ibm-footer">
    <h2 class="ibm-access">Footer links</h2>
    <ul>
      <li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
      <li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
      <li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
      <li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
    </ul>
  </div>
  <!-- FOOTER_END -->
</div>
<div id="ibm-metrics">
  <script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">//</script>
</div>
    <!-- GO TO TOP -->
    <!-- <a href="javascript:void(0);" alt="go to top of the page" id="ibm_cci-gototop-js" class="ibm_cci-gototop">Back to Top</a> -->
</body>
</html>
