/*
 Name: "Project name"
 URI: "File location on live site"
 Description: "CSS Customization Stylesheet for "Project name"
 Author: "Developer name and e-mail address"
 Version: 1.0
 Date: "Date of file edits" (e.g. July 30, 2013)
 
 Note:
   Add "-adapt" suffix to elements that change under different grids
   Use "ibm_cc-" prefix for site specific custom code
*/

