/*
 NAME: "PROJECT NAME"
 URI: "FILE LOCATION ON LIVE SITE"
 DESCRIPTION: "CSS CUSTOMIZATION STYLESHEET FOR "PROJECT NAME"
 AUTHOR: "DEVELOPER NAME AND E-MAIL ADDRESS"
 VERSION: 1.0
 DATE: "DATE OF FILE EDITS" (E.G. JULY 30, 2013)
 
 NOTE:
   ADD "-ADAPT" SUFFIX TO ELEMENTS THAT CHANGE UNDER DIFFERENT GRIDS
   USE "IBM_CC-" PREFIX FOR SITE SPECIFIC CUSTOM CODE
*/
/* CUSTOM FONT LIST FOR VOICES (BEGIN) */
/* LEADSPACE OVERIDES (BEGIN) */
.ibm-landing-page #ibm-leadspace-head {
  background: none;
  border-bottom: none; }

.ibm-landing-page #ibm-leadspace-head.ibm-alternate.ibm-cc-new-min-height {
  min-height: 127px;
  _height: 127px; }
  .ibm-landing-page #ibm-leadspace-head.ibm-alternate.ibm-cc-new-min-height #ibm-leadspace-body {
    padding: 0;
    min-height: 127px; }

.ibm-landing-page #ibm-leadspace-head.ibm-alternate.ibm-cc-new-min-height #ibm-leadspace-body h1 {
  float: left;
  width: auto;
  padding: 0; }
.ibm-landing-page #ibm-leadspace-head.ibm-alternate.ibm-cc-new-min-height #ibm-leadspace-body p {
  float: left;
  width: auto;
  padding: 0; }

/* LEADSPACE OVERIDES (END) */
/* LEADSPACE DEFAULTS (BEGIN) */
.leadspace--defaults, .ibm-cc--leadspace--logo, .ibm-cc--leadspace--search, .ibm-cc--leadspace--toggle {
  float: left;
  margin: 40px 0;
  padding: 0 0 0 20px; }

/* LOAD SPRITE IMAGE DEFAULT (BEGIN) */
.mysprite, .ibm-landing-page #ibm-leadspace-head.ibm-alternate #ibm-leadspace-body h1, .ibm-cc--leadspace--toggle ul.ibm-cc--leadspace--toggle--ul li a {
  background: url("../i/ibm-voices-sprite.png") no-repeat;
  line-height: 0;
  overflow: hidden;
  border: 0;
  display: block;
  width: 600px;
  height: 200px; }

.ibm-landing-page #ibm-leadspace-head.ibm-alternate #ibm-leadspace-body h1 {
  font-size: 0;
  color: white; }

/* LEADSPACE LOGO BLOCK (BEGIN) */
.ibm-cc--leadspace--logo {
  width: 300px; }

/* LEADSPACE LOGO BLOCK H1 (BEGIN) */
.ibm-landing-page #ibm-leadspace-head.ibm-alternate #ibm-leadspace-body .ibm-cc--leadspace--logo h1.ibm-cc--h1__modifyer {
  background-position: 0 0;
  width: 223px;
  height: 49px;
  /* LEADSPACE LOGO BLOCK H1 A (BEGIN) */ }
  .ibm-landing-page #ibm-leadspace-head.ibm-alternate #ibm-leadspace-body .ibm-cc--leadspace--logo h1.ibm-cc--h1__modifyer a {
    display: block;
    width: 223px;
    line-height: 49px;
    color: white; }

/* LEADSPACE SEARCH BLOCK (BEGIN) */
.ibm-cc--leadspace--search {
  width: 460px; }
  .ibm-cc--leadspace--search form input.ibm-cc-search--field {
    width: 395px;
    height: 28px;
    -webkit-box-shadow: 2px 2px 8px 2px #f6f6f6 inset;
    -moz-box-shadow: 2px 2px 8px 2px #f6f6f6 inset;
    box-shadow: 2px 2px 8px 2px #f6f6f6 inset;
    font-size: 1.0em;
    font-family: Arial, "serif", sans-serif, Helvetica;
    font-weight: normal;
    padding-left: 10px;
    color: #666;
    padding-right: 30px;
    border: 1px solid #DDD;
    margin-top: 5px; }
  .ibm-cc--leadspace--search form input.ibm-cc-search--icon {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    left: -30px;
    opacity: 0.5; }
    .ibm-cc--leadspace--search form input.ibm-cc-search--icon:hover {
      opacity: 1; }

/* LEADSPACE TOGGLE BLOCK (BEGIN) */
.ibm-cc--leadspace--toggle {
  width: 140px;
  font-size: 0; }
  .ibm-cc--leadspace--toggle ul.ibm-cc--leadspace--toggle--ul {
    float: right; }
    .ibm-cc--leadspace--toggle ul.ibm-cc--leadspace--toggle--ul li {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0; }
      .ibm-cc--leadspace--toggle ul.ibm-cc--leadspace--toggle--ul li a {
        width: 42px;
        height: 43px; }
    .ibm-cc--leadspace--toggle ul.ibm-cc--leadspace--toggle--ul li.ibm-cc--leadspace--toggle--li--grid-icon a {
      background-position: -87px -50px; }
      .ibm-cc--leadspace--toggle ul.ibm-cc--leadspace--toggle--ul li.ibm-cc--leadspace--toggle--li--grid-icon a.selected {
        background-position: -129px -50px; }
      .ibm-cc--leadspace--toggle ul.ibm-cc--leadspace--toggle--ul li.ibm-cc--leadspace--toggle--li--grid-icon a:hover {
        background-position: -129px -50px; }
    .ibm-cc--leadspace--toggle ul.ibm-cc--leadspace--toggle--ul li.ibm-cc--leadspace--toggle--li--list-icon a {
      background-position: 0 -50px; }
      .ibm-cc--leadspace--toggle ul.ibm-cc--leadspace--toggle--ul li.ibm-cc--leadspace--toggle--li--list-icon a.selected {
        background-position: -43px -50px; }
      .ibm-cc--leadspace--toggle ul.ibm-cc--leadspace--toggle--ul li.ibm-cc--leadspace--toggle--li--list-icon a:hover {
        background-position: -43px -50px; }

/* IBM CONTENT BLOCK OVERIDES (BEGIN) */
#ibm-content.ibm-cc__ibm-content {
  background: none; }
  #ibm-content.ibm-cc__ibm-content #ibm-content-body #ibm-content-main .ibm-band.ibm-cc__ibm-band {
    min-height: 0;
    max-height: 10px; }

/* MODIFYERS FOR MOBILE (BEGIN) */
@media only screen and (min-width: 0) and (max-width: 481px) {
  .leadspace--defaults, .ibm-cc--leadspace--logo, .ibm-cc--leadspace--search, .ibm-cc--leadspace--toggle {
    margin: 10px 0; }

  .ibm-landing-page #ibm-leadspace-head.ibm-alternate.ibm-cc-new-min-height {
    min-height: 100px; }
    .ibm-landing-page #ibm-leadspace-head.ibm-alternate.ibm-cc-new-min-height #ibm-leadspace-body {
      width: 480px;
      min-height: 100px; }

  .ibm-cc--leadspace--search form input.ibm-cc-search--field {
    width: 300px;
    margin-top: 0; }

  .ibm-cc--leadspace--toggle {
    display: none; }

  .ibm-landing-page #ibm-leadspace-head.ibm-alternate #ibm-leadspace-body .ibm-cc--leadspace--logo h1.ibm-cc--h1__modifyer {
    background-position: -224px -38px;
    width: 125px;
    height: 28px; }
    .ibm-landing-page #ibm-leadspace-head.ibm-alternate #ibm-leadspace-body .ibm-cc--leadspace--logo h1.ibm-cc--h1__modifyer a {
      width: 125px;
      line-height: 28px; } }
/* MODIFYERS FOR TABLETS (BEGIN) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .ibm-landing-page #ibm-leadspace-head.ibm-alternate.ibm-cc-new-min-height {
    min-height: 100px; }
    .ibm-landing-page #ibm-leadspace-head.ibm-alternate.ibm-cc-new-min-height #ibm-leadspace-body {
      width: 660px;
      min-height: 100px; }

  .leadspace--defaults, .ibm-cc--leadspace--logo, .ibm-cc--leadspace--search, .ibm-cc--leadspace--toggle {
    margin: 20px 0; }

  .ibm-cc--leadspace--logo {
    width: 200px; }

  .ibm-cc--leadspace--toggle {
    width: 90px; }

  .ibm-cc--leadspace--search {
    width: 290px; }

  .ibm-cc--leadspace--search form input.ibm-cc-search--field {
    width: 227px;
    margin-top: 5px; }

  .ibm-landing-page #ibm-leadspace-head.ibm-alternate #ibm-leadspace-body .ibm-cc--leadspace--logo h1.ibm-cc--h1__modifyer {
    background-position: -224px 0;
    width: 167px;
    height: 37px; }
    .ibm-landing-page #ibm-leadspace-head.ibm-alternate #ibm-leadspace-body .ibm-cc--leadspace--logo h1.ibm-cc--h1__modifyer a {
      width: 167px;
      line-height: 37px; } }
