---
title: IBM Social Business in Action
description: 'See how social businesses empower people and enable teams to be more engaged, transparent and nimble through collaboration and knowledge sharing.'
keywords: 'social business model'
tab: 'Customer stories'
---

				<div class="ibm-columns">
					<div class="ibm-col-1-1">
						<p>Main content</p>
					</div>
				</div>