---
title: IBM Social Business
description: 'Becoming a social business drives real business value and helps organizations gain competitive advantages in today’s social marketplace.'
keywords: 'social business software'
tab: Why social business
---
				<div class="ibm-columns">
					<div class="ibm-col-1-1">
						<p>Main content</p>
					</div>
				</div>