.watson-mdc {

	background: #000;
	a {
		color: inherit;
	}

	h1 {
		font: 74px/1 $font-bold-italic;
		color: #FFF;

	}

	h2 {
		font: 24px/1 $font-bold;
	}

	h3 {
		font: 14px/1 $font-bold;
	}


	p {
		font: 18px/1 $font-regular;
		color: #fff;
		margin: 30px 0 0 0px;
	}

	ul {
		li {
			list-style: none;
			padding: 0;
		}
	}



	/** SCENES **/

	#hero {
		height: 650px;
		position: relative;
		overflow: hidden;
		background: #000 url(../img/mdc/MDC-poster.jpg) no-repeat 0 0;
		background-size: cover;

		.content {
			padding-top: 136px;
			.slanted-header {
				display: block !important;
				color: #fff;

				.slanted-header-inner {
					h1 {
						margin: -17px 0 0 0px;
					}
					h2 {					
						margin: 30px 0 0 0px;
					}


				}
			}
		}
	}

	#mdc-finalists {
		overflow: hidden;
		// .ibm-columns.info {
		// 	width: inherit;
		// }
		.ibm-columns {
			width: inherit;
			padding: 0;
			.ibm-col-6-2 {
				height: 300px;
				background: #222;
				position: relative;
				margin: 10px;
				cursor: pointer;
				.ibm-container { padding: 28px;}
				img { width: 100%;}
				.expand {
					position: absolute;
					left: 30px;
					bottom: 10px;
					-webkit-transition: all 500ms;
					-ms-transition: all 500ms;
					transition: all 500ms;
				}
				.expand:before {
					font: normal 48px $font-light;
					content: "+";
					color: #b3b3b3;


				}
				.expand.open {
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
				}
				.ibm-container {
					border: none;
					margin: 0;
					padding: 30px;
					

					h3 {
						font-size: 14px;
						margin-bottom: 10px;
						color: #FFF;
					}

					h2 {
						font-size: 24px;
						color: #FFF;
					}

					p {
						margin-top: 20px;
						font-size: 14px;
						color: #FFF;

					}
				}
			}
		}
	}

	#co_details {
		
		overflow: hidden;
		background: #FFF;
		padding-bottom: 40px;
		float: left;
		width: 100%;
		position: relative;
		display: none;

		.close_btn {
			position: absolute;
			right: 90px;
			top: 0;
			z-index: 2;
			font-family: $font-light;
			font-size: 90px;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			cursor: pointer;
			}
			.close_btn:before {
				content: "+";
				color: #222;
			}
		.content {
			padding: 45px 0;
			h2 {
				font-size: 18px;
				color: #222;
			}
			h1 {
				font: 60px $font-bold;
				color: #222;
			}
			.ibm-col-2-1 {
				width: 450px;
				margin: 0;
			}
			p {
				color: #222;
				line-height: 24px;

				A{
					color: #222;
					
					text-decoration: none;
					line-height: 30px;
					
					
					span.co_link {
						font-family: $font-regular;
						float: left;
						text-decoration: underline;
					}
				}
				A.ibm-callaction-link:before {
					color: #222;
				}
			}

			ol{
				list-style: none;
				float: right;
				margin: 0;
				li {
					float: left;
					margin-right: 10px;
					a { 
						text-decoration: none;
						display: inline-block;
						/* float: left; */
						width: 30px;
						font-size: 30px;
					}
					a:before {
						margin: 0;
						color: #222;
					}


				}
			}

		}
	}
}

summary.no-touch:hover {
	color: #42b3fd
}

/**
 * break points
 */
@media screen and (max-width: 1100px) {
	.watson-mdc {

		#hero {
			.content {
				padding-top: 90px;
				.slanted-header {
					padding-right: 50px;
					.slanted-header-inner {
						p {
							width: 80%;
						}
					}
				}
			}

		}
	}
}

@media screen and (max-width: 960px) {
	.watson-mdc {

		#hero {
			.content {
				padding-top: 90px;
				.slanted-header {
					.slanted-header-inner {
						h1 {
							font-size: 48px;
						}
					}
				}
			}

		}
	}
}

@media screen and (max-width: 800px) {
	.watson-mdc {
		h2 {
			font-size: 58px;
		}
		h3 {
			font-size: 25px;
		}
		p {
			font-size: 16px;
		}

		#hero {
			height: 552px;
			.content {
				.slanted-header {
					padding-right: 0;
					.slanted-header-inner {
						h1 {
							font-size: 48px;
							margin-right: 25px;
						}
						h2 {
							font-size: 16px;
						}
						p {
							font-size: 16px;
							width: 65%;
						}
					}
				}
			}

		}

	}
}

@media screen and (max-width: 640px) {

	.watson-mdc #hero {
		height: 532px;
		.content {
			.slanted-header {
				padding-right: 0;
				.slanted-header-inner {
					h1 {
						font-size: 34px;
					}

				}
			}
		}
	}
}

@media screen and (max-width: 579px) {

	.watson-mdc {

		.content {


		}

		#hero {

			.content {
				.slanted-header {

					.slanted-header-inner {
						h1 {
							font-size: 24px;
						}
						p {
							width: 90%;
							font-size: 16px;
						}

					}
				}
			}

		}
	}
}
