.watson-news {
	#hero {
		height: 810px;
		position: relative;
		overflow: hidden;
		background: #000;

		video {
			width: 100%;
			height: 100%;
		}

		.slanted-header {
			display: block !important;
			position: absolute;
			top: auto;
			left: auto;
			right: auto;
			bottom: 30%;
			width: 100%;
			margin: 0 auto;
			color: #fff;
			-webkit-transform: skew(0deg, -5deg);
			-moz-transform: skew(0deg, -5deg);
			-ms-transform: skew(0deg, -5deg);
			-o-transform: skew(0deg, -5deg);
			transform: skew(0deg, -5deg);

			.slanted-header-inner {
				max-width: 980px;
				margin: 0 auto;

				h1 {
					font: 143px/1 $font-bold-italic;
					letter-spacing: -0.05em;
					line-height: 0.9em;
					text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
					font-weight: 300;
				}
				h2 {
					font: 41.8px $font-bold-italic;
					margin-right: 4%;
					margin-top: 1%;
					text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
				}

			}
		}
		.slanted-header.always-show {
			display: block !important;
		}
	}
	#hero.no-video {
		background: #000 url(../video/watson_timelapse.jpg) no-repeat 0 0;
		background-size: cover;

		video {
			display: none;
		}
	}

	/** NEWS CAPTION **/
	#news-caption {

		background: #1e96fc;
		background-image: -webkit-gradient(linear, 160deg, from(#69cefe), to(#1e96fc));
		background-image: -webkit-linear-gradient(160deg, #69cefe, #1e96fc);
		background-image: -moz-linear-gradient(160deg, #69cefe, #1e96fc);
		background-image: -o-linear-gradient(160deg, #69cefe, #1e96fc);
		background-image: -ms-linear-gradient(160deg, #69cefe, #1e96fc);
		background-image: linear-gradient(160deg, #69cefe, #1e96fc);

		p {
			max-width: 1000px;
			margin: 0 auto;
			padding: 10px 40px !important;

			font-size: 31px;
			font-family: $font-regular;
			line-height: 1.4;
			color: #000;
		}
	}

	/** INSTAGRAM **/
	#news-instagram {
		height: 420px;
		/**instagram slideshow**/
		/*cascading from slideShow.css*/
		#instagramSlideShow {
			overflow: hidden;
			height: 420px;
			.prev,
			.next {
				background: rgba(0, 0, 0, 0.2);
				padding: 15px 22px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				color: #fff;
				top: 45%;
				font-size: 40px;
			}
			.prev {
				left: 40px;
			}
			.next {
				right: 40px;
			}
			.next:hover,
			.prev:hover {
				color: rgba(0, 0, 0, 0.4);
				background: rgba(255, 255, 255, 0.5);
			}
			ul {
				li {
					width: 420px;
					height: 420px;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}

		}
	}

	/** DIGS **/
	#news-digs {
		height: 2000px;
		background: #000;

		.content {
			max-width: none;
			padding: 0;
		}

		/*inherits sprite-row scss*/
		.sprite-row {
			>* {
				margin: 90px 0 0;
			}

			h1 {
				position: absolute;
				top: 0;
				width: 100%;
				color: #69cefe;
				font-size: 100px;
				line-height: 1;
				text-align: center;
				z-index: 1;
			}

			.sprite-callout {
				z-index: 1;
				width: 25%;

				h3 {
					font-size: 21px;
				}
				p {
					font-size: 20px;
					line-height: 1.3em;
				}
			}

			#building-sprite-animation {
				position: absolute;
				top: 150px;
				left: 50%;
				margin-left: -353px;
				width: 676px;
				height: 495px;
				background: url('../img/sprites/building.jpg') repeat scroll 0 0;
				background-size: 16900px 990px;
				z-index: 0;
			}

			#design-studio {
				top: 154px;
				left: 10%;
			}
			#incubator {
				top: 403px;
				left: 15%;
			}
			#solution-center {
				top: 192px;
				right: 8%;
			}
		}

	}
	#news-digs.no-fixed {
		height: 800px;
		.sprite-row {
			position: relative !important;
		}

		#building-sprite-animation {
			background: url('../img/news/building-mobile.jpg') no-repeat center top;
			background-size: cover;
			background-position: center top !important;
		}
	}

	/** BIO **/
	#news-bio {
		#map-canvas {
			width: 100%;
			height: 100%;
		}
		.map-shim {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.watson-mobile-placeholder {
		display: none;
		margin: 0 auto;
	}
}

@media screen and (max-width: 900px) {
	.watson-news {

		#news-digs {
			.sprite-row {
				h1 {
					font-size: 75px;
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.watson-news {
		#hero {
			height: 562px;

			.slanted-header {
				.slanted-header-inner {
					width: 680px;

					h1 {
						font-size: 70px;
					}

					h2 {
						font-size: 22px;
					}
				}
			}
		}

		#news-caption {
			p {
				font-size: 26px;
			}
		}

		#news-digs {
			.sprite-row {
				h1 {
					font-size: 55px;
				}

				.sprite-callout {
					width: 28%;

					h3 {
						font-size: 20px;
					}
					p {
						font-size: 19px;
					}
				}
			}
		}

		#news-apply {
			.span-row {
				h2 {
					font-size: 50px;
				}

				.body {
					p {
						font-size: 16px;
					}
				}
			}
		}
		#news-instagram {
			height: 315px;
			#instagramSlideShow {
				height: 315px;
				.prev,
				.next {
					padding: 15px 20px;
					font-size: 27px;
					line-height: 23px;
				}
				.prev {
					left: 30px;
				}
				.next {
					right: 30px;
				}
				ul {
					li {
						width: 315px;
						height: 315px;
					}
				}

			}
		}

	}
}

@media screen and (max-width: 640px) {
	.watson-news {
		#hero {
			height: 405px;

			.watson-mobile-placeholder {
				height: 405px;
			}

			.slanted-header {
				-webkit-transform: none;
				-moz-transform: none;
				-ms-transform: none;
				-o-transform: none;
				transform: none;

				.slanted-header-inner {
					width: 75%;

					h1 {
						font-size: 58px;
					}
				}
			}
		}

		#news-caption {
			p {
				font-size: 18px;
			}
		}

		#news-digs {
			.sprite-row {
				.sprite-callout {
					top: 100px !important;
					width: 300px;

					h3 {
						font-size: 18px;
					}
					p {
						font-size: 17px;
					}
				}
				h1 {
					font-size: 50px;
				}
			}
		}
	}
}

@media screen and (max-width: 579px) {
	.watson-news {
		#hero, #hero.no-video {
			background: #000 url(../img/news/bg-mobile-top.jpg) no-repeat center top;
			background-size: auto;

			video {
				display: none;
			}
		}

		#news-bio {
			.column.text {
				h2 {
					font-size: 40px;
				}
				p {
					font-size: 16px;
					line-height: 19px;
				}
			}
		}

		#news-apply, #watson-careers {
			.span-row {
				h2 {
					float: none;
					width: 100%;
					font-size: 40px;
					padding-right: 0;
				}

				.body {
					float: none;
					width: 100%;

					p {
						margin-top: 15px;
					}
				}
			}
		}
		#news-instagram {
			height: 250px;
			#instagramSlideShow {
				height: 250px;
				.prev,
				.next {
					padding: 15px 20px;
					font-size: 23px;
					line-height: 20px;
				}
				.prev {
					left: 25px;
				}
				.next {
					right: 25px;
				}
				ul {
					li {
						width: 250px;
						height: 250px;
					}
				}

			}
		}
		.scene#news-digs {
			height: 800px;
			.sprite-row {
				padding-top: 40px;

				h1 {
					position: relative;
					top: auto;
					left: auto;
					margin: 0 auto 40px;
				}
				#building-sprite-animation {
					position: relative;
					top: auto;
					left: auto;
					width: 210px;
					height: 157px;
					margin: 0 auto;
				}
				.sprite-callout {
					top: auto !important;
					width: 280px;
					margin: 20px auto 0;

					h3 {
						margin-bottom: 0;
					}

					p {
						font-size: 16px;
					}
				}
			}
			.sprite-row.fixed {
				position: relative !important;
			}
		}
	}
}

/** APPLY **/
#news-apply, #watson-careers {
	.span-row {
		.row-wrap {
			max-width: 980px;
			margin: 0 auto;
			text-align: left;
		}

		h2 {
			position: relative;
			float: left;
			width: 60%;

			font-size: 72px;
			line-height: 1;
			padding-right: 5%;
			box-sizing: border-box;
		}

		.body {
			float: right;
			width: 31%;

			p {
				position: relative;
				font-size: 20px;
				font-family: $font-regular;
				margin-bottom: 25px;
			}
			.btn-black {
				display: inline-block;
				height: 60px;
				padding: 0 20px;
				font: 20px/60px $font-bold-italic;
				color: white;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				white-space: nowrap;
				background-color: #151515;
				text-decoration: none;
			}
			.btn-black:hover {
				background-color: #151515;
			}
			.btn-black:hover {
				background-color: #69cefe;
			}
		}
	}
}



