.watson-work {
	h4 {
		font-size: 32px;
		font-weight: bold;
		font-style: italic;
		margin-bottom: 10px;
	}
	.accordion-body {
		h5 {
			margin: 0 0 10px 0;
		}
		p {
			font-size: 17px;
			margin: 0 0 20px;
			span {
				font-family: $font-bold;
			}

			a {
				font-family: $font-bold;
				color: #333;
			}
		}
	}


	

	.ibm-col-6-2 {
		margin-bottom: 25px;

		h5 {
			font-size: 17px;

		}

		p {
			font-size: 14px;
		}

		.ibm-thumbnail {
			outline: none;
			margin-bottom: 10px;
		}
	}

	#work-hero {
		height: 732px;
		overflow: hidden;
		background: transparent url(../img/work/hero.jpg) no-repeat center 0;
		background-size: cover;
		h1, p {
			color: #fff;
		}
		h1 {
			margin-top: 160px;
			font-size: 172px;
			line-height: .85;
		}
		p {
			margin-top: 20px;
			font: normal 22px/1.2em $font-light-italic;
			color: #aaef32;
			strong {
				font-family: $font-bold-italic;
			}

			a {
				font: normal 22px $font-bold;
				text-decoration: none;
				color: #aaef32;
				line-height: 22px;
				margin-bottom: 5px;
				span {
					font-size: 17px;
				}
			}

			a:before {
				color: #aaef32;
			}
				
		}
	}
	ul li:before {
		color: white;
	}
	ul li:hover:before {
		color: black;
	}

	/*workSlideShow styles*/
	#workSlideShow {
		font-size: 10px;
		.prev,
		.next {
			background: rgba(0, 0, 0, 0.2);
			padding: 15px 35px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			color: #fff;
			top: 70%;
			font-size: 40px !important;
		}
		.prev {
			right: 150px;
		}
		.next {
			right: 40px;
		}
		.next:hover,
		.prev:hover {
			color: rgba(0, 0, 0, 0.4);
			background: rgba(255, 255, 255, 0.5);
		}
		ul {
			li.slide {
				img {
					width: 100%;
					position: relative;
					z-index: 1;
				}
				canvas {
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
				}
				.content {
					position: absolute;
					width: 100%;
					top: 0;
					left: 0;
					z-index: 3;
					h1 {
						color: #fff;
						font: 8.5em/0.85 $font-bold-italic;
						text-align: center;
						padding: 8% 0 0 10%;
						width: 100%;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						text-shadow: -3px 3px 0 rgba(0, 0, 0, 0.4);
						text-transform: capitalize;
						text-align: left;
					}
				}
			}
		}
	}
	/*work helping list*/
	#work-thumb-grid {
		ul {
			max-width: 960px;
			display: block;
			overflow: hidden;
			list-style-type: none;

			margin: 0 auto;
			li {
				width: 460px;
				min-height: 460px;
				padding-bottom: 20px;
				float: left;
				padding: 0 10px 0 10px;
				margin: 0;
				overflow: hidden;
				img {
					width: 100%;
					height: auto;
				}
				h3 {
					color: #69cefe;
					padding: 10px 0 15px 0;
					font: 18px/1 $font-bold-italic;
					text-transform: capitalize;
				}
				p {
					color: #fff;
					a {
						color: #69cefe;
						padding: 10px 0 15px 0;
						font: 18px/1 $font-bold-italic;
						text-transform: capitalize;
						text-decoration: none;
					}
				}
			}
			li:last-child {
				min-height: initial;
			}
			li:before {
				content: '';
			}
			;
		}
	}

	/*accordion modules*/
	#work-healthcare-head {
		background-color: #81e060;
	}
	#work-finance-head {
		background-color: #40c6a8;
	}
	#work-research-head {
		background-color: #12b5dc;
	}

	#work-customer-engagement-body { background: #d5f799;}
	#work-healthcare-body { background: #c0f0b0;}
	#work-finance-body{ background: #a0e3d4;}
	#work-research-body{ background: #89daee;}

	/*work-caption*/
	#work-caption {
		background: #000 url('../img/work/bg-smaller-faster.jpg') no-repeat scroll 50% 50%;

		h3 {
			color: #8cec59;
			padding-bottom: 30px;
			width: 100%;
			font-size: 62px;
			line-height: 1;
		}
		p {
			color: #fff;
			font: normal 20px $font-regular;

		}
		#quoteSlideShow {
			padding-top: 30px;
			.next,
			.prev {
				font-size: 36px;
				bottom: 0;
				color: #80ccef;
			}
			.next:hover,
			.prev:hover {
				color: #fff;
			}
			.next {
				right: 0;
			}
			.prev {
				left: 0;
			}
			ul {
				li {
					height: 200px;
					padding-top: 50px;
					span.quote {
						font: 24px/1.1 "LubalinDemiIBM", Times, serif;
						color: #69cefe;
						padding: 0 180px 40px;
						display: block;
						position: relative;
					}
					span.quote:before {
						content: '“';
						position: absolute;
						left: -15px;
						top: -71px;
						font-size: 380px;
						zoom: 1;
						opacity: 0.5;
						filter: alpha(opacity=50);
					}
					span.quote:after {
						content: '”';
						position: absolute;
						right: -10px;
						left: auto;
						top: -71px;
						font-size: 380px;
						zoom: 1;
						opacity: 0.5;
						filter: alpha(opacity=50);
					}
					div.name {
						padding-left: 180px;
					}
				}
			}
		}
	}
}

/**
 * break points
 */
@media screen and (max-width: 800px) {
	.watson-work {
		.content {
			max-width: 680px;
		}
		#work-hero {
			height: 500px;
			h1 {
				margin-top: 132px;
				font-size: 108px;
			}
			p {
				font-size: 16px;
			}
		}
		/*workSlideShow styles*/
		#workSlideShow {
			font-size: 10px;
			.prev,
			.next {
				padding: 5px 15px;

				font-size: 20px !important;
			}
			.prev {
				right: 95px;
			}
			.next {
			}
			ul {
				li.slide {
					.content {
						h1 {
							font-size: 60px;
						}
					}
				}
			}
		}
		#work-thumb-grid {
			ul {
				li {
					padding-bottom: 20px;
				}
			}
		}
		#work-caption {
			#quoteSlideShow {
				ul {
					li {
						height: 400px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 640px) {
	.watson-work {
		.content {
			max-width: 680px;
		}
		#work-hero {
			h1 {
				margin-top: 132px;
				font-size: 72px;
			}
			p {
				font-size: 16px;
			}
		}
		/*workSlideShow styles*/
		#workSlideShow {
			font-size: 10px;
			.prev,
			.next {

			}
			.prev {
			}
			.next {
			}
			ul {
				li.slide {
					.content {
						h1 {
							font-size: 30px;
						}
					}
				}
			}
		}

		#work-caption {
			background: #000 url('../img/work/bg-smaller-faster.jpg') no-repeat scroll 50% 50%;

			h3 {
				padding-top: 20px;
				width: 100%;
				font-size: 50px;
			}
			p {
				color: #fff;
			}
			#quoteSlideShow {
				padding: 0 20px 10px 20px;
				.next,
				.prev {
					visibility: hidden;
				}
				.indicator {
					visibility: visible;
					font-size: 10px;
					bottom: 20px;
				}
				ul {
					li {
						height: 400px;
						padding-top: 50px;
						span.quote {
							font-size: 20px;
							padding: 0 0 40px 0;
						}
						span.quote:before,
						span.quote:after {
							font-size: 20px;
							position: relative;
							right: 0px;
							left: 0px;
							top: 0px;
							bottom: 0;
							opacity: 1;
							filter: alpha(opacity=100);
						}
						div.name {
							padding-left: 0px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 579px) {
	.watson-work {
		.content {
			max-width: 320px;
		}
		#work-hero {
			height: 450px;
			h1 {
				font-size: 62px;
				margin-top: 113px;
			}
		}
		/*workSlideShow styles*/
		#workSlideShow {
			font-size: 10px;
			ul {
				li.slide {
					.content {
						h1 {
							padding: 5% 0 0 10%;
							font-size: 25px;
						}
					}
				}
			}
		}
		/*work helping list*/
		#work-thumb-grid {
			ul {
				width: 280px;

				li {
					width: 280px;
					float: none;

					p {
						margin: 0 40px 0 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.watson-work {
		.content {
			max-width: 300px;
			margin: 0 20px;

		}
		/*work helping list*/
		#work-thumb-grid {
			ul {
				width: 300px;

				li {
					width: 250px;
					float: none;

					p {
						margin: 0 0px 0 0;
					}
				}
			}
		}
	}
}
