// URI: www.ibm.com/common/v17e/[Site]/css/ww_cci.css
// Description: Mainframe50 v17e customization CSS file
// Author: jeffdos@us.ibm.com
// Date: February 19, 2014
//
// Notes:
//   Add "ibm-adapt" class to modules that change under different viewport
//   Use ".ibm_cci-" class prefix for site main page custom code
//   Use ".ibm_story-" class prefix for story page custom code


#ibm-top #ibm-masthead,
#ibm-top #ibm-universal-nav {
	border-bottom: 0;
}

.blueback {
	background: #021428;
	@include background-gradient(background-image,(left, #021428, #082342));	
}

.panel > .ibm-col-6-1 > img { 
	cursor: pointer; cursor: hand;
}

#ibm-content .ibm_cci-header-band {
	margin-top: -1px;
	background: url(../i/header-bg.png) no-repeat 100% 0;
	min-height: 835px;
}

#ibm-content .ibm_cci-site-band {
	padding: 0;
}

.ibm-band {
	background-color: transparent;
}

.ibm-landing-page #ibm-pcon {
	padding: 0;
	margin-bottom: 0;
}

#ibm-content .ibm_cci-site-band p,
#ibm-content .ibm_cci-site-band h1,
#ibm-content .ibm_cci-site-band h2,
#ibm-content .ibm_cci-site-band .ibm-ribbon .ibm-container-body p,
#ibm-content .ibm_cci-site-band .ibm-ribbon .ibm-container-body h2,
#ibm-content .ibm_cci-site-band .ibm-ribbon .ibm-container-body h3 {
	text-shadow: none;
	color: #FFF;	
}

#ibm-content .ibm_cci-site-band h1 {
	font-family: $defaultFont;
	margin-top: 45px;
}

#ibm-content .ibm_cci-site-band h1 span {
	font-family: $defaultHeaderFont;
}

#ibm-top p.ibm_cci-subtitle {
	padding-bottom: 15px;
}

.ibm_cci-subtitle em {
	font-family: $LubalinBook;
	@include px-to-rem(font-size,95px);
	line-height: 80px;
	letter-spacing: 3px;
	font-style: normal;
	color: #FDB42B;
	text-transform: uppercase;
}


#ibm-top a.ibm_cci-btn {
	background: #4B77A6;
}

#ibm-content .ibm_cci-site-band h2 {
	@include px-to-rem(font-size,24px);
}

#ibm-content .ibm_cci-site-band h2 span {
	display: block;
	@include px-to-rem(font-size,44px);
	line-height: 50px;
	text-transform: uppercase;
	font-family: $LubalinBook;
	color: #FDB42B;
}

#ibm-content .ibm_cci-site-band.ibm_cci-z-band .ibm-col-4-2 h2 span {
	text-transform: none;
}

#ibm-content .ibm_cci-header-band p {
	line-height: 30px;
}

#ibm-content .ibm_cci-header-band p.ibm-button-link {
	@include px-to-rem(line-height,21.6px);
}

#ibm-content p {
  padding-bottom: 10px;
}

#ibm-content p.ibm_last {
  padding-bottom: 30px;
}

#ibm-content p.ibm_cci-intro {
	font-family: $LubalinBook;
	padding-bottom: 10px;
}

#ibm-content p.ibm_cci-intro span {
	font-family: $LubalinDemi;
}

#ibm-content p.ibm_cci-call {
	@include px-to-rem(font-size,22px);
}

// ribbon updates
.ibm_cci-progress-band .ibm-ribbon a.ibm-ribbon-next,
.ibm_cci-progress-band .ibm-ribbon a.ibm-ribbon-prev {
	display: none;
}

#ibm-content .ibm-ribbon-nav a {
	background: url(../i/pagination.png) no-repeat 0 0;
}

#ibm-content .ibm-ribbon-nav a:hover {
	background-position: 0 -11px;
}

#ibm-content .ibm-ribbon-nav a.ibm-active {
	background-position: 0 -23px;
}
// ribbon updates


.ibm_cci-progress-band h3 {
	font-family: $LubalinDemi;
	@include px-to-rem(font-size,40px);
	line-height: 50px;
	padding: 30px 0 20px;
}

#ibm-content .ibm_cci-progress-band .ibm-inner-margin h3 ~ p {
	padding-bottom: 20px;
}

// progress ribbon images
#ibm-content .ibm_cci-progress-band .ibm-columns.ibm-cloned,
#ibm_cci-progress1 {
	background: url(../i/progress3.jpg) no-repeat 50% 0;
	min-height: 415px;
}

#ibm_cci-progress2 {
	background: url(../i/progress2.jpg) no-repeat 50% 0;
	min-height: 415px;
}

#ibm_cci-progress3 {
	background: url(../i/progress1.jpg) no-repeat 50% 0;
	min-height: 415px;
}


#ibm-content .ibm_cci-z-band {
	padding-top: 20px;
	background: url(../i/z-bg.png) no-repeat 50% 100%;
	background: url(../i/z-bg1.png) no-repeat 0 100%,
				url(../i/z-bg2.png) no-repeat 100% 100%;
	min-height: 880px;
}

.ibm_cci-ey {
	padding-top: 400px;
}

.ibm-cta-chevron-link:after {
	color: $linkColor;
	font-family: 'iconsIBM';
	font-variant: normal;
	text-transform: none;
	display: inline-block;
	letter-spacing: 4px;
	position: absolute;
	text-decoration: none;
	font-size: $iconSpaceLeft;
	content: "\00a0\f10b\00a0" ;
}

#ibm-top .ibm-ind-link-after a {
	padding-left: 0;
}

#ibm-top .ibm-ind-link-after a:hover {
	text-decoration: underline;
}

#ibm-top .ibm-ind-link-after .ibm-cta-chevron-link:before {
	display: none;
}

#ibm-related-content h2 {
	font-size: 1.3rem;
}


@media only screen and (min-width: 0) and (max-width: 568px) {
	#ibm-content .ibm_cci-header-band,
	#ibm-content .ibm_cci-z-band {
		background: none;
		min-height: inherit;
	}
	
	.ibm_cci-ey {
		padding-top: 0;
	}

	.ibm_cci-subtitle em {
		@include px-to-rem(font-size,70px);
		line-height: 50px;
	}
	
	#ibm-content .ibm_cci-site-band h2 span {
		@include px-to-rem(font-size,40px);		
	}
	
}


@media only screen and (min-width: 569px) and (max-width: 800px) {
	#ibm-content .ibm_cci-header-band {
		background-position: 0 100%;
	}
}

// Story page starts here
.ibm-story-pcon {
	background: url("../i/story-header-bg.png") no-repeat scroll right top transparent !important;
	margin-top: -1px !important;
	padding-top: 16px !important;
}

.ibm-story-content {
	background: url("../i/story-header-bg2.png") no-repeat scroll left bottom transparent !important;
}

.ibm-live-assistance-list {
	font-size: 1.5rem !important;
}

#ibm-com #ibm-top .section-header.title {
	font-size: 2.6rem !important;
	padding-bottom: none !important;
}

.ibm-landing-page #ibm-leadspace-body.story {
	background: url(../i/story-hero1.jpg) repeat-x 50% 0px;
	padding: 0 ! important;
	min-height: 202px;
	width: auto !important;
}

.ibm-landing-page #ibm-leadspace-body.story h1 {
	font-family: LubalinBook; 
	font-size: 4.6rem; 
	color: white; 
	padding: 230px 0 10px 30px;
}

#ibm-content .ibm-story p {
	font-family: HelvLightIBM; 
	font-size: 1.7rem;
	padding: 10px 0 20px 0;
}

.ibm-pull-quote {
	padding: 25px 50px;
}

#ibm-content ul.ibm-portrait-module-list p {
	font-family: HelvLightIBM; 
	font-size: 1.5rem;	
}

#ibm-content li.ibm-portrait-module-list {
	padding-bottom: 60px;
}

//Story index page start here
.ibm-story-leadspace-head{
	background: #06172B !important;
}
.ibm-story-leadspace-body{
	background: #06172B !important;
}

.ibm-landing-page #ibm-leadspace-body.ibm-story-leadspace-body h1 {
	font-size: 3.6rem; 
	color: white; 
	font-family: "HelveticaNeue","HelvIBM",Arial,sans-serif
}

.ibm-landing-page #ibm-leadspace-body.ibm-story-leadspace-body h1 span{
	font-size: 8rem; 
	color: #CDAF3F;
	text-shadow: none !important;	
}

.ibm-landing-page #ibm-leadspace-body.ibm-story-leadspace-body p {
	font-size: 1.6rem; 
	color: white; 
	text-shadow: none !important;
	width: 500px;
}

.ibm-story-LP {
	background: url("../i/story-header-bg.png") no-repeat scroll right center transparent !important;
	margin-top: -1px !important;
	padding-top: 16px !important;
}

#ibm-story-graphic {
	border: 1px solid;
    height: 500px;
    position: absolute;
    top: 260px;
    width: 335px;
}

#story .ibm-columns {
	margin-top: 25px !important;
	margin-bottom: 25px !important;
}

#story .ibm-columns .ibm-col-4-2 {
	margin: 0 !important;
}

#story .ibm-columns.blue {
	background: #031730;
}

#story .ibm-columns.purple {
	background: #811D7D;
}

#story .ibm-columns.red {
	background: #D91F2C;
}

#story .ibm-columns .ibm-col-4-2 p a.ibm-forward-link{
	color: #FFFFFF !important;
	text-shadow: none !important;
}

p.title {
	color: #FFFFFF !important;
	text-shadow: none !important;
	font-size: 3.6rem;
	line-height: 3.592rem;
}

#story .ibm-columns .ibm-col-4-2.text-left {
	width: 470px !important;
}

#story .ibm-columns .ibm-col-4-2.image-right {
	width: 450px !important;
}

#story .ibm-columns .ibm-col-4-2.text-right {
	width: 450px !important;
}

#story .ibm-columns .ibm-col-4-2.image-left {
	width: 470px !important;
}