// URI: www.ibm.com/common/v17e/[Site]/css/ww_cci.css
// Description: Mainframe50 v17e customization CSS file
// Author: jeffdos@us.ibm.com
// Date: February 19, 2014
//
// Notes:
//   Add "ibm-adapt" class to modules that change under different viewport
//   Use ".ibm_cci-" class prefix for site specific custom code


#ibm-top #ibm-masthead,
#ibm-top #ibm-universal-nav {
	border-bottom: 0;
}

#ibm-content {
	background: #021428;
	@include background-gradient(background-image,(left, #021428, #082342));	
}

#ibm-content .ibm_cci-header-band {
	margin-top: -1px;
	background: url(../i/header-bg.png) no-repeat 100% 0;
	min-height: 835px;
}

#ibm-content .ibm_cci-site-band {
	padding: 0;
}

.ibm-band {
	background-color: transparent;
}

.ibm-landing-page #ibm-pcon {
	padding: 0;
	margin-bottom: 0;
}

#ibm-content .ibm_cci-site-band p,
#ibm-content .ibm_cci-site-band h1,
#ibm-content .ibm_cci-site-band h2,
#ibm-content .ibm_cci-site-band .ibm-ribbon .ibm-container-body p,
#ibm-content .ibm_cci-site-band .ibm-ribbon .ibm-container-body h2,
#ibm-content .ibm_cci-site-band .ibm-ribbon .ibm-container-body h3 {
	text-shadow: none;
	color: #FFF;	
}

#ibm-content .ibm_cci-site-band h1 {
	font-family: $defaultFont;
	margin-top: 45px;
}

#ibm-content .ibm_cci-site-band h1 span {
	font-family: $defaultHeaderFont;
}

#ibm-top p.ibm_cci-subtitle {
	padding-bottom: 15px;
}

.ibm_cci-subtitle em {
	font-family: $LubalinBook;
	@include px-to-rem(font-size,95px);
	line-height: 80px;
	letter-spacing: 3px;
	font-style: normal;
	color: #FDB42B;
	text-transform: uppercase;
}


#ibm-top a.ibm_cci-btn {
	background: #4B77A6;
}

#ibm-content .ibm_cci-site-band h2 {
	@include px-to-rem(font-size,24px);
}

#ibm-content .ibm_cci-site-band h2 span {
	display: block;
	@include px-to-rem(font-size,44px);
	line-height: 50px;
	text-transform: uppercase;
	font-family: $LubalinBook;
	color: #FDB42B;
}

#ibm-content .ibm_cci-site-band.ibm_cci-z-band .ibm-col-4-2 h2 span {
	text-transform: none;
}

#ibm-content .ibm_cci-header-band p {
	line-height: 30px;
}

#ibm-content .ibm_cci-header-band p.ibm-button-link {
	@include px-to-rem(line-height,21.6px);
}

#ibm-content p {
  padding-bottom: 10px; }

#ibm-content p.ibm-last{
  padding-bottom: 30px; }

#ibm-content p.ibm_cci-intro {
	font-family: $LubalinBook;
	padding-bottom: 10px;
}

#ibm-content p.ibm_cci-intro span {
	font-family: $LubalinDemi;
}

#ibm-content p.ibm_cci-call {
	@include px-to-rem(font-size,22px);
}

// ribbon updates
.ibm_cci-progress-band .ibm-ribbon a.ibm-ribbon-next,
.ibm_cci-progress-band .ibm-ribbon a.ibm-ribbon-prev {
	display: none;
}

#ibm-content .ibm-ribbon-nav a {
	background: url(../i/pagination.png) no-repeat 0 0;
}

#ibm-content .ibm-ribbon-nav a:hover {
	background-position: 0 -11px;
}

#ibm-content .ibm-ribbon-nav a.ibm-active {
	background-position: 0 -23px;
}
// ribbon updates


.ibm_cci-progress-band h3 {
	font-family: $LubalinDemi;
	@include px-to-rem(font-size,40px);
	line-height: 50px;
	padding: 30px 0 20px;
}

#ibm-content .ibm_cci-progress-band .ibm-inner-margin h3 ~ p {
	padding-bottom: 20px;
}

// progress ribbon images
#ibm-content .ibm_cci-progress-band .ibm-columns.ibm-cloned,
#ibm_cci-progress1 {
	background: url(../i/progress3.jpg) no-repeat 50% 0;
	min-height: 415px;
}

#ibm_cci-progress2 {
	background: url(../i/progress2.jpg) no-repeat 50% 0;
	min-height: 415px;
}

#ibm_cci-progress3 {
	background: url(../i/progress1.jpg) no-repeat 50% 0;
	min-height: 415px;
}


#ibm-content .ibm_cci-z-band {
	padding-top: 20px;
	background: url(../i/z-bg.png) no-repeat 50% 100%;
	background: url(../i/z-bg1.png) no-repeat 0 100%,
				url(../i/z-bg2.png) no-repeat 100% 100%;
	min-height: 880px;
}

.ibm_cci-ey {
	padding-top: 400px;
}



.ibm-cta-chevron-link:after {
	color: $linkColor;
	font-family: 'iconsIBM';
	font-variant: normal;
	text-transform: none;
	display: inline-block;
	letter-spacing: 4px;
	position: absolute;
	text-decoration: none;
	font-size: $iconSpaceLeft;
	content: "\00a0\f10b\00a0" ;
}

#ibm-top .ibm-ind-link-after a {
	padding-left: 0;
}

#ibm-top .ibm-ind-link-after a:hover {
	text-decoration: underline;
}

#ibm-top .ibm-ind-link-after .ibm-cta-chevron-link:before {
	display: none;
}


@media only screen and (min-width: 0) and (max-width: 568px) {
	#ibm-content .ibm_cci-header-band,
	#ibm-content .ibm_cci-z-band {
		background: none;
		min-height: inherit;
	}
	
	.ibm_cci-ey {
		padding-top: 0;
	}

	.ibm_cci-subtitle em {
		@include px-to-rem(font-size,70px);
		line-height: 50px;
	}
	
	#ibm-content .ibm_cci-site-band h2 span {
		@include px-to-rem(font-size,40px);		
	}
	
}


@media only screen and (min-width: 569px) and (max-width: 800px) {
	#ibm-content .ibm_cci-header-band {
		background-position: 0 100%;
	}
}
