/* ***************************
/* Variables 
******************************/
/* ***************************
/* Methods 
******************************/
/*
@mixin force-dimensions() {
  @if .t1-mD1 ~ div  {Not sure if 
    border: 2px solid #FF0032;
  }
}
*/
/* line 25, ../sass/grid-overrides.scss */
#ibm-top {
  margin-top: 38px !important;
}

/* line 29, ../sass/grid-overrides.scss */
.box {
  outline: 0px solid #99999a;
  border: 0px solid #99999a;
  /*Not sure if 
  background-color: #ff0032;
  */
  display: block;
  position: relative;
}

/* line 40, ../sass/grid-overrides.scss */
.video-image-full-bleed {
  background: black;
}

/* BX CAROUSEL OVERRIDES : in template-footer.html START. */
/* line 47, ../sass/grid-overrides.scss */
.bx-wrapper, .bx-wrapper .bx-loading {
  z-index: 300 !important;
}

/* line 52, ../sass/grid-overrides.scss */
.template-footer {
  height: 525px;
  /* TODO See if beign used */
}
/* line 59, ../sass/grid-overrides.scss */
.template-footer .carousel-medium .bx-viewport {
  height: 360px !important;
}

/* Footer Carousel START. */
/* line 70, ../sass/grid-overrides.scss */
.carousel-footer .bx-wrapper, .carousel-footer .bx-viewport {
  width: 792px !important;
  height: 340px !important;
  margin-top: 0px;
  background: none;
  margin-left:0px;
}
/* line 79, ../sass/grid-overrides.scss */
.carousel-footer .bx-controls-direction {
  width: 85px !important;
}
/* line 82, ../sass/grid-overrides.scss */
.carousel-footer .bx-controls-direction .bx-prev {
  display: none !important;
}
/* line 87, ../sass/grid-overrides.scss */
.carousel-footer .bx-wrapper .bx-prev {
  left: 810px;
  top: 0px;
  background: url(../../img/bx-controls-circles-white.png) no-repeat 0 0;
}
/* line 93, ../sass/grid-overrides.scss */
.carousel-footer .bx-wrapper .bx-prev:hover {
  background-position: 0 -85px;
}
/* line 97, ../sass/grid-overrides.scss */
.carousel-footer .bx-wrapper .bx-next {
  background: url(../../img/bx-controls-circles-white.png) no-repeat -85px 0;
  top: 0 !important;
  right: -170px !important;
}
/* line 103, ../sass/grid-overrides.scss */
.carousel-footer .bx-wrapper .bx-next:hover {
  background-position: -85px -85px;
}
/* line 107, ../sass/grid-overrides.scss */
.carousel-footer .bx-wrapper .bx-controls-direction a {
  position: absolute;
  outline: 0;
  width: 85px;
  height: 85px;
  text-indent: -9999px;
  z-index: 300;
  margin-top: 0 !important;
}
/* line 117, ../sass/grid-overrides.scss */
.carousel-footer .bx-wrapper .bx-pager, .carousel-footer .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 772px;
}
/* line 124, ../sass/grid-overrides.scss */
.carousel-footer .bx-pager-item {
  margin: 0 2px 0 2px!important;
}

/* Template-3 Carousel Medium END. */
/* Template-3 Carousel Medium START. */
/* line 134, ../sass/grid-overrides.scss */
.carousel-medium .bx-wrapper {
  width: 100% !important;
  height: 350px !important;
  background: none;
  margin: 0 auto 0 auto !important;
}

.carousel-medium .bx-viewport {
  width: 95% !important;
  height: 350px !important;
  background: none;
  margin: 0 auto 0 auto !important;
}
/* line 176, ../sass/grid-overrides.scss */
.carousel-medium .bx-wrapper .bx-pager, .carousel-medium .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto 0 auto !important;
}
/* line 145, ../sass/grid-overrides.scss */
.carousel-medium .bx-wrapper .bx-prev {
  left: 20%;
  top: 290px;
  background: url(../../img/bx-controls-arrows-grey.png) no-repeat 0 0;
}
/* line 150, ../sass/grid-overrides.scss */
.carousel-medium .bx-wrapper .bx-next {
  background: url(../../img/bx-controls-arrows-grey.png) no-repeat -20px 0;
  top: 290px !important;
  right: 20% !important;
}
/* line 157, ../sass/grid-overrides.scss */
.carousel-medium .bx-wrapper .bx-prev:hover {
  background-position: 0 -32px;
}
/* line 162, ../sass/grid-overrides.scss */
.carousel-medium .bx-wrapper .bx-next:hover {
  background-position: -20px -32px;
}
/* line 166, ../sass/grid-overrides.scss */
.carousel-medium .bx-wrapper .bx-controls-direction a {
  position: absolute;
  outline: 0;
  width: 20px;
  height: 32px;
  text-indent: -9999px;
  z-index: 300;
  margin-top: 40px !important;
}
/* line 183, ../sass/grid-overrides.scss */
.carousel-medium .bx-pager-item {
  margin: 0 4px 0 4px !important;
}

/* Template-3 Carousel Medium END. */
/* Template-5 Carousel START. */
/* line 195, ../sass/grid-overrides.scss */
.carousel-full .bx-viewport {
  background: none;
  border: solid 0px #EEE;
  left: 0px;
}
/* line 201, ../sass/grid-overrides.scss */
.carousel-full .bx-wrapper .bx-prev {
  left: -25px;
  top: 74px;
  background: url(../../img/bx-controls-arrows-grey.png) no-repeat 0 0px;
}
/* line 207, ../sass/grid-overrides.scss */
.carousel-full .bx-wrapper .bx-next {
  background: url(../../img/bx-controls-arrows-grey.png) no-repeat -20px 0;
  top: 74px;
  right: -25px !important;
}
/* line 215, ../sass/grid-overrides.scss */
.carousel-full .bx-wrapper .bx-prev:hover {
  background-position: 0 -32px;
}
/* line 220, ../sass/grid-overrides.scss */
.carousel-full .bx-wrapper .bx-next:hover {
  background-position: -20px -32px;
}
/* line 224, ../sass/grid-overrides.scss */
.carousel-full .bx-wrapper .bx-controls-direction a {
  position: absolute;
  outline: 0;
  width: 20px;
  height: 32px;
  text-indent: -9999px;
  z-index: 300;
  margin-top: 0 !important;
}
/* line 234, ../sass/grid-overrides.scss */
.carousel-full .bx-wrapper .bx-pager {
  bottom: -25px !important;
}
/* line 238, ../sass/grid-overrides.scss */
.carousel-full .bx-pager-item {
  margin: 0 4px 0 4px !important;
}

/* Template-5 Carousel END. */
/* line 246, ../sass/grid-overrides.scss */
#ibm-content {
  /* To turn off columns when areas are only for mobile */
}
/* line 247, ../sass/grid-overrides.scss */
#ibm-content .ibm-columns:after {
  margin-bottom: 0px;
}
/* line 253, ../sass/grid-overrides.scss */
#ibm-content .noDesktop {
  display: none;
}
/* line 258, ../sass/grid-overrides.scss */
#ibm-content .postcard [id*="story-header-"] {
  width: 100%;
  /* Story Title Bar, commented out for company color
  background: #232323;
  */
}
/* line 266, ../sass/grid-overrides.scss */
#ibm-content .postcard .story-header-title {
  color: #FFF;
}
/* line 270, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns {
  padding: 0;
  width: 980px;
}
/* line 276, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns [class*="ibm-col-"] {
  /* float: left; */
  margin: 0 10px 10px 0;
  /* margin:0; for no padding */
  padding: 0;
  min-height: 1px;
  /* Added to remove line-height 1.6 rem that caused the extra height */
  line-height: 0;
  /* border: 1px solid #A00; */
}
/* line 286, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns [class*="ibm-col-"] img {
  width: 100%;
}
/* line 290, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns :last-child, #ibm-content .postcard .ibm-columns .ibm-columns:last-child {
 /* margin: 0 0 0 0;
  padding: 0;*/
}
/* line 294, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .ibm-col-5-3 .ibm-col-5-1, #ibm-content .postcard .ibm-columns .ibm-col-5-3 .ibm-col-5-3 {
  margin: 0 0 10px 0;
  padding: 0;
}
/* line 299, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .ibm-col-1-1 {
  width: 980px;
  margin: 0 0 0 0;
}
/* line 303, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .ibm-col-5-1 {
  /*     width: 172px; orig width - 196 no padding*/
  width: 188px;
}
/* line 307, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .ibm-col-5-2 {
  /*     width: 364px; orig width - 392 no padding*/
  width: 374px!important;
  /* Set to important for footer carousel */
}
/* line 312, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .ibm-col-5-3 {
  /*     width: 556px; orig width - 588 no padding*/
  width: 584px;
}
/* line 317, ../sass/grid-overrides.scss */
#ibm-content .postcard .summary-row .ibm-col-5-3 {
  /*     width: 556px; orig width - 588 no padding*/
  width: 568px!important;
  margin-left: 365px;
  padding: 0px 20px 0px 50px;
}
/* line 325, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .ibm-col-5-4 {
  /*    width: 748px; orig width - 784 no padding*/
  width: 782px;
}
/* line 332, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .template-2 {
  /* Use to see wrapping div
  .ibm-col-5-2 {
    background-color: #ff0032;
  }
  */
}
/* line 338, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .template-2 .t2-mJ {
  margin: 0 0 10px 0;
}
/* line 341, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .template-2 [class*="t2-mK"] {
  margin: 0 0 10px 0;
}
/* line 344, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .template-2 .t2-mK1 {
  margin: 0 5px 0 0;
}
/* line 347, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .template-2 .t2-mK2 {
  margin: 0 0 0 5px;
}
/* line 354, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .template-5 .box, #ibm-content .postcard .ibm-columns .template-8 .box {
  margin: 0 0 10px 0;
  /* border: 1px solid #FF0032; */
}
/* line 362, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .template-10 .ibm-col-5-3 {
  margin: 0 10px 0 0;
}
/* line 365, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .template-10 .t10-mE {
  margin: 0 0 10px 0;
}
/* line 368, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .template-10 .t10-mI {
  margin: 0 0 10px 10px;
}
/* line 371, ../sass/grid-overrides.scss */
#ibm-content .postcard .ibm-columns .template-10 .ibm-col-5-2 {
  margin: 0 0 10px 0;
}

/* line 384, ../sass/grid-overrides.scss */
#ibm-content .A {
  height: 584px;
}
/* line 385, ../sass/grid-overrides.scss */
#ibm-content .B {
  height: 980px;
}
/* line 386, ../sass/grid-overrides.scss */
#ibm-content .C {
  height: 782px;
}
/* line 387, ../sass/grid-overrides.scss */
#ibm-content .D {
  height: 386px;
}
/* line 388, ../sass/grid-overrides.scss */
#ibm-content .E {
  height: 386px;
}
/* line 389, ../sass/grid-overrides.scss */
#ibm-content .F {
  height: 188px;
}
/* line 390, ../sass/grid-overrides.scss */
#ibm-content .G {
  height: 188px;
}
/* line 391, ../sass/grid-overrides.scss */
#ibm-content .H {
  height: 386px;
}
/* line 392, ../sass/grid-overrides.scss */
#ibm-content .I {
  height: 386px;
}
/* line 393, ../sass/grid-overrides.scss */
#ibm-content .J {
  height: 188px;
}
/* line 394, ../sass/grid-overrides.scss */
#ibm-content .K {
  height: 188px;
}
/* line 396, ../sass/grid-overrides.scss */
#ibm-content .level-0 {
  position: absolute;
  z-index: 0 !important;
}
/* line 400, ../sass/grid-overrides.scss */
#ibm-content .level-1 {
  position: absolute;
  z-index: 100 !important;
}
/* line 404, ../sass/grid-overrides.scss */
#ibm-content .level-2 {
  position: absolute;
  z-index: 200 !important;
}
/* line 408, ../sass/grid-overrides.scss */
#ibm-content .level-3 {
  position: absolute;
  z-index: 300 !important;
}
/* line 412, ../sass/grid-overrides.scss */
#ibm-content .level-4 {
  position: absolute;
  z-index: 400 !important;
}
/* line 416, ../sass/grid-overrides.scss */
#ibm-content .level-5 {
  position: absolute;
  z-index: 500 !important;
}
/* line 420, ../sass/grid-overrides.scss */
#ibm-content .level-6 {
  position: absolute;
  z-index: 501 !important;
}
/* line 424, ../sass/grid-overrides.scss */
#ibm-content .module-title {
  margin: 20px 0 0 20px;
}

/*
@media screen and (max-width:1280px) {
      .template-footer { padding: 0 10px 0 10px !important; }
      #ibm-content .postcard .ibm-columns .ibm-col-5-2 { width: 295px !important; }
      .carousel-footer .bx-wrapper, .carousel-footer .bx-viewport { width: 590px !important; }
      .carousel-footer .bx-wrapper .bx-next { right: -115px !important; }

      .carousel-footer .bx-viewport {
        width: 590px !important;
        height: 360px !important;
      } 
      .carousel-footer .bx-wrapper .bx-pager {
        bottom: -40px;
        width: 590px; 
      } 
    } 
    */
/* line 447, ../sass/grid-overrides.scss */
.carousel-full-copy {
  width: 380px;
}

@media screen and (max-width: 1600px) {
  /* Quotes Medium Carousel START. */
  /* .carousel-medium .bx-wrapper, .carousel-medium .bx-viewport { width: 460px !important; height: 400px !important;  } 
  .carousel-medium .bx-wrapper .bx-prev { left: 110px !important; top: 339px !important; }
  .carousel-medium .bx-wrapper .bx-next { left: 290px !important; top: 339px !important; }
  .carousel-footer .bx-wrapper .bx-pager, .carousel-footer .bx-wrapper .bx-controls-auto { width: 90% !important; } 
  */
  /* Quotes Medium Carousel END. */
}

@media screen and (max-width: 1024px) {
  /* line 465, ../sass/grid-overrides.scss */
  .template-footer {
    padding: 0 10px 0 10px !important;
  }

  /* line 466, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-2 {
    width: 295px !important;
  }
   

  .summary-row .ibm-col-5-3 .summary-text {
    margin-bottom: 13px;
    margin-left: 29px;
    padding-right:0px;
}

  /* line 468, ../sass/grid-overrides.scss */
  .template-footer {
    height: 480px;
  }
  
	#ibm-content .postcard .ibm-columns .carousel-footer {
		width:98%;
	}
	
	.bx-viewport .tF-mD1 {
		width:390px!important;
		margin:0 20px 0 0;
	}

  /* Footer Carousel START. */
  /* line 470, ../sass/grid-overrides.scss */
  .carousel-footer .bx-wrapper, .carousel-footer .bx-viewport {
    width: 800px !important;
    height: 300px !important;
    margin-left: 5px;
  }

  /* line 471, ../sass/grid-overrides.scss */
  .carousel-footer .bx-wrapper .bx-next {
    right: -115px !important;
  }

  /* line 472, ../sass/grid-overrides.scss */
  .carousel-footer .bx-wrapper .bx-pager {
    bottom: -30px;
    width: 590px;
  }

  /* Footer Carousel END. */
  /* line 479, ../sass/grid-overrides.scss */
  .carousel-medium .bx-wrapper, .carousel-medium .bx-viewport {
    height: 260px !important;
  }

  /* line 480, ../sass/grid-overrides.scss */
  .carousel-medium .bx-viewport {
    margin-left: 20px;
  }

  /* line 481, ../sass/grid-overrides.scss */
  .carousel-medium .bx-wrapper .bx-prev {
    top: 230px !important;
  }

  /* line 482, ../sass/grid-overrides.scss */
  .carousel-medium .bx-wrapper .bx-next {
    top: 230px !important;
  }

  /* line 483, ../sass/grid-overrides.scss */
  .carousel-medium .bx-wrapper .bx-pager {
    top: 260px;
  }

  /* line 486, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper, .carousel-full .bx-viewport {
    width: 910px !important;
    height: 166px !important;
  }
}

@media screen and (max-width:1024px) {
	.bx-viewport .tF-mD1 {
		width:790px!important;
		margin:0 20px 0 0;
	}
	
	#ibm-content .postcard .summary-row .ibm-col-5-3 {
    margin-left: 0px;
    padding: 50px;
    width: 560px !important;
  }
}




@media screen and (max-width: 960px) {
  /* line 493, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns {
    /* Footer Carousel START. */
  }
  /* line 494, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-footer {
    height: 800px !important;
  }
  /* line 496, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper, #ibm-content .postcard .ibm-columns .carousel-footer .bx-viewport {
    width: 600px !important;
    height: 500px !important;
    margin-left: 5px;
    margin-top: 10px !important;
  }
  /* line 497, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-next {
    right: -115px !important;
  }
  /* line 498, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-pager {
    bottom: -40px;
    width: 590px;
  }
  /* line 500, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-full .bx-wrapper .bx-next {
    left: 780px !important;
  }

  /* line 503, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper, .carousel-full .bx-viewport {
    width: 730px !important;
  }

  /* line 504, ../sass/grid-overrides.scss */
  .carousel-full-copy {
    width: 300px !important;
  }
}
@media screen and (max-width: 800px) {
  /* line 508, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns {
    padding: 0;
    width: 100%;
    /* Footer Carousel START. */
    /* Footer Carousel END. */
  }

  /*
  .template-footer {
    margin: 0 10px 0 0px !important;
  }
  */
  
  .bx-viewport .tF-mD1 {
		width:600px!important;
    height:400px!important;
		margin:0 20px 0 0!important;
	}
	
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-next {
    right: -139px !important;
	}
  
  /* line 512, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-1-1 {
    width: 800px;
  }
  /* line 513, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-1 {
    width: 150px;
  }
  /* line 514, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-2 {
    width: 304px;
  }
  /* line 515, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-3 {
    width: 466px;
  }
  /* line 516, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-4 {
    width: 630px;
  }
  /* line 518, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns #ibm-content .postcard .ibm-columns .ibm-col-5-2 {
    width: 200px !important;
  }
  /* line 520, ../sass/grid-overrides.scss */

  /* line 522, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper, #ibm-content .postcard .ibm-columns .carousel-footer .bx-viewport {
    width: 600px !important;
    height: 400px !important;
    margin-left: 5px;
    margin-top: 10px !important;
  }

  /* STOP HERE!!! */


  /* line 539, ../sass/grid-overrides.scss */
  .story-header-title {
    margin-top: -44px !important;
    height: 44px !important;
  }

  /* line 544, ../sass/grid-overrides.scss */
 .template-footer .ibm-connect-bar {
    bottom: 0 !important;
    margin-top: 3px !important;
  }
  /*
  .tf-mD1 {
  	width:295px !important;
  }
  */
}
@media screen and (max-width: 768px) {
  /* line 551, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns {
    /* Footer Carousel START. */
    /* Footer Carousel END. */
  }
  
    #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper, #ibm-content .postcard .ibm-columns .carousel-footer .bx-viewport {
    width: 600px !important;
    height: 300px !important;
  }
  
  /* line 552, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-1-1 {
    width: 100%;
  }
  /* line 553, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-1 {
    width: 143px;
  }
  /* line 554, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-2 {
    width: 200px;
  }
  /* line 555, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-3 {
    width: 448px!important;
    margin-left: 0px!important;
    padding-left:0px!important; padding-right:0px!important;
  }


  /* line 555, ../sass/grid-overrides.scss 
  #ibm-band .ibm-columns .template-4 .ibm-col-5-3, #ibm-content .postcard .ibm-columns .template-4 .ibm-col-5-3 {
    width: 100% !important;
    margin-left: 0px!important;
    padding-left:0px!important; padding-right:0px!important;
  }
  */

  /* line 556, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-4 {
    width: 602px;
  }
  /* line 559, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-footer {
    height: 560px !important;
  }
  /* line 560, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns #ibm-content .postcard .ibm-columns .ibm-col-5-2 {
    width: 250px !important;
  }
  /* line 561, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-next {
    right: -130px !important;
  }
  /* line 562, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-viewport {
    width: 100% !important;
  }
  /* line 565, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper, #ibm-content .postcard .ibm-columns .carousel-medium .bx-viewport {
    height: 260px !important;
  }
  /* line 566, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-viewport {
    margin-left: 20px;
  }
  /* line 567, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-prev {
    top: 170px !important;
  }
  /* line 568, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-next {
    top: 170px !important;
  }
  /* line 569, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-pager {
    top: 200px;
  }

  /* line 572, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-2 {
    width: 294px !important;
    margin-right: 0px !important;
  }

  /* line 574, ../sass/grid-overrides.scss */
  .ibm-col-1-1 {
    height: 120px;
  }

  /* line 575, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper, .carousel-full .bx-viewport {
    width: 680px !important;
    height: 88px !important;
    margin-top: 40px !important;
  }

  /* line 576, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper .bx-prev {
    top: 27px !important;
  }

  /* line 577, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper .bx-next {
    top: 27px !important;
  }

  /* line 584, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns [class*="ibm-col-"] {
    margin: 0;
  }

  /* line 601, ../sass/grid-overrides.scss */
  .story-header-title {
    margin-top: -44px !important;
    height: 44px !important;
  }

  /* line 606, ../sass/grid-overrides.scss */
  .ibm-connect-bar {
    bottom: 0 !important;
    margin-top: 3px !important;
  }
}
@media screen and (max-width: 728px) {
  /* line 618, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium {
    height: 420px;
  }
  /* line 620, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .bx-wrapper .bx-pager, #ibm-content .postcard .ibm-columns .bx-wrapper .bx-controls-auto {
    bottom: -20px;
  }
}
@media screen and (max-width: 640px) {
  #ibm-content .postcard .ibm-columns .carousel-footer {
    width: 79%!important;
}
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-next {
    right: -106px !important;
}
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-pager {
    bottom: -40px;
    width: 590px;
}
  /* line 627, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-1 {
    width: 118px;
  }
  /* line 628, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-2 {
    width: 200px;
  }
  /* line 629, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-3 {
    width: 371px;
  }
  /* line 630, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-4 {
    width: 502px;
  }
  /* line 632, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-1-1 {
    height: 220px;
  }

  /* line 635, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium {
    height: 280px !important;
  }
  /* line 636, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper {
    margin: 20px auto 10px 0 !important;
    height: 220px !important;
  }

  #ibm-content .postcard .ibm-columns .carousel-medium .bx-viewport {
    height: 200px !important;
  }
  /* line 638, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-prev {
    top: 200px !important;
  }
  /* line 639, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-next {
    top: 200px !important;
  }
  /* line 640, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-pager {
    top: 200px !important;
  }
  .carousel-medium .bx-wrapper .bx-controls-direction a {
    margin-top: 10px !important;
  }

  /* line 644, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-footer {
    height: 650px !important;
  }
  /* line 645, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper, #ibm-content .postcard .ibm-columns .carousel-footer .bx-viewport {
    width: 510px !important;
    height: 300px !important;
  }
  
  .bx-viewport .tF-mD1 {
    margin: 0 20px 0 0 !important;
    width: 500px !important;
  }

  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-next {
      right: -125px !important;
  }

  .footer-desc {
      width:480px;
  }
  /* line 646, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-pager, #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-controls-auto {
    top: 300px !important;
    width: 100% !important;
    margin-left: 0;
  }
  /* line 649, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-1-1 {
    height: 120px;
  }

  /* line 653, ../sass/grid-overrides.scss */
  .story-header-title {
    margin-top: -44px !important;
    height: 44px !important;
  }

  /* line 658, ../sass/grid-overrides.scss */
  .ibm-connect-bar {
    bottom: 0 !important;
    margin-top: 3px !important;
  }

  /* line 664, ../sass/grid-overrides.scss */
  .ibm-col-1-1, .carousel-full {
    height: 33px;
  }
  
  .cameraTitleImg {
    margin-top: 17px !important;
  }

  /* line 666, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper {
    width: 100% !important;
    height: 88px !important;
    margin: 35px 0 5px 0 !important;
  }
  /* line 666, ../sass/grid-overrides.scss */
  .carousel-full .bx-viewport {
    width: 85% !important;
    height: 88px !important;
    margin: 0 auto 0 auto !important;
  }
  /* line 667, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper .bx-prev {
    top: 30px !important;
    left: 5px !important;
  }
  /* line 668, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper .bx-next {
    top: 30px !important;
    right: 5px !important;
  }
  /* line 670, ../sass/grid-overrides.scss */
  .carousel-full-copy {
    width: 280px !important;
    font-size: 12px;
  }
  /* line 671, ../sass/grid-overrides.scss */
  .carousel-full-copy p {
    height: 88px !important;
  }
}
@media screen and (max-width: 579px) {
	
	.bx-viewport .tF-mD1 {
    margin: 0 20px 0 0 !important;
    width: 501px !important;
}
	
	.footer-desc {
    width: 280px;
}
  /* line 681, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium {
    height: 420px;
  }
  /* line 682, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-viewport {
    height: 240px !important;
  }
  /* line 686, ../sass/grid-overrides.scss */
  .carousel-footer .bx-wrapper .bx-next {
    display: none;
  }

  /* line 688, ../sass/grid-overrides.scss */
  .ibm-content-body {
    background-image: url("assets/images/s2/s2-mobile-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  /* line 693, ../sass/grid-overrides.scss */
  .story-header-title {
    margin-top: -44px !important;
    height: 44px !important;
  }

  /* line 698, ../sass/grid-overrides.scss */
  .ibm-connect-bar {
    bottom: 0 !important;
    margin-top: 3px !important;
  }

  /* To turn off columns when areas are only for mobile */
  /* line 704, ../sass/grid-overrides.scss */
  .noDesktop {
    display: block !important;
    height: 47px !important;
  }

  /* line 709, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns:after {
    margin-bottom: 10px;
  }

  /* line 712, ../sass/grid-overrides.scss */
  .ibm-columns:last-child {
    margin: 0 0 0 0;
    padding: 0;
  }

  /* JPT: I added "ibm-col-1-1" */
  /* line 718, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns {
    /* JPT: TEMPLATE SPECIFICS */
    /* JPT: Remove wrapping margins and add to nested divs */
    /* JPT: Remove for when templates are stacked, it's being added in .ibm-columns:last-child above */
    /* JPT: Remove wrapping margins and add to nested divs */
  }
  /* line 719, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-1, #ibm-content .postcard .ibm-columns .ibm-col-5-2, #ibm-content .postcard .ibm-columns .ibm-col-5-3, #ibm-content .postcard .ibm-columns .ibm-col-5-4, #ibm-content .postcard .ibm-columns .ibm-col-1-1 {
    width: 100%;
  }
  /* line 723, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .noMobile {
    display: none;
  }
  /* line 730, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-2 .ibm-col-5-2 {
    margin: 0 0 0 0;
  }
  /* line 732, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-2 .ibm-col-5-2 .t2-mJ, #ibm-content .postcard .ibm-columns .template-2 .ibm-col-5-2 .t2-mK1, #ibm-content .postcard .ibm-columns .template-2 .ibm-col-5-2 .t2-mK2 {
    margin: 0 0 10px 0;
  }
  /* line 740, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-5 .box, #ibm-content .postcard .ibm-columns .template-8 .box {
    margin: 0 0 0 0;
  }
  /* line 747, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-10 .ibm-col-5-3 {
    margin: 0 0 10px 0;
  }
  /* line 749, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-10 .ibm-col-5-3 .t10-mD {
    margin: 0 0 10px 0;
  }
  /* line 752, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-10 .ibm-col-5-3 .t10-mI {
    margin: 0 0 10px 0;
  }
  /* line 755, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-10 .ibm-col-5-3 .t10-mF {
    margin: 0 0 0 0;
  }
  /* line 760, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-10 .ibm-col-5-2 {
    margin: 0 0 0 0;
  }
  /* line 763, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-10 .ibm-col-5-2 .t10-mB {
    margin: 0 0 0 0;
  }

  /* Overwrite fixed heights */
  /* line 773, ../sass/grid-overrides.scss */
  #ibm-content .A {
    height: auto !important;
  }
  /* line 774, ../sass/grid-overrides.scss */
  #ibm-content .B {
    height: auto !important;
  }
  /* line 775, ../sass/grid-overrides.scss */
  #ibm-content .C {
    height: auto !important;
  }
  /* line 776, ../sass/grid-overrides.scss */
  #ibm-content .D {
    height: auto !important;
  }
  /* line 777, ../sass/grid-overrides.scss */
  #ibm-content .E {
    height: auto !important;
  }
  /* line 778, ../sass/grid-overrides.scss */
  #ibm-content .F {
    height: auto !important;
  }
  /* line 779, ../sass/grid-overrides.scss */
  #ibm-content .G {
    height: auto !important;
  }
  /* line 780, ../sass/grid-overrides.scss */
  #ibm-content .H {
    height: auto !important;
  }
  /* line 781, ../sass/grid-overrides.scss */
  #ibm-content .I {
    height: auto !important;
  }
  /* line 782, ../sass/grid-overrides.scss */
  #ibm-content .J {
    height: auto !important;
  }
  /* line 783, ../sass/grid-overrides.scss */
  #ibm-content .K {
    height: auto !important;
  }
}
@media screen and (max-width: 480px) {

  .storyHeader {
    height: 400px;
  }

  .footer-desc {
    width: 85%;
  }

  .bx-viewport .tF-mD1 {
    margin: 0 20px 0 0 !important;
    width: 450px !important;
  }
  
  /* line 515, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .ibm-col-5-3 {
    width: 100% !important;
  }
  

  /* line 794, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-footer {
    height: 540px !important;
  }

  /* line 796, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer {
    width: 100% !important;
  }

  /* line 796, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper {
    width: 100% !important;
    height: 300px !important;
    margin: 10px 5px 0 5px !important;
    padding: 0 0 0 0 !important;
  }

  /* line 796, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-viewport {
    width: 100% !important;
    height: 300px !important;
    margin: 0 auto 0 auto !important;
    padding: 0 0 0 0 !important;
  }

  /* line 646, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-pager, #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-controls-auto {
    top: 305px !important;
    width: 100% !important;
    margin-left: 0;
  }



  /* line 799, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium {
    height: 320px !important;
  }

  /* line 636, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper{
    width: 100% !important;
    height: 280px !important;
    margin: 0 0 0 0 !important;
  }

  #ibm-content .postcard .ibm-columns .carousel-medium .bx-viewport {
    width: 100% !important;
    height: 240px !important;
  }
  /* line 638, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-prev {
    top: 240px !important;
  }
  /* line 639, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-next {
    top: 240px !important;
  }
  /* line 640, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-pager {
    top: 240px !important;
  }

  /* line 809, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper, .carousel-full .bx-viewport {
    width: 100% !important;
    height: 88px !important;
    margin: 80px auto 0 auto !important;
  }

  /* line 810, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper .bx-prev {
    display: none !important;
  }

  /* line 811, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper .bx-next {
    display: none !important;
  }



  /* line 809, ../sass/grid-overrides.scss */
  .carousel-footer .bx-wrapper, .carousel-footer .bx-viewport {
    width: 390px !important;
    height: 100px !important;
  }

}
@media screen and (max-width: 320px) {

  .bx-viewport .tF-mD1 {
    margin: 0 20px 0 0 !important;
    width: 280px !important;
  }

  /* line 636, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper{
    width: 100% !important;
    height: 280px !important;
    margin: 0 0 0 0 !important;
  }

  #ibm-content .postcard .ibm-columns .carousel-medium .bx-viewport {
    width: 100% !important;
    height: 240px !important;
  }
  /* line 640, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-controls-direction {
    width: 100% !important;
    margin: 0 auto 0 auto !important;
  }
  /* line 638, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-prev {
    top: 240px !important;
  }
  /* line 639, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-next {
    top: 240px !important;
  }
  /* line 640, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-pager {
    top: 240px !important;
  }

  /* line 794, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-footer {
    height: 650px !important;
  }
  /* line 796, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper {
    width: 100% !important;
    height: 400px !important;
  }
  /* line 796, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-viewport {
    width: 100% !important;
    height: 400px !important;
  }
  /* line 646, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-pager, #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-controls-auto {
    top: 405px !important;
    width: 100% !important;
    margin-left: 0;
  }


  /* line 829, ../sass/grid-overrides.scss */
  /*#ibm-content .postcard .ibm-columns .ibm-col-5-2 {
    width: 140px !important;
    margin-right: 10px !important;
  }*/

  /* line 831, ../sass/grid-overrides.scss */
  .carousel-footer .bx-wrapper .bx-pager, .carousel-footer .bx-wrapper .bx-controls-auto {
    top: 440px !important;
    width: 100% !important;
    margin-left: 0;
  }

  /* line 833, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper .bx-prev {
    display: none !important;
  }

  /* line 834, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper .bx-next {
    display: none !important;
  }
  .carousel-full .bx-wrapper .bx-loading {
    width: 100% !important;
    height: 220px !important;
    margin: 0 0 0 0 !important;
  }

  /* line 794, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-footer {
    height: 540px !important;
  }

  /* line 796, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer {
    width: 100% !important;
  }

  /* line 796, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper {
    width: 320px !important;
    height: 300px !important;
    margin: 10px 5px 0 5px !important;
    padding: 0 0 0 0 !important;
  }

  /* line 796, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-viewport {
    width: 100% !important;
    height: 300px !important;
    margin: 0 auto 0 auto !important;
    padding: 0 0 0 0 !important;
  }

  /* line 646, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-pager, #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-controls-auto {
    top: 305px !important;
    width: 100% !important;
    margin-left: 0;
  }


}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
  /* line 636, ../sass/grid-overrides.scss */
  /* line 799, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium {
    height: 240px !important;
  }

  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper{
    width: 100% !important;
    height: 200px !important;
    margin: 0 0 0 0 !important;
  }

  #ibm-content .postcard .ibm-columns .carousel-medium .bx-viewport {
    width: 90% !important;
    height: 180px !important;
  }
  /* line 640, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-pager {
    top: 190px !important;
    width: 100% !important;
  }
  /* line 640, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-controls-direction {
    width: 190px !important;
  }
  /* line 638, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-prev {
    top: 190px !important;
    left: 10% !important;
  }
  /* line 639, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-next {
    top: 190px !important;
    right: 10% !important;
  }
  .carousel-full .bx-wrapper .bx-loading {
    width: 100% !important;
    height: 220px !important;
    margin: 0 0 0 0 !important;
  }


  /* line 794, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .template-footer {
    height: 540px !important;
  }

  /* line 796, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer {
    width: 100% !important;
  }

  /* line 796, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper {
    width: 480px !important;
    height: 300px !important;
    margin: 0 0 0 0 !important;
  }

  /* line 796, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-viewport {
    width: 100% !important;
    height: 300px !important;
    margin: 0 auto 0 auto !important;
  }
  /* line 646, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-pager, #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-controls-auto {
    width: 100% !important;
    margin: 0 0 0 0 !important;
  }

  #ibm-content .postcard .ibm-columns [class*="ibm-col-"] .bxwrapper .quote p {
  	width: 30%;
  }
}


@media only screen and (min-device-width : 200px) and (max-device-width : 320px)  { 
  /* line 636, ../sass/grid-overrides.scss */
  /* line 799, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium {
    height: 300px !important;
  }

  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper{
    width: 320px !important;
    height: 260px !important;
    margin: 0 0 20px 20px !important;
  }

  #ibm-content .postcard .ibm-columns .carousel-medium .bx-viewport {
    width: 320px !important;
    height: 230px !important;
  }
  /* line 640, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-controls-direction {
    width: 320px !important;
  }
  /* line 638, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-prev {
    top: 230px !important;
    left: 30px !important;
  }
  /* line 639, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-next {
    top: 230px !important;
    right: 30px !important;
  }
  /* line 640, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-medium .bx-wrapper .bx-pager {
    top: 230px !important;
    width: 100%  !important;
  }


  /* line 809, ../sass/grid-overrides.scss */
  .carousel-full {
    height: 220px !important;
  }
  .carousel-full .bx-wrapper .bx-loading {
    width: 320px !important;
    height: 220px !important;
    margin: 0 0 0 0 !important;
  }
  /* line 809, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper {
    width: 320px !important;
    height: 220px !important;
    margin: 0 0 0 0 !important;
  }
  /* line 809, ../sass/grid-overrides.scss */
  .carousel-full .bx-viewport {
    width: 320px !important;
    height: 220px !important;
    margin: 0 0 0 0 !important;
  }
  /* line 640, ../sass/grid-overrides.scss */
  .carousel-full .bx-wrapper .bx-pager, .carousel-full .bx-wrapper .bx-controls-direction  {
    display: none !important;
  }


  /* line 646, ../sass/grid-overrides.scss */
  #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-pager, #ibm-content .postcard .ibm-columns .carousel-footer .bx-wrapper .bx-controls-auto {
    top: 280px !important;
  }

}