#{$ibm-widget-js}.ibm-columns.ibm_cci-lv__modifier{
	.ibm-col-1-1{
		position:relative;
		float:left;
		// border-bottom:1px solid #cccccc;
		padding: 30px 0;
		// background-color:#fff;
		
		// LIST VIEW RESOLVED BLOCK WITH CONVERSATION AND WITHOUT CONVERSATION (BEGIN)
		.ibm-col-6-4{
			@include ibm-listview-commons;
			margin:0;
			// outline:1px solid #ccc; *FOR TESTING ONLY

			.ibm_cci--rea-block {
				@include ibm_cci--rea-block;
			}

			.ibm_cci--rcb{
				float:left;
				width:520px;
				margin:0;
				padding:0 19px 0 0;
				border-right:1px dotted #ccc;

				.ibm_cci-fav-ihb {
					@extend .ibm_cci--rcb;
					width:460px;
					clear:both;
					padding:0;
					border:0;

					p.ibm_cci--feed-icon {
						float:left;
						color:#000;
						padding:0 0 5px 0;
						margin:0;
						line-height:0;
						text-indent:-99999;

						img {
							border:0;
							outline:0;
							margin:0 10px 0 0;
							padding:0;
							width:16px;
							height:16px;
						}					
					}

					p.ibm_cci--feed-no-icon {
							a img{
								display:none;
							}
						}

					a.ibm_cci--feed-title {
						font-family:"HelvRegularIBM";
						text-indent: 0;
						font-size:1.3rem;
						line-height: 18px;
						vertical-align: top;
						float:left;
					}
				}
				.ibm_cci-gv-sib {
					display:none;
				}

				.ibm_cci-sib {
					float:left;
					width:60px;
					visibility:hidden;
					border:0;
					overflow: hidden;

					ul.ibm_cci-sie{
						@include ibm_cci-ul__modifier;
						float:right;

						li {
							@include ibm_cci-ul--li__modifier;
							display:inline-block;
							line-height:0;
							padding:0 0 5px 0;

							a {
								opacity:1;

								img {
									width:16px;
									height:16px;									 
								}
							}

							a:hover {
								opacity:0.3;
							}
						}
					}
				}

				.ibm_cci--ttb{
					@extend .ibm_cci--rcb;
					clear:both;
					border:0;

					h2.ibm_cci--tweet-title{
						font: bold 2.4rem/30px "HelvBoldIBM";
						color: #000;
					}

					.ibm_cci--tweet-description {
						// font: italic 1.4rem/20px "HelvLightIBM";
						// display:none;
						.ibm_cci--tweet-content-text {
							span.ibm_cci--tweet-description-readmore a {
								color: #000;
								font: italic 1.4rem/20px "HelvLightIBM";
								// display:none;
								// text-decoration: none;
							}	
						}
						span.ibm_cci--tweet-description-readmore a {
							color: #000;
							font: italic 1.4rem/20px "HelvLightIBM";
							// display:none;
							// text-decoration: none;
						}
						img.ibm_cci--tweet-image {
							display:none;
							line-height:0;
							font-size:0;
							margin:0;
							padding:0;
							width:0;
						}
					}
					.ibm_cci-media-container{
						display:none;
					}					
				}
			}
		}
		// .ibm-col-6-2.tweetitem{

		// }
		.ibm-col-6-2{
			@include ibm-listview-commons;
			margin:0 0 0 20px;
			// outline:1px solid #ccc; *FOR TESTING ONLY
			
			.ibm_cci-relatedTweetContainer{
				min-width: 35px;
			}
			
			.ibm_cci-rel-tweet-detils-container {
				display:block;
				float:left;
				min-width:247px;
				padding-bottom:10px;
			}
			
			ul {
				@include ibm_cci-ul__modifier;
				clear:right;
				padding-bottom: 10px;

				li {
					@include ibm_cci-ul--li__modifier;
					height:25px;
					width:25px;
					display:inline;
					margin:0;
					padding:0;
					line-height:0;
					font-size:0;
					// float:left;
					clear:none;
					// opacity:0.5;

					// > a img {
					// 	opacity:0.5;
					// }
					a img {
						height:25px;
						width:25px;
						opacity:0.5;
						outline:1px solid #ccc;
					}
					a img.selected {
						opacity:1;
						outline:1px solid #000;
					}

					a img.ibm_cci-sel-no {
						opacity:1;
						outline:none;
					}					
				}
				// li.selected {
				// 	opacity:1;
				// }
				// li:hover, li:hover a img {
				// 	opacity:1;
				// }
			
			}

			.ibm_cci--lv-rc-th {
				@include ibm_cci--lv-rc-th; 
				// min-width:100px;
				// margin:10px 0 0 0;
				padding-right: 7px;
				// max-width: 180px;
				margin:0 !important;

				.ibm_cci--lv-rc-h, .ibm_cci--lv-r-wch{
					font-family:"HelvLightIBM";
					font-weight:normal;
				}
			}

			.ibm_cci--time-stamp{
				@include ibm_cci--time-stamp;
				margin:0 !important;
			}

			//To remove the margin from single conversation Title and Handle.
			// if there is only one conversation
			.ibm_cci--lv-rc-th.ibm_cci--lv-rc-th__rm,
			.ibm_cci--time-stamp.ibm_cci--lv-rc-th__rm
			{
				margin:0;
			}

			.ibm_cci--lv-rc-description {
				@include ibm_cci--lv-rc-th;
				margin: 0;
				// height:100px;
				min-height:30px;
				// padding-top:9px;

				p {
					float: left;
					font: normal 1.4rem/2.0rem "HelvLightIBM";
					padding:0;

					a {
						// text-decoration:none;
					}
				}
			}

			.ibm_cci--lv-rc-sharing {
				@include ibm_cci--lv-sharing;
				
				> ul {
					visibility:hidden;

					li a img{
						// outline:1px solid #000;
						opacity:0.2;
						width:16px;
						height:16px;
						outline:0;
					}

					li a img:hover{
						// outline:1px solid #000;
						opacity:0.5;
					}					
				}	

			}
			li:not(:nth-child(1)){
				margin-left:5px;
			}

			li a img:hover{
					// outline:1px solid #000;
					opacity:1;
				}

			}
		// LIST VIEW RESOLVED BLOCK WITH CONVERSATION AND WITHOUT CONVERSATION (END)


		// LIST VIEW UNRESOLVED TWEETS + YOUTUBE (BEGIN)
		#{$ibm-listview-unro} {
			@include ibm-listview-commons;
			width:940px;
			margin:0;

			.ibm_cci--rea-block {
				@include ibm_cci--rea-block;
				margin-left:0;

				// ul {
				// 	li {
				// 		padding:0;
				// 	}
				// }
			}

			.ibm_cci--unr-cb {
				width:860px;
				float:left;

				//FOR YOUTUBE BLOCK (BEGIN)
				.ibm_cci-fav-ihb {
					min-width:100px;
					padding:0;
					border:0;
					float:left;

					p.ibm_cci--feed-icon {
						float:left;
						color:#000;
						padding:5px 0;
						margin:0;
						line-height:0;
						text-indent:-99999;

						img {
							border:0;
							outline:0;
							margin:0 10px 0 0;
							padding:0;
							width:16px;
							height:16px;
						}					
					}

					p.ibm_cci--feed-no-icon {
						a img{
							display:none;
						}
					}

					a.ibm_cci--feed-title {
						font-family:"HelvRegularIBM";
						text-indent: 0;
						font-size:1.3rem;
						line-height: 17px;
						vertical-align: top;
						float:left;
					}
				}

				.ibm_cci--ttb {
					clear:both;
						// margin-top:10px;
						float:left;

						h2.ibm_cci--tweet-title{
							font: normal 2.4rem/30px "HelvLightIBM";
							color: #000;
							margin:0;
							padding:0;				
						}

						p.ibm_cci--tweet-description {
							font: italic 1.4rem/20px "HelvLightIBM";
							display:none;

							span.ibm_cci--tweet-description-readmore a {
								color: #000;
								// text-decoration: none;
							}

							img.ibm_cci--tweet-image {
								display:none;
								line-height:0;
								font-size:0;
								margin:0;
								padding:0;
								width:0;
							}
						}
						.ibm_cci-media-container{
							display:none;
							line-height: 0;
							// text-align:center;
						}						
					}												
				//FOR YOUTUBE BLOCK (END)	
				
				.ibm_cci--ttb {
					clear:both;
					// margin-top:10px;
					float:left;

					h2.ibm_cci--tweet-title{
						font: normal 2.4rem/30px "HelvLightIBM";
						color: #000;
						margin:10px 0 0 0;
						padding:0;				
					}
				}

				.ibm_cci--lv-rc-sharing {
					@include ibm_cci--lv-sharing;
					width:830px;
					ul {
						@include ibm_cci-ul__modifier;

						li {
							@include ibm_cci-ul--li__modifier;
							// height:25px;
							// width:25px;
							display:inline;
							margin:0;
							padding:0;
							line-height:0;
							font-size:0;
							// float:left;
							clear:none;
							opacity:0.5;

							// > a img {
							// 	opacity:0.4;
							// }
						}
						li.selected {
							opacity:1;
						}

					}
					
					> ul {
						visibility:hidden;

						li a img{
							// outline:1px solid #000;
							opacity:0.2;
						}

						li a img:hover{
							// outline:1px solid #000;
							opacity:1;
						}						
					}	

					li:not(:nth-child(1)){
						margin-left:5px;
					}

					li a img:hover{
						// outline:1px solid #000;
						opacity:1;
					}
				}

				.ibm_cci--lv-rc-th{ 
					@include ibm_cci--lv-rc-th;
					max-width:800px;
					// min-width:120px;
					margin:0;

					.ibm_cci--lv-r-wch{
						font-family:"HelvLightIBM";
						font-weight:normal;
					}
				}
				.ibm_cci--time-stamp{
					@include ibm_cci--time-stamp;
					margin-top:0;
				}
				
				// .ibm_cci--time-stamp.ibm_cci--lv-rc-th__rm{
				// 	margin:0;
				// }				

			}
			
			.ibm_cci--lv-tsb{
				float:right;
				width:60px;
				clear:right;

				p.ibm_cci-tts {
					float:right;
					font: normal 12px/16px "HelvLightIBM";
					vertical-align: top;
					padding:0;

					a img {
						opacity:0.1;
						padding: 0 0 0 0;
					}
					a img:hover {
						opacity:1;
					}						
				}			
			}
		}
		// LIST VIEW UNRESOLVED TWEETS + YOUTUBE (END) 
	}
	.ibm-col-1-1:nth-child(1){
		border:0;
	}
	
	.ibm-col-1-1:not(:nth-child(1)){border-top:1px solid #ccc;}
	.ibm-col-1-1:last-child{border-bottom:1px solid #ccc;}
}