<div class="ibm-band template-waypoint carousel-full" data-template="{{ template_tracking }}" style="background:url({{template_background_image_url}}) top center no-repeat;background-width:100%;">
	<div class="ibm-columns">
		<div class="ibm-col-1-1">


					<div class="bxslider" id="s{{story_id}}-{{modules.[0].wrapper_class}}">
						{{#each modules.[0].assets}}
						<div class="{{modules.[0].module_class}}">
							{{#if image_url}}<img src="{{image_url}}"/>{{/if}}
							{{#if copy}}<p class="carousel-full-copy">{{{copy}}}</p>{{/if}}
						</div>
						{{/each}}			  	
					</div>

		</div>	
	</div>
</div>