<!--sideNav-->

<nav class="sideNav" id="sideNav">
  <div class="iscroller">
    <ul class="main iscrollee">
      <div class="closeBtn"><p>X</p></div>
      <li><p><a href="../">Home</a></p></li>
      <li><p class="nav-link" data-hash='#'>Stories</p></li>
      <li><p class="nav-link" data-hash='#!story-index'>Story Index</p></li>
      <!--li><p><a href="../voices.html">Voices</a></p></li-->
      <li class="filter-list-toggle collapsed"><p>Filter case studies:</p></li>

      <div class="filter-list">

        <li data-submenu="#capability" class="filter-list-submenu-toggle">
          <p>Capability</p>
        </li>

        <div id="capability" class="filter-list-submenu">
          <li><p class="nav-link" data-hash='#!filter/capability/big-data-insights'>Big Data Insights</p></li>
          <li><p class="nav-link" data-hash='#!filter/capability/business-model-innovation'>Business Model Innovation</p></li>
          <li><p class="nav-link" data-hash='#!filter/capability/cognitive-computing'>Cognitive Computing</p></li>
          <li><p class="nav-link" data-hash='#!filter/capability/demand-prediction'>Demand Prediction</p></li>
          <li><p class="nav-link" data-hash='#!filter/capability/fraud'>Fraud Prevention</p></li>

          <li><p class="nav-link" data-hash='#!filter/capability/one-to-one'>One-to-One</p></li>
          <li><p class="nav-link" data-hash='#!filter/capability/operations'>Operations Optimization</p></li>

          <li><p class="nav-link" data-hash='#!filter/capability/cities'>Smarter Cities</p></li>
			<li><p class="nav-link" data-hash='#!filter/capability/education'>Smarter Education</p></li>
          <li><p class="nav-link" data-hash='#!filter/capability/supply-chain'>Supply Chain Optimization</p></li>
          <li><p class="nav-link" data-hash='#!filter/capability/workforce'>Workforce Empowerment</p></li>
        </div>

        <li data-submenu="#tech" class="filter-list-submenu-toggle">
          <p>Technology</p>
        </li>

        <div id="tech" class="filter-list-submenu">
          <li><p class="nav-link" data-hash='#!filter/technology/cloud'>Cloud</p></li>
          <li><p class="nav-link" data-hash='#!filter/technology/data'>Data</p></li>
          <li><p class="nav-link" data-hash='#!filter/technology/mobile'>Mobile</p></li>
          <li><p class="nav-link" data-hash='#!filter/technology/social'>Social</p></li>
          <li><p class="nav-link" data-hash='#!filter/technology/watson'>Watson</p></li>
        </div>

        <li data-submenu="#industry" class="filter-list-submenu-toggle">
          <p>Industry</p>
        </li>

        <div id="industry" class="filter-list-submenu">
          <!--li><p class="nav-link" data-hash='#!filter/industry/banking'>Banking</p></li-->
          <li><p class="nav-link" data-hash='#!filter/industry/cities'>Cities & Government</p></li>
          <!--li><p class="nav-link" data-hash='#!filter/industry/education'>Education</p></li-->
          <li><p class="nav-link" data-hash='#!filter/industry/electronics'>Electronics</p></li>
          <li><p class="nav-link" data-hash='#!filter/industry/entertainment'>Entertainment</p></li>
          <li><p class="nav-link" data-hash='#!filter/industry/food'>Food & Beverage</p></li>
          <li><p class="nav-link" data-hash='#!filter/industry/gaming'>Gaming</p></li>
          <li><p class="nav-link" data-hash='#!filter/industry/healthcare'>Healthcare</p></li>
          <li><p class="nav-link" data-hash='#!filter/industry/hospitality'>Hospitality</p></li>
          <li><p class="nav-link" data-hash='#!filter/industry/manufacturing'>Manufacturing</p></li>
          <li><p class="nav-link" data-hash='#!filter/industry/marketing'>Marketing</p></li>
          <li><p class="nav-link" data-hash='#!filter/industry/research'>Research & Development</p></li>
          <li><p class="nav-link" data-hash='#!filter/industry/retail'>Retail</p></li>
          <li><p class="nav-link" data-hash='#!filter/industry/sports'>Sports</p></li>
          <li><p class="nav-link" data-hash='#!filter/industry/transportation'>Transportation</p></li>
        </div>

      </div> <!-- END .filter-list -->

      <li class="socialLinks">
        <div class="social">
          <a href="https://twitter.com/home?status=See%20how%20technology%20is%20changing%20the%20world%20today.%20bit.ly/1g7BaUz%20%23madewithIBM" class="icon icon-twitter" target="_blank" data-linkname="twitter"></a>
          <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://ibm.com/smarterplanet/us/en/madewithibm/&title=Made%20with%20IBM&summary=See%20how%20technology%20is%20changing%20the%20world%20today.%20bit.ly/1g7BaUz%20%23madewithIBM" class="icon icon-linkedin" target="_blank" data-linkname="linkedin"></a>
          <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fibm.com%2Fsmarterplanet%2Fus%2Fen%2Fmadewithibm%2F&title=Made%20with%20IBM&summary=See%20how%20technology%20is%20changing%20the%20world%20today.%20bit.ly/1g7BaUz%20%23madewithIBM" class="icon icon-facebook" target="_blank" data-linkname="facebook"></a>
        </div>
      </li>

      <li class="auxLinks" >
        <a href="http://www.ibm.com/" target="_blank">ibm.com</a>
        <a href="http://www.ibm.com/legal/us/en/" target="_blank">Terms of Use</a>
        <a href="http://www.ibm.com/privacy/us/en/" target="_blank">Privacy Policy</a>
      </li>

    </ul>
  </div> <!-- END iscroller -->
</nav>

<!-- close sideNav -->
