<div id="story-{{ id }}" class="story-waypoint" style="background-image: url('{{story_background_image_url}}');background-repeat: no-repeat; background-size: 100% auto;">

 	<div id="story-header-{{id}}" class="level-6 story-header" style="background:{{color1}}">
	 	<div class="ibm-columns story-header-title" style="background:{{color1}}">
	 		<h2 class="story-title" style="color:#FFF">{{ company }}
	 		<ul class="ibm-connect-bar" style="border-bottom:5px solid #FFF;">

        <li><a class="facebook" title="Share this story on Facebook" href="http://www.facebook.com/sharer.php?u={{{share_fb_url}}}&title={{title}}&summary={{{share_fb_copy}}}" target="_blank">&nbsp;</a></li>
				<li><a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{{share_li_url}}}&title={{title}}&summary={{{share_li_copy}}}" title="Share this story on LinkedIn" target="_blank">&nbsp;</a></li>
				<li><a class="twitter" href="https://twitter.com/home?status={{{share_twitter_copy}}}%20{{{share_twitter_url}}}" title="Share this story on Twitter" target="_blank">&nbsp;</a></li>
				
				<li></li>
			</ul>
	 		</h2>
	 	</div>
	 </div>
	<div class="templates">
	</div>
</div>