<div class="ibm-band template-5 template-waypoint" data-template="{{ template_tracking }}" style="background:url({{template_background_image_url}}) top center no-repeat;background-size:cover;">
	<div class="ibm-columns">

		<div class="template-5">

			<div class="ibm-col-1-1 box t5-mA">
				
				 {{#if modules.[0].assets.[0].image_url}}
					<span data-picture data-alt="">
						<span data-src="{{modules.[0].assets.[0].image_url}}"></span>
						 {{#if modules.[0].assets.[0].image_url_tablet}}
						 	<span data-src="{{modules.[0].assets.[0].image_url_tablet}}"  data-media="(min-width: 641px) and (max-width:1024px)"></span>
						 {{/if}}
						 {{#if modules.[0].assets.[0].image_url_mobile}}
						 	<span data-src="{{modules.[0].assets.[0].image_url_mobile}}"  data-media="(max-width: 640px)"></span>
						 {{/if}}
						
						        <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
						 <noscript>
						 	<img src="{{modules.[0].assets.[0].image_url}}" alt="">
						 </noscript>
					</span>
				{{/if}}
					
				
				
				
				
				{{#if modules.[0].assets.[0].copy}}
					<p class="capability">{{{modules.[0].assets.[0].capability}}}</p>
					<h2 class="description" style="color:{{modules.[0].assets.[0].color1}}">{{{modules.[0].assets.[0].copy}}}</h2>
					
				{{/if}}
				
				{{#if modules.[0].assets.[0].quote}}
					<h2 class="quote" style="color:{{modules.[0].assets.[0].color1}}">{{{modules.[0].assets.[0].quote}}}</h2>
					<p class="attribution">{{{modules.[0].assets.[0].attribution}}}</p>
				{{/if}}
			</div>

		</div>
				
	</div>
</div>