<div class="ibm-band template-waypoint" data-template="{{ template_tracking }}">
	<div class="ibm-columns">

		<div class="template-2">

			<div class="ibm-col-5-2 box">

				<div class="ibm-col-5-2 box t2-mJ">
					<img src="{{modules.[0].assets.[0].image_url}}"/>
				</div>
			
				<div class="ibm-col-5-1 box t2-mK1">
					<img src="{{modules.[1].assets.[0].image_url}}"/>
				</div>

				<div class="ibm-col-5-1 box t2-mK2">
					<img src="{{modules.[2].assets.[0].image_url}}"/>
				</div>

			</div>
			
			<div class="ibm-col-5-3 box t2-mE">
					<img src="{{modules.[3].assets.[0].image_url}}"/>
			</div>

		</div>
				
	</div>
</div>