<div class="ibm-band template-waypoint" data-template="{{ template_tracking }}" style="background:url({{template_background_image_url}}) top center no-repeat;background-size:cover;">

	<div class="video-image-full-bleed" >

		<div class="video-button" id="video-button-{{modules.[0].assets.[0].hyperlink}}">
			<img class="video-img" id="video-img-{{modules.[0].assets.[0].hyperlink}}}" src="{{modules.[0].assets.[0].image_url}}"/>
		</div>

		<div class="youtube-player" id="{{modules.[0].assets.[0].hyperlink}}">
		</div>

	</div>


</div>