<div class="ibm-band template-waypoint" data-template="{{ template_tracking }}">
	<div class="ibm-columns">

		<div class="template-11">

			<div class="ibm-col-5-2 box t11-mJ">
				<img src="{{modules.[0].assets.[0].image_url}}"/>
			</div>
		
			<div class="ibm-col-5-1 box t11-mK1 noMobile">
				<img src="{{modules.[1].assets.[0].image_url}}"/>
			</div>
			
			<div class="ibm-col-5-1 noMobile box t11-mK2 noMobile">
				<img src="{{modules.[2].assets.[0].image_url}}"/>
			</div>
			<div class="ibm-col-5-1 noMobile box t11-mK3 noMobile">
				<img src="{{modules.[3].assets.[0].image_url}}"/>
			</div>

		</div>
		
	</div>
</div>