<div class="ibm-band template-waypoint" data-template="{{ template_tracking }}">
	<div class="ibm-columns">

		<div class="template-9">

			<div class="ibm-col-5-3 box t9-mC">
				<img src="{{modules.[0].assets.[0].image_url}}"/>
			</div>
		
			<div class="ibm-col-5-2 box">
				
				<div class="ibm-col-5-2 box t9-mD">
				<img src="{{modules.[1].assets.[0].image_url}}"/>
				</div>
			
				<div class="ibm-col-5-2 box t9-mJ1">
				<img src="{{modules.[2].assets.[0].image_url}}"/>
				</div>

				<div class="ibm-col-5-2 box t9-mJ2">
				<img src="{{modules.[3].assets.[0].image_url}}"/>
				</div>

			</div>

		</div>
	</div>
</div>