<div class="ibm-band template-waypoint" data-template="{{ template_tracking }}">
	<div class="ibm-band">
	<div class="ibm-columns">

		<div class="template-1">

			<div class="ibm-col-5-2 box t1-mD1">
				<img src="{{modules.[0].assets.[0].image_url}}"/>
			</div>
	
			<div class="ibm-col-5-2 box t1-mD2">
				<img src="{{modules.[1].assets.[0].image_url}}"/>
			</div>
		
			<div class="ibm-col-5-1 noMobile box t1-mI">
				<img src="{{modules.[2].assets.[0].image_url}}"/>
			</div>
			
		</div>

	</div>
</div>